{% extends 'CelmediaToyocostaVehiculosBundle::template.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | Autos Exonerados de Impuestos</title>
    
    <meta name="description" content="Encuentra todos los detalles de los autos Toyota exonerados de impuestos que están disponibles en Toyocosta."/>

    <meta name="keywords" content="autos toyota exonerados ecuador, autos toyota diplomáticos ecuador, autos toyota discapacitados ecuador, autos toyota plan renova ecuador, autos toyota compra pública ecuador." />

{% endblock %}


{% block bannercabecera %}

        <header>
            
            <img src="{{ asset('uploads/custom/exonerados.jpg' ) }}" alt="" class="img-responsive" style="width:100%;" />

        </header>
    
{% endblock %}


{% block contenidotoyocosta %}

    {% if tipo is not defined or tipo is null %}
        {% set tipo = "discapacitados" %}
    {% endif %}      
    
    <div class="container-fluid">
        <div class="row">
            
            <ul class="nav nav-tabs nav-justified nav-exonerados" role="tablist">
                <li role="presentation" class="bg-discapacitados {% if tipo == 'discapacitados' %} active{% endif %}"><a href="#discapacitados" aria-controls="discapacitados" role="tab" data-toggle="tab">Discapacitados</a></li>
                <li role="presentation" class="bg-diplomaticos {% if tipo == 'diplomaticos' %} active{% endif %}"><a href="#diplomaticos" aria-controls="diplomaticos" role="tab" data-toggle="tab">Diplom&aacute;ticos y ONG&acute;S</a></li>
                <li role="presentation" class="bg-plan {% if tipo == 'plan' %} active{% endif %}"><a href="#plan" aria-controls="plan" role="tab" data-toggle="tab">Plan Renova</a></li>
                <li role="presentation" class="bg-compras {% if tipo == 'compras' %}active{% endif %}"><a href="#compras" aria-controls="compras" role="tab" data-toggle="tab">Compras P&uacute;blicas</a></li>
                <li role="presentation" class="bg-gama {% if tipo == 'gama' %} active{% endif %}" style="border-top-color: #8db000;"><a href="#gama" aria-controls="gama" role="tab" data-toggle="tab">Gama</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if tipo == 'discapacitados' %}active{% endif %}" id="discapacitados">
                    
                    <div class="container">
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="title-exonerados text-center">PERSONAS CON DISCAPACIDAD</h1>
                                <p class="text-center">NUESTRO COMPROMISO CON LAS PERSONAS CON DISCAPACIDAD</p> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center" style="letter-spacing: 0px;font-family: 'latoregular';">Difundir el derecho que el Estado Ecuatoriano otorga a los grupos de discapacitados de la población ecuatoriana como "grupo de atención prioritaria" para que pueda importar un vehículo nuevo marca TOYOTA ortopédico que satisfaga las necesidades especiales y que facilite su movilidad.</p>
                                    </div>
                                </div>
                                                            
                            </div>
                        </div>


                        <div class="row"  style="margin-bottom:50px;">

                            <div class="col-md-12">
                                <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
                                    
                                        
                                        <li class="cbp-ntopen">
                                            <h3 class="cbp-nttrigger">BENEFICIOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p style="display:none;">Prueba</p>
                                                <div class="row tb-20">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/1click.png' %}
                                                            <img src="{{ asset_url }}" alt="" class="img-responsive img-center"/>
                                                            {% endimage %}
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>
                                                                Exoneración de impuestos (IVA, ICE y Aranceles), el cual se aplica de conformidad al grado de discapacidad, en los porcentajes establecido en la Ley Orgánica de Discapacidades y su Reglamento.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row tb-20">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/2click.png' %}
                                                            <img src="{{ asset_url }}" alt="" class="img-responsive img-center"/>
                                                            {% endimage %}
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>
                                                                Asesoramiento de un equipo de trabajo especializado en gestionar tramites de exoneración de impuestos.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>                                                                                  
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">REQUISITOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p>
                                                    Para aplicar al beneficio debe tener el Carnet que lo habilite como persona beneficiaria de las exoneraciones por discapacidad, de acuerdo al porcentaje mínimo establecido por la Ley y el Reglamento y presentar los siguientes requisitos:
                                                </p>
                                                <div class="col-md-12">
                                                    <ul class="list-exonerados tb-20">
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia a color de cédula de identidad y carnet de discapacidad.
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia a color de la licencia de conducir.
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia a color del Certificado Único de Calificación de Discapacidad o certificado que faculta la importación SENAE (emitido por el  Ministerio de Salud Pública).
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Original de la Autorización de Exoneración de impuestos (Resolución emitida por la SENAE)
                                                            
                                                            </p>
                                                        </li>
                                                    </ul>                                           

                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">CASO ESPECIAL</h3>
                                            <div class="cbp-ntcontent">
                                                <div class="row tb-20">
                                                    <div class="col-md-3">
                                                        
                                                            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/exonerados/informacion/hoja.png' %}
                                                                <img src="{{ asset_url }}" class="img-responsive" alt="" style="" />
                                                            {% endimage %}
                                                    </div>
                                                    <div class="col-md-6">
                                                            <p>En caso de que además de la persona con discapacidad, haya otra persona autorizada a conducir el vehículo, se requiere:<br/><br/> Declaración juramentada original, copia de cedula, votación y licencia de conducir a color.</p>
                                                    </div>
                                                </div>
                                            </div>    
                                        </li>

                                </ul> 

                            </div>
                        </div>

                        
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane {% if tipo == 'diplomaticos' %}active{% endif %}" id="diplomaticos">
                    <div class="container">
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="title-exonerados text-center">NUESTRO COMPROMISO CON DIPLOMÁTICOS Y ONGS</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center" style="letter-spacing: 0px;font-family: 'latoregular';">
                                            Aportar con productos de calidad mediante la importación de vehículos nuevos marca TOYOTA al sector Diplomático y Organismos Internacionales que realizan valiosas contribuciones a la sociedad ecuatoriana.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"  style="margin-bottom:50px;">

                            <div class="col-md-12">
                                <ul id="cbp-ntaccordion2" class="cbp-ntaccordion">
                                    
                                        
                                        <li class="cbp-ntopen">
                                            <h3 class="cbp-nttrigger">BENEFICIOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    Beneficio de exoneración de impuestos en la compra de vehículos Toyota para Diplomáticos y representantes de Organismos Internacionales, para el desarrollo de sus actividades de prestación de servicios a la ciudadanía, según sea autorizado por el Ministerio de Relaciones Exteriores y según haya sido.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">REQUISITOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p>
                                                    DIPLOM&Aacute;TICOS
                                                </p>
                                                <div class="col-md-12">
                                                    <ul class="list-exonerados tb-20">
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia pasaporte Diplomático (2 copias a color)                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Copia Carnet Diplomático (1 copia a color)
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Nota verbal emitida por el Ministerio de Relaciones Exteriores                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Acción de personal o nombramiento del diplomático
                                                            </p>
                                                        </li>
                                                    </ul>                                           

                                                </div>
                                                <p>
                                                    ORGANISMOS INTERNACIONALES
                                                </p>
                                                <div class="col-md-12">
                                                    <ul class="list-exonerados tb-20">
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia del convenio entre el Ministerio de Relaciones Exteriores y el Gobierno del País que pertenece el Organismo Internacional.                                                          
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Copia a color de la Cédula o Pasaporte vigente del Representante Legal del Organismo.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Nombramiento del Representante Legal.                                                     
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Copia del RUC del Organismo Internacional.
                                                            </p>
                                                        </li>
                                                    </ul>                                           

                                                </div>

                                            </div>
                                        </li>

                                        
                                </ul> 

                            </div>
                        </div>

                        

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane {% if tipo == 'plan' %}active{% endif %}" id="plan">
                    <div class="container">
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="title-exonerados text-center">NUESTRO COMPROMISO CON EL TRANSPORTE PRODUCTIVO</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center" style="letter-spacing: 0px;font-family: 'latoregular';">
                                            Contribuir con productos de calidad mediante la importación de vehículos nuevos marca TOYOTA, para mejorar las unidades de transporte público que realizan valiosos aportes a la sociedad ecuatoriana.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"  style="margin-bottom:50px;">

                            <div class="col-md-12">
                                <ul id="cbp-ntaccordion3" class="cbp-ntaccordion">
                                    
                                        
                                        <li class="cbp-ntopen">
                                            <h3 class="cbp-nttrigger">BENEFICIOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p style="display:none;">Prueba</p>
                                                <div class="row tb-20">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/1click.png' %}
                                                            <img src="{{ asset_url }}" alt="" class="img-responsive img-center"/>
                                                            {% endimage %}
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>
                                                                Exoneración de aranceles en la importación de un vehículo.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row tb-20">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/2click.png' %}
                                                            <img src="{{ asset_url }}" alt="" class="img-responsive img-center"/>
                                                            {% endimage %}
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>
                                                                Asesoramiento de un equipo de trabajo especializado en gestionar tramites de exoneración de impuestos.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>                                                                                  
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">REQUISITOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p>
                                                    DIPLOM&Aacute;TICOS:
                                                </p>
                                                <div class="col-md-12">
                                                    <ul class="list-exonerados tb-20">
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Pertenecer mínimo un año a una Cooperativa y/o Compañía de Transporte, legalmente constituida con permiso de operación vigente.
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            No haber sido beneficiado con el programa PLAN - RENOVA, en los últimos 5 años.
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Copia de cedula, RUC del solicitante..
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Informe técnico emitido por la Agencia Nacional de Tránsito.
                                                            
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                                Bono de chatarrización extendido por alguna de las entidades autorizadas para el efecto.
                                                            </p>
                                                        </li>
                                                    </ul>                                           

                                                </div>
                                            </div>
                                        </li>

                                        
                                </ul> 

                            </div>
                        </div>

                        

                    </div>

                </div>
                
                <div role="tabpanel" class="tab-pane {% if tipo == 'compras' %}active{% endif %}" id="compras">
                    <div class="container">
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="title-exonerados text-center">NUESTRO COMPROMISO CON LAS INSTITUCIONES PÚBLICAS</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center" style="letter-spacing: 0px;font-family: 'latoregular';">
                                            Contribuir con productos de calidad y durabilidad para mejorar el parque automotor de las Instituciones Públicas que realizan valiosos aportes a la sociedad ecuatoriana.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"  style="margin-bottom:50px;">

                            <div class="col-md-12">
                                <ul id="cbp-ntaccordion4" class="cbp-ntaccordion">
                                    
                                        
                                        <li class="cbp-ntopen">
                                            <h3 class="cbp-nttrigger">BENEFICIOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    Exoneración de impuestos: Ad Valorem, ICE, IVA, Fodinfa.
                                                    Asesoramiento de un equipo de trabajo especializado en gestionar tramites de exoneración de impuestos.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">REQUISITOS</h3>
                                            <div class="cbp-ntcontent">
                                                <p>
                                                    Estos son los requisitos para aplicar a un Toyota exonerado de impuestos:
                                                </p>
                                                <div class="col-md-12">
                                                    <ul class="list-exonerados tb-20">
                                                        <li>
                                                            <p class="sublist-exo">
                                                            La Empresa Pública tiene que contar con el "Token"
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Debe estar registrado en Ecuapass como "OCE"
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            Autorización de importación por parte del SERCOP (Servicio Nacional de Contratación Pública) con Ecuapass
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            RUC actualizado, mismo que debe estar catastrado como Empresa Pública
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Nombramiento del Representante Legal
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p class="sublist-exo">
                                                            
                                                            Declaratoria de emergencia o compra por SERCOP
                                                            </p>
                                                        </li>
                                                    </ul>                                           

                                                </div>
                                                
                                            </div>
                                        </li>

                                        
                                </ul> 

                            </div>
                        </div>

                        

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane {% if tipo == 'gama' %}active{% endif %}" id="gama">
                    <div class="container">
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="title-exonerados text-center">MODELOS TOYOTA</h1>
                                
                            </div>
                        </div>

                        <div class="row"  style="margin-bottom:50px;">

                            <div class="col-md-12">
                                <ul id="cbp-ntaccordion4" class="cbp-ntaccordion">
                                    
                                        
                                        <li class="cbp-ntopen">
                                            <h3 class="cbp-nttrigger">TOYOTA FORTUNER</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    El Toyota Fortuner presenta dos tipos de motores: uno de 4.000cc 24V con 238 HP y doble arbol y otra versión de 2.700cc, 16V con 160 HP y doble arbol, ambas versiones cuentan con tecnología VVT-i, para un mejor rendimiento de los motores. El Toyota Fortuner 4.000cc cuenta con Motor VVT-i V6.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA HILUX</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    La camioneta más vendida del mundo y un ícono de la calidad Toyota que supera día a día grandes expectativas, cuenta con diseño exterior fuerte y emotivo de líneas solidas que le dan una nueva definición de rudeza y le otorgan un estilo moderno y atractivo; como el de un SUV.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA INNOVA 7</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    Toyota ha desarrollado un vehículo que se orienta a la generación de experiencias en compañía de aquellos que mas queremos, con gran capacidad en el transporte de pasajeros, este gran vehículo, permite disfrutar de la vida en la mejor compañía.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA Land Cruiser Prado</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    Con más de medio siglo de historia y un alto enfoque en alcanzar la
                                                    perfección, el Toyota Land Cruiser representa un ícono de la marca Toyota
                                                    a nivel mundial gracias a su impactante diseño, su alta funcionalidad y
                                                    durabilidad.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA RAV4</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    El Toyota RAV4 ha sido concebido para tener un excelente desempeño tanto en la ciudad como en la carretera, su concepto se enfoca en la mezcla perfecta entre un todo terreno y un vehículo urbano.  Este es un SUV (vehículo deportivo utilitario) que presenta excelentes prestaciones y comodidades para todos y cada uno de los integrantes de la familia.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA PriusC Sport</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    El Prius, equipado con el revolucionario sistema Hybrid Synergy Drive® de Toyota, produce una experiencia de conducción inolvidable, plena de suavidad y potencia, logrando unas emisiones de CO2 extraordinariamente bajas y un impresionante ahorro de combustible. En definitiva, el híbrido más eficiente y dinámico fabricado hasta la fecha.
                                                </p>
                                                
                                            </div>
                                        </li>

                                        <li>
                                            <h3 class="cbp-nttrigger">TOYOTA COROLLA</h3>
                                            <div class="cbp-ntcontent">
                                                <p class="text-left">
                                                    Corolla es la combinación perfecta de calidad, diseño, confort y durabilidad. Sus más de 40 millones de unidades comercializadas a nivel mundial, desde su lanzamiento en 1966, lo posicionaron como el "Auto Más Vendido de la Historia". Es decir, el más elegido.
                                                </p>
                                                
                                            </div>
                                        </li>

                                </ul> 

                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>

        </div>

        <div class="row tb-20">
            <div class="container">
                <div class="row">
                    <a href="#">
                
                        <div class="col-md-2 col-md-offset-6 btn btn-toyocosta">
                            COTIZAR
                        </div>
                    </a>
                </div>  
            </div>

        </div>


    </div>



{% endblock %}


