    <footer>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2016 TOYOCOSTA ALL RIGHTS RESERVED.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    <div id="footer">
        <div class="container-fluid">
            <div class="row" style="padding-top: 40px;padding-bottom: 40px;">
                <div class="col-sm-8 col-sm-offset-2">

                    <div class="row border-footer">
                        <div class="col-md-3">
                            <p class="text-footer">
                                <a href="http://www.toyocosta.com/blog">Noticia</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-footer">
                                <a href="{{path('custom_certificados')}}">Certificado Toyocosta</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-footer">
                                <a href="{{path('custom_testdrive')}}">Test Drive</a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p class="text-footer">
                                <a href="{{path('custom_contactenos')}}">Cont&aacute;ctenos</a>
                            </p>
                        </div>
                                               
                    </div>
                    <div class="row" style="padding-top: 40px;padding-bottom: 40px;">

                        {#<div class="col-md-2 text-left col-md-offset-1 col-xs-6">
                            <p class="text-footer">AUTOS</p>
                            <p class="links-footer">
                            {% for item in vehiculos_autos %}
                                <a class="link-footer" href="{{ path('custom_vehiculo', {"categoria": item.categoria.nombre,"nombre": item.nombre ,'id': item.id } )  }}">{{item.nombre}}</a><br />
                            {% endfor %}
                                
                            </p>

                        </div>#}

                        <div class="col-md-2 col-md-offset-2 text-left col-xs-6">
                            <p class="text-footer">CAMIONETAS</p>
                            <p class="links-footer">
                            {% for item in vehiculos_camionetas %}
                                <a class="link-footer" href="{{ path('custom_vehiculo', {"categoria": item.categoria.nombre,"nombre": item.nombre ,'id': item.id } )  }}">{{item.nombre}}</a><br />
                            {% endfor %}
                                {#<a class="link-footer" href="#">Hilux 2016 4X2</a><br />
                                <a class="link-footer" href="#">Hilux 2016 4X4</a><br />
                                <a class="link-footer" href="#">Hilux CD 4X2</a><br />
                                <a class="link-footer" href="#">Hilux CD 4X4</a><br />#}
                            </p>
                        </div>

                        <div class="col-md-2 text-left col-xs-6">
                            <p class="text-footer">TODO TERRENO</p>
                            <p class="links-footer">
                            {% for item in vehiculos_todoterreno %}
                                <a class="link-footer" href="{{ path('custom_vehiculo', {"categoria": item.categoria.nombre,"nombre": item.nombre ,'id': item.id } )  }}">{{item.nombre}}</a><br />
                            {% endfor %}
                                {#<a class="link-footer" href="#">Fortuner</a><br />
                                <a class="link-footer" href="#">Innova 7</a><br />
                                <a class="link-footer" href="#">Land Cruiser</a><br />
                                <a class="link-footer" href="#">Rav 4</a><br /><br />#}
                            </p>
                        </div>


                        <div class="col-md-2 text-left col-xs-6">
                            <p class="text-footer">OTRAS L&Iacute;NEAS</p>
                            <p class="links-footer">
                                <a class="link-footer" href="{{path('usados')}}">Seminuevos</a><br />
                                <a class="link-footer" href="#">Llantas</a><br />
                                <a class="link-footer" href="#">Montacargas</a><br />
                                {#<a class="link-footer" href="#">Motos</a><br />
                                <a class="link-footer" href="#">Montacargas</a><br />
                                #}
                            </p>
                        </div>

                        <div class="col-md-2 text-left col-xs-6">
                            <p class="text-footer">SERVICIOS</p>
                            <a class="link-footer" href="{{path('custom_cita',  {'tipo': 'mantenimiento'} )}}">Cita Talleres</a><br />
                            <a class="link-footer" href="{{path('custom_tallermovil')}}">Taller M&oacute;vil</a><br />
                            <a class="link-footer" href="{{path('custom_mantenimientoexpress')}}">Mantenimiento express</a><br />
                            <a class="link-footer" href="{{path('custom_cita',  {'tipo': 'reparaciones'} )}}">Reparaciones</a><br />
                            <a class="link-footer" href="{{path('custom_cita',  {'tipo': 'pintura'} )}}">Pintura</a>
                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-6 col-md-offset-3">
                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/chat.png' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive img-center" style="position: relative;float: left;" />
                                    {% endimage %}
                                    <p class="text-footer" style="padding-top: 5px;float: left;padding-left: 15px;">
                                        <a href="https://twitter.com/toyocostanews">Chat en L&iacute;nea</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6" style="border-left: 1px solid #666;">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-3 col-xs-12">
                                    <a id="face" href="https://www.facebook.com/toyocosta" target="_blank">
                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/facebook.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-normal" />
                                        {% endimage %} 

                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/facebookhover.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-hover" style="display:none;" />
                                        {% endimage %}                                        
                                    </a>
                                </div>

                                <div class="col-md-2 col-xs-12">
                                    <a id="tweet" href="https://twitter.com/toyocostanews" target="_blank">
                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/twitter.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-normal" />
                                        {% endimage %}

                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/twitterhover.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-hover" style="display:none;" />
                                        {% endimage %} 
                                        
                                    </a>
                                </div>

                                <div class="col-md-2 col-xs-12">
                                    <a id="blog" href="http://www.toyocosta.com/blog/" target="_blank">
                                    
                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/blog.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-normal" />
                                        {% endimage %}

                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/bloghover.png' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive img-center img-hover" style="display:none;" />
                                        {% endimage %} 

                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-copy">
            <h5 class="copy-footer">COPYRIGHT @2016 TOYOCOSTA ALL RIGHTS RESERVED</h5>
        </div>
    </div>

    </footer>
