        <!-- Vehiculos -->
            <div class="container-fluid">
                    
                <div class="row text-center">

                    <div class="col-md-4">
                        
                        <div class="row">
                            {% for item in autos  %}
                                {% if loop.first %}
                                    <figure class="imghome" >


                                        
                                        {#{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/autos/corolla.jpg' %}
                                        <img src="{{ asset_url }}" alt="" class="img-responsive"/>
                                        {% endimage %}#}

                                        <img src="{{ asset('uploads/slide-vehiculos/portada/'  ~   item.imagenSlide ) }}" alt="" class="img-responsive" />

                                        <figcaption>    
                                            <div class="caption">
                                                <h2 class="title-accesos">Autos</h2>
                                                <a href="{{ path('custom_vehiculo', {"categoria": "Autos" ,"nombre": "Corolla" ,'id': 2 } )  }}">
                                                    <div class="btn btn-home">Explorar {{item.vehiculoSlide.nombre }}</div>
                                                </a>
                                                <p>
                                                    Ver todos los autos
                                                </p>
                                            </div>
                                            <a href="http://www.toyocosta.com/blog">Ver todos los autos</a>
                                        </figcaption> 

                                    </figure>   

                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <figure class="imghome" >
                                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/camionetas/hilux-2016-4X2.jpg' %}
                                <img src="{{ asset_url }}" alt="" class="img-responsive"/>
                                {% endimage %}
                                <figcaption>    
                                    <div class="caption">
                                        <h2 class="title-accesos">Camionetas</h2>
                                        <a href="http://www.toyocosta.com/web/todoterreno/Toyota/FORTUNER/16">
                                            <div class="btn btn-home">Explorar Hilux 2016 4X2</div>
                                        </a>
                                        <p>Ver todas los camionetas</p>
                                    </div>
                                    <a href="http://www.toyocosta.com/blog">Ver todas los camionetas</a>
                                </figcaption> 
                            </figure> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <figure class="imghome" >
                                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/todoterreno/fortuner.jpg' %}
                                <img src="{{ asset_url }}" alt="" class="img-responsive"/>
                                {% endimage %}
                                <figcaption>    
                                    <div class="caption">
                                        <h2 class="title-accesos">Todo Terreno</h2>
                                        <a href="http://www.toyocosta.com/web/todoterreno/Toyota/FORTUNER/16">
                                            <div class="btn btn-home">Explorar Fortuner</div>
                                        </a>
                                        <p>Ver todo terreno</p>
                                    </div>
                                    <a href="http://www.toyocosta.com/blog">Ver todo terreno</a>
                                </figcaption> 
                            </figure> 
                        </div>
                    </div>
                </div>
                
            </div>