{% extends 'CelmediaToyocostaVehiculosBundle::template.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | Taller Movil</title>
    
    <meta name="description" content="Planifica tu cita de mantenimiento Toyocosta registrando tus datos para que un representante se comunique contigo."/>

    <meta name="keywords" content="mantenimiento toyota guayaquil, mantenimiento camionetas toyota guayaquil, toyocosta mantenimiento" />

{% endblock %}


{% block bannercabecera %}

        <header>

            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/tallermovil.jpg' %}
            <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive"  style="width:100%;" />
            {% endimage %}

        </header>
    
{% endblock %}


{% block contenidotoyocosta %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px;">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('toyocosta_homepage') }}">Inicio</a>
                    </li>
                    <li>
                        <a href="{{ path('custom_postventa') }}">Postventa</a>
                    </li>
                    <li class="active">Taller M&oacute;vil</li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center titular">¡AGENDE SU CITA MOVIL AQU&Iacute;!</h1>
            </div>
        </div>

        <div class="row tb-20">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center parrafo">Por favor llene el siguiente formulario para que un representante de Toyocosta pueda comunicarse inmediatamente con usted.</p>
            </div>
        </div>

        <div class="row">
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-lg-12">
                        
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs nav-justified nav-taller" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="dis">INFORMACI&Oacute;N</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="dip">HORARIOS</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="pla">PARA CITAS</a></li>
                          </ul>

                    </div>  

                </div>
                
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div role="tabpanel">


                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                
                                    <div class="col-lg-10 col-lg-offset-1">
                                        
                                            
                                            <div class="row tb-20">
                                                <div class="col-lg-8">
                                                    <h4 class="">Servicios:</h4>
                                                    <ul class="list-exonerados">
                                                        <li>
                                                            Mantenimientos desde 1.000 km hasta 100.000 km o más.                                                                   
                                                        </li>
                                                        <li>
                                                            Cambio de Aceite y Filtro de Motor
                                                        </li>
                                                        <li>
                                                            Cambio de Bujías.
                                                        </li>
                                                        <li>
                                                            Cambio de Filtro de Aire.
                                                        </li>
                                                        <li>
                                                            Cambio de Aceite de Diferencial y Caja de Cambios.
                                                        </li>
                                                        <li>
                                                            Rotación de llantas.
                                                        </li>
                                                        <li>
                                                            Limpieza de frenos.
                                                        </li>
                                                        <li>
                                                            Limpieza de inyectores
                                                        </li>
                                                        <li>
                                                            Cambio de pastillas de Freno (solo si su vehículo tiene hasta 40.000 km)
                                                        </li>
                                                        <li>
                                                            Cambio de banda única
                                                        </li>
                                                        <li>
                                                            Cambio de batería
                                                        </li>
                                                    </ul>
                                                    <p>*No incluyen los mantenimientos fuertes de (40.000 km 80.000 km 120.000 km 160.000 km) en los vehículos híbridos.</p>
                                                </div>  
                                            </div>

                                            <div class="row tb-20">
                                                <div class="col-lg-8">
                                                    <h4 class="">Ventajas competitivas (valor agregado):</h4>
                                                    <ul class="list-exonerados">
                                                        <li>
                                                            Servicio a domicilio, una solución que ahorra tiempo, dinero y riesgos al cliente.
                                                        </li>
                                                        <li>
                                                            Igual calidad de atención que el taller de planta.
                                                        </li>
                                                        <li>
                                                            Cliente puede observar mientras reparan su auto.
                                                        </li>
                                                        <li>
                                                            Disponibilidad inmediata del auto una vez reparado.
                                                        </li>
                                                        <li>
                                                            Horarios de fin de semana.
                                                        </li>
                                                        <li>
                                                            Centro de atención telefónica que permite planificar su cita de manera rápida, cómoda y segura inclusive hasta el mismo dependiendo de disponibilidad.
                                                        </li>
                                                        <li>
                                                            Sistema de recordación de citas.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


 

                                    </div>
                                    
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">

                                <div class="container">
                
                                    <div class="row espacio-a">
                                        
                                        <div class="col-lg-12">
                                            

                                            <h3 class="text-center">Horarios:</h3>
                                            <div class="row" style="padding-bottom:25px;">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                    
                                                    <ul class="list-exonerados">
                                                        <li>Lunes a Viernes | 8h00 am a 17h00 pm</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            

                                        </div>  

                                    </div>
                                    
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div class="container">
                
                                    <div class="row espacio-a">
                                        
                                        <div class="col-lg-12">
                                            

                                            <h3 class="text-center">Citas a:</h3>
                                            <div class="row" style="padding-bottom:25px;">
                                                <div class="col-lg-8 col-lg-offset-2">
                                                    
                                                    <ul class="list-exonerados">
                                                        <li>
                                                            tallermovil@toyocosta.com.ec
                                                        </li>
                                                        <li>
                                                            3704700 ext 2114
                                                        </li>
                                                        <li>
                                                            Whatsapp 0959025520
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            

                                        </div>  

                                    </div>
                                    
                                </div>



                            </div>
                            
                          </div>

                        </div>

                    </div>
                </div>  
            </div>
        </div>

        

        <form id="form-mantenimiento" class="form-info contenedor-centrar" enctype="multipart/form-data" >

            <div class="row">
                <div class="col-md-12">

                    <ul id="cbp-ntaccordion5" class="cbp-ntaccordion">
                        
                        
                        <li class="cbp-ntopen">
                            <h3 class="cbp-nttrigger">DATOS PERSONALES</h3>
                            <div class="cbp-ntcontent">
                                <p style="display:none;">Prueba</p>
                                <div class="row tb-20"></div>

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Nombre:</label>

                                                

                                                <input id="mnombre" name="mnombre" type="text" class="form-control" placeholder="" />
                                            </div>
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Apellido:</label>

                                                
                                                <input id="mapellido" name="mapellido" type="text" class="form-control" placeholder="" />
                                            </div>

                                        </div>  
                                    </div>

                                </div>


                                <input type="hidden"  id="selectedRegalo" name="selectedRegalo"   value="noselected"  />
                    

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Tel&eacute;fono:</label>
                                                <input id="mtelefono" name="mtelefono" type="text" class="form-control" placeholder="" />
                                            </div>
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Email:</label>
                                                <input id="memail" name="memail" type="text" class="form-control" placeholder="" />
                                            </div>

                                        </div>  
                                    </div>

                                </div>


                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Celular:</label>
                                                <input id="mcelular" name="mcelular" type="text" class="form-control" placeholder="" />
                                            </div>
                                            
                                        </div>  
                                    </div>

                                </div>


                                <div class="row tb-20"></div>

                            </div>
                        </li>

                        <li>
                            <h3 class="cbp-nttrigger">DATOS DE LA CITA</h3>
                            <div class="cbp-ntcontent">
                                <p style="display:none;">
                                    Prueba
                                </p>
                                <div class="row tb-20"></div>
                                    

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Reserva de:</label>
                                                <select name="mreserva" id="mreserva" class="form-control txt-select" onchange="reservaSelected(this)">
                                                    <option value="">Selecciona un tipo</option>
                                                    {% for reserva in reservas %}
                                                        <option value="{{ reserva.id }}" >{{ reserva.nombre }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>

                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Fecha Tentativa</label>
                                                <input id="mfecha" name="mfecha" type="date" class="form-control" placeholder="yyyy/mm/dd" />
                                            </div>

                                        </div>  
                                    </div>

                                </div>
                                

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <div id="dir" style="display:none;">{{  asset('uploads/obsequios/')  }}</div>
                                                <label>Taller:</label>
                                                <select name="mtaller" id="mtaller" class="form-control txt-select" onchange="tallerSelected(this)">
                                                
                                                    <option value="">Selecciona un taller</option>
                                                </select>
                                            </div>

                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Observaciones:</label>
                                                <textarea name="mobservaciones" id="mobservaciones" class="form-control" rows="3"></textarea>
                                            </div>


                                        </div>  
                                    </div>

                                </div>

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="row">
                                            

                                            <div class="col-xs-4 col-xs-offset-1" id="sm-comentario" style="display:none;">
                                                <label>Comentario:</label>
                                                <textarea id="mcomentario" name="mcomentario" class="form-control" rows="3"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row space-input" id="bloque-obsequio">
                                    <div class="col-md-8 col-md-offset-2">

                                        <h3 style="text-align:left;color:#FF0000;font-size:18px;">Seleccione uno de los regalos que tenemos para usted</h3>
                                        <select name="regalo" id="regalo" class="regalo">
                                                                                
                                            <option selected disabled="disabled"></option>
                                                                                                                        

                                        </select>
                                    </div>

                                </div>


                                <div class="row space-input" id="sm-modelo-km" style="display:none;">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="row">
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Modelo:</label>
                                                {#<select name="mmodelo" id="mmodelo"  class="form-control txt-select">
                                                    <option value="">Selecciona un modelo</option>
                                                    {% for vehiculo in vehiculos %}
                                                        <option value="{{ vehiculo.id }}" >{{ vehiculo.nombre }}</option>
                                                    {% endfor %}
                                                </select>#}
                                                <select name="mmodelo" id="mmodelo" class="form-control txt-select">
                                                    <option value="">Selecciona un modelo</option>
                                                    <option value="Corolla">COROLLA</option>
                                                    <option value="Hilux CD4x2">HILUX CD 4X2</option>
                                                    <option value="Hilux CD4x4">HILUX CD 4x4</option>
                                                    <option value="4Runner">4RUNNER</option>
                                                    <option value="Fj Cruiser">FJ CRUISER</option>
                                                    <option value="Prius C Sport">PRIUS C SPORT</option>
                                                    <option value="Prius Hibrido">PRIUS HIBRIDO</option>
                                                    <option value="Yaris">YARIS</option>
                                                    <option value="Hilux Chasis 4x2">HILUX CHASIS 4X2</option>
                                                    <option value="Hilux CS">HILUX CS</option>
                                                    <option value="Fortunes">FORTUNER</option>
                                                    <option value="Innova 7">INNOVA 7</option>
                                                    <option value="Land Cruiser">LAND CRUISER</option>
                                                    <option value="Highlander">HIGHLANDER</option>
                                                    <option value="Lexus">LEXUS</option>
                                                    <option value="Camry">CAMRY</option>
                                                    <option value="Gt 86">GT-86</option>
                                                    <option value="Hiace">HIACE</option>
                                                    <option value="Sequoia">SEQUOIA</option>
                                                    <option value="Sienna">SIENNA</option>
                                                    <option value="Tacoma">TACOMA</option>
                                                    <option value="Corona">CORONA</option>
                                                    <option value="Cressida">CRESSIDA</option>
                                                    <option value="Crow">CROW</option>
                                                    <option value="Stout">STOUT</option>
                                                    <option value="Tercel">TERCEL</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4 col-xs-offset-1">
                                                <label>Kilometros:</label>
                                                <select name="mkilometraje" id="mkilometraje"  class="form-control txt-select">
                                                    <option value="">Seleccione un Kilometraje</option>                                 
                                                    <option value="1,000 kms">1,000 kms</option>
                                                    <option value="5,000 kms">5,000 kms</option>
                                                    <option value="10,000 kms">10,000 kms</option>
                                                    <option value="15,000 kms">15,000 kms</option>
                                                    <option value="20,000 kms">20,000 kms</option>
                                                    <option value="25,000 kms">25,000 kms</option>
                                                    <option value="30,000 kms">30,000 kms</option>
                                                    <option value="35,000 kms">35,000 kms</option>
                                                    <option value="40,000 kms">40,000 kms</option>
                                                    <option value="45,000 kms">45,000 kms</option>
                                                    <option value="50,000 kms">50,000 kms</option>
                                                    <option value="55,000 kms">55,000 kms</option>
                                                    <option value="60,000 kms">60,000 kms</option>
                                                    <option value="65,000 kms">65,000 kms</option>
                                                    <option value="70,000 kms">70,000 kms</option>
                                                    <option value="75,000 kms">75,000 kms</option>
                                                    <option value="80,000 kms">80,000 kms</option>
                                                    <option value="85,000 kms">75,000 kms</option>
                                                    <option value="90,000 kms">90,000 kms</option>
                                                    <option value="95,000 kms">95,000 kms</option>
                                                    <option value="100,000 kms">100,000 kms</option>
                                                </select>
                                            </div>

                                        </div>  
                                    </div>

                                </div>

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1" style="padding-top:40px;">
                                        <div class="col-xs-4 col-xs-offset-4">
                                            <div class="g-recaptcha" data-sitekey="6Ldz2AETAAAAAFVuBytqxNj6NvMtZnbCe1_Q_cgP"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1">
                                        <p>Servico exclusivo para clientes que residan en el cantón Samborondón desde
                                        el km 1 hasta el 10 de la vía Samborondón.</p>
                                        <p>Los horarios de atención son de Lunes a Viernes de 8:00 a 16:00
                                        Aplican condiciones, revisar <a class="link-taller">T&Eacute;RMINOS Y CONDICIONES</a></p>
                                    </div>
                                </div>
                                <div class="row space-input">
                                    <div class="col-md-10 col-md-offset-1" style="padding-top:20px;">

                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-5">
                                                <input type="submit" value="Enviar" class="btn btn-toyocosta" style="width:100%;">
                                            </div>
                                        </div>  
                                    </div>

                                </div>

                                <div class="row tb-20"></div>
                                
                            </div>
                        </li>

                            
                    </ul> 



                </div>
            </div>


        </form>

        <div class="row" style="padding-bottom:50px;"></div>

    </div>



{% endblock %}


