{% extends 'CelmediaToyocostaVehiculosBundle::template.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | Talleres y Servicios</title>
    
    <meta name="description" content="Encuentra en Toyocosta el mejor servicio de mantenimiento y talleres para autos Toyota."/>

    <meta name="keywords" content="concesionario toyota ecuador, reparación autos toyota ecuador, mantenimiento autos toyota ecuador, taller autos toyota ecuador, lavado autos toyota ecuador, pintura autos toyota ecuador, alineación autos toyota ecuador, repuestos autos toyota ecuador." />

{% endblock %}


{% block bannercabecera %}

        <header>
            
            <img src="{{ asset('uploads/custom/talleres-y-servicios.jpg' ) }}" alt="" class="img-responsive" style="width:100%;" />

        </header>
    
{% endblock %}


{% block contenidotoyocosta %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px;">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('toyocosta_homepage') }}">Inicio</a>
                    </li>
                    <li class="active">Talleres y Servicios</li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/servicio1.jpg' %}
                        <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive"  style="width:100%;" />
                        {% endimage %}
                        <h4 class="top-10">Atenci&oacute;n de Primera</h4>
                        <ul class="list-exonerados list-talleres">
                            <li>
                                Servicio de Calidad en todas nuestras Agencias
                            </li>
                            <li>
                                Confiabilidad en el reemplazo de repuestos
                            </li>
                            <li>
                                Puntualidad en la entrega de su vehículo
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/servicio2.jpg' %}
                        <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive"  style="width:100%;" />
                        {% endimage %}
                        <h4 class="top-10">Trabajo bien hecho</h4>
                        <ul class="list-exonerados list-talleres">
                            <li>
                                Técnicos Especializados que conocen más que nadie su Toyota
                            </li>
                            <li>
                                Garantía en repuestos y servicio
                            </li>
                            <li>
                                Equipo con tecnología de punta única para su Toyota
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/accesos/servicio3.jpg' %}
                        <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive"  style="width:100%;" />
                        {% endimage %}
                        <h4 class="top-10">Precio justo</h4>
                        <ul class="list-exonerados list-talleres">
                            <li>
                                Costos de Mantenimiento unificados en todas nuestras Agencias
                            </li>
                            <li>
                                Precios transparentes, más valor por su dinero
                            </li>
                            <li>
                                Flexibilidad en Formas de Pago
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 text-center tb-20">
                <p>la experiencia en talleres Toyota, tranquilidad total…</p>
            </div>
        </div>
        <div class="divisor"></div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center title-exonerados">¡VEN Y VIVE!</h1>
                <p class="text-center">Encuentra tu concesionario <strong>TOYOTA</strong></p>
                
            </div>
            
        </div>
        <div class="row" style="padding-bottom:20px;">
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center">
                    Contamos con una amplia red de Talleres cercanos a su domicilio y lugar de trabajo en Guayaquil, la mejor cobertura geográfica para brindarle el mejor servicio con la mayor comodidad.
                </p>
            </div>
        </div>

        <div class="divisor"></div>

        <div class="row tb-20">
            <div class="col-md-4 ficha-talleres">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/mantenimiento.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Mantenimiento Express</p>
            </div>
            <div class="col-md-4 ficha-talleres bd-left bd-right">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/lavado.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Lavado y reacondicionamiento de veh&iacute;culos</p>
            </div>
            <div class="col-md-4 ficha-talleres">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/reparaciones.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Reparaciones</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
        </div>

        <div class="row tb-20">
            <div class="col-md-4 ficha-talleres">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/enderezada.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Enderezada y Pintura</p>
            </div>
            <div class="col-md-4 ficha-talleres bd-left bd-right">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/alineacion.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Alineaci&oacute;n y Balanceo</p>
            </div>
            <div class="col-md-4 ficha-talleres">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/repuesto.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Amplio stock de Repuestos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
            <div class="col-md-4">
                <div class=" bd-bottom" style="margin-right:10px;margin-left:10px;"></div>
            </div>
        </div>

        <div class="row tb-20">
            <div class="col-md-4 ficha-talleres">
                {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/personalizacion.png' %}
                <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive img-center"  style="" />
                {% endimage %}
                <p class="text-center parrafo-taller">Personalizaci&oacute;n de veh&iacute;culos con accesorios</p>
            </div>
        </div>
        <div class="row tb-20">
            
        </div>

    </div>



{% endblock %}


