{% extends 'CelmediaToyocostaVehiculosBundle::template.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | Vehículos Toyota</title>
    
    <meta name="description" content="Conoce toda la amplia variedad de vehículos Toyota que tenemos disponible en Toyocosta."/>

    <meta name="keywords" content="concesionario toyota ecuador, autos toyota ecuador, camionetas toyota ecuador, todoterreno toyota ecuador, Toyota corolla ecuador, Toyota prius ecuador, Toyota hilux ecuador, toyota fortuner ecuador, toyota land cruiser ecuador, toyota rav4 ecuador." />

{% endblock %}


{% block bannercabecera %}

        <header>

            {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/vehiculos.jpg' %}
            <img src="{{ asset_url }}" id="logoblanco" alt="Toyocosta" class="img-responsive"  style="width:100%;" />
            {% endimage %}

        </header>
    
{% endblock %}


{% block contenidotoyocosta %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px;">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('toyocosta_homepage') }}">Inicio</a>
                    </li>
                    <li class="active">Todos los modelos</li>
                </ol>
            </div>
        </div>
        
        
        {#<div class="row tb-20">
            <div class="col-md-12">
                <h2 class="titular-catg">Autos</h2>
                <div class="row">
                {% for auto in vehiculos_autos %}
                    
                    <div class="col-md-3 text-center">
                        <div class="nombre-submenu" style="margin-top:15px;">{{ auto.nombre }}</div>
                        <img src="{{ asset('uploads/vehiculo/thumb/' ~ auto.imagenThumb ) }}" alt="" class="img-responsive img-center" />
                        <br/>
                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": auto.categoria.nombre,"nombre": auto.nombre ,'id': auto.id } )  }}">Explorar</a>
                        <br/>
                        <div class="sp"></div>

                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": auto.categoria.nombre,"nombre": auto.nombre ,'id': auto.id } )  }}#cotizar">Cotizar</a>
                        
                        
                    </div>

                {% endfor %}
                </div>

            </div>

        </div>  


        <div class="linea"></div>#}

                
        <div class="row tb-20">
            <div class="col-md-12">
                <h2 class="titular-catg">Camionetas</h2>
                <div class="row">
                {% for camioneta in vehiculos_camionetas %}
                    
                    <div class="col-md-3 text-center">
                        <div class="nombre-submenu" style="margin-top:15px;">{{ camioneta.nombre }}</div>
                        <img src="{{ asset('uploads/vehiculo/thumb/' ~ camioneta.imagenThumb ) }}" alt="" class="img-responsive img-center" />
                        <br/>
                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": camioneta.categoria.nombre,"nombre": camioneta.nombre ,'id': camioneta.id } )  }}">Explorar</a>
                        <br/>
                        <div class="sp"></div>

                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": camioneta.categoria.nombre,"nombre": camioneta.nombre ,'id': camioneta.id } )  }}#cotizar">Cotizar</a>
                        
                        
                    </div>

                {% endfor %}
                </div>

            </div>

        </div>  



        <div class="linea"></div>

        <div class="row tb-20">
            <div class="col-md-12">
                <h2 class="titular-catg">Todo Terreno</h2>
                <div class="row">
                {% for todoterreno in vehiculos_todoterreno %}
                    
                    <div class="col-md-3 text-center">
                        <div class="nombre-submenu" style="margin-top:15px;">{{ todoterreno.nombre }}</div>
                        <img src="{{ asset('uploads/vehiculo/thumb/' ~ todoterreno.imagenThumb ) }}" alt="" class="img-responsive img-center" />
                        <br/>
                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": todoterreno.categoria.nombre,"nombre": todoterreno.nombre ,'id': todoterreno.id } )  }}">Explorar</a>
                        <br/>
                        <div class="sp"></div>

                        <a class="link-submenu" href="{{ path('custom_vehiculo', {"categoria": todoterreno.categoria.nombre,"nombre": todoterreno.nombre ,'id': todoterreno.id } )  }}#cotizar">Cotizar</a>
                        
                        
                    </div>

                {% endfor %}
                </div>

            </div>

        </div>  



        <div class="row" style="padding-bottom:150px;"></div>

    </div>



{% endblock %}


