<div id="principal-seccion" class="seccion-ty">
  
  <div id="principal-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">

    <ol class="carousel-indicators">
      {% set i = 0 %}
      {% for bullet in slidePrincipal %}
          <li data-target="#principal-carousel" data-slide-to="{{ i }}"  class="{% if loop.first %}active{% endif %}">
          </li>
          {% set i = i + 1 %}
      {% endfor %}
    </ol>


    <div class="carousel-inner alto-completo">
      {% set i = 0 %}
      {% for item in slidePrincipal %}
        
        <div class="item {% if loop.first %} active {% endif %} alto-completo item-carousel-home-ty" style="background-image: url({{ asset('uploads/slide-principal/'   ~   item.imagenBanner ) }});">
          <div class="carousel-caption ty-principal-caption">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <a href="{{item.link}}" class="btn btn-ver-mas">
                    Ver más
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div><!-- item -->
      {% endfor %}
    </div>


    <!-- Controls -->
    <a class="left carousel-control" href="#principal-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#principal-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>


</div>














{# ************************************************************* #}

{#


<div id="seccion-principal" class="seccion-ty">

  <div id="carousel-principal-ty" class="carousel slide carousel-ty" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-principal-ty" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-principal-ty" data-slide-to="1"></li>
      <li data-target="#carousel-principal-ty" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">

        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/BG-principal.jpg' %}
        <img src="{{ asset_url }}" alt="Seminuevos" class="img-responsive" />
        {% endimage %}
    
        <div class="carousel-caption btn-caption">
          <a href="#">
            <div class="row">
              <div class="col-md-4 col-md-offset-4 btn-lg btn-ver-mas">
                  Ver m&aacute;s
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="item">

        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/BG-principal.jpg' %}
        <img src="{{ asset_url }}" alt="Seminuevos" class="img-responsive" />
        {% endimage %}
    
        <div class="carousel-caption btn-caption">
            <a href="#">
              <div class="row">
                <div class="col-md-4 col-md-offset-4 btn-lg btn-ver-mas">
                    Ver m&aacute;s
                </div>
              </div>
            </a>
        </div>
      </div>
      <div class="item">

          {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/BG-principal.jpg' %}
          <img src="{{ asset_url }}" alt="Seminuevos" class="img-responsive" />
          {% endimage %}
      
          <div class="carousel-caption btn-caption">
              <a href="#">
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 btn-lg btn-ver-mas">
                      Ver m&aacute;s
                  </div>
                </div>
              </a>
          </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-principal-ty" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-principal-ty" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</div>

#}