<div class="navbar navbar-fixed-top navbar-toyocosta" role="navigation">
  <div class="container-fluid visible-md visible-lg hidden-sm hidden-xs">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-nav-menu-0">
        <!-- <li class="active">
          <a href="#">Regístrese</a>
        </li>
        <li>
          <a href="#">Iniciar sesión</a>
        </li> -->
        <!-- <li>
          <a href="#" class="visible-md visible-lg hidden-sm hidden-xs">&nbsp;</a>
        </li> -->
        <li class="active">
          <a href="{{ path('toyocosta_homepage') }}">Inicio</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Empresa
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{ path('empresa')}}">Qui&eacute;nes Somos</a>
            </li>
            <li>
              <a href="{{ path('certificados')}}">Certificado Seminuevos</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://www.toyocosta.com/blog">Noticias</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Servicios
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{ path('mantenimiento')}}">Citas de Mantenimiento</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{ path('test_drive') }}">Test Drive</a>
        </li>
        <li>
          <a href="{{ path('recursos_humanos') }}">Trabaje con nosotros</a>
        </li>
        <li>
          <a href="{{ path('contactenos') }}">Cont&aacute;ctenos</a>
        </li>
        <li class="iconos-ty">
          <a href="http://www.facebook.com/toyocosta" class="icon-facebook">&nbsp;</a>
        </li>
        <li class="iconos-ty">
          <a href="http://twitter.com/toyocosta" class="icon-twitter">&nbsp;</a>
        </li>
        <li class="iconos-ty">
          <a href="http://www.toyocosta.com/blog" class="icon-blog">&nbsp;</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="container-fluid sombra-toyocosta">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle navbar-toggle-toyocosta" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand toyocosta-brand" href="#top-ty">
        {% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/toyocosta.png' %}
        <img src="{{ asset_url }}" alt="llanta" class="img-responsive" />
        {% endimage %}
      </a>
    </div>  
    <div class="navbar-collapse collapse" id="vehiculos-scroll">
      <form class="navbar-form navbar-right navbar-buscar" role="form">
        <ul class="nav navbar-nav navbar-nav-vehiculos">
          <li>
            <a href="#" class="item-submenu">Autos</a>
          </li>
          <li>
            <a href="#" class="item-submenu">Camionetas</a>
          </li>
          <li>
            <a href="#" class="item-submenu">SUV</a>
          </li>
          <li>
            <a href="#" class="item-submenu">Híbridos</a>
          </li>
          <li>
            <a href="#" class="item-submenu">Montacargas</a>
          </li>
          <li>
            <a href="#" class="item-submenu">Pirelli</a>
          </li>
          <li>
            <a href="#" class="item-submenu">Seminuevos</a>
          </li>
        </ul>
        <div class="form-group">
          <input type="text" placeholder="Buscar" class="form-control input-buscar">
          <input type="submit" class="btn btn-buscar" value="" />
        </div>
      </form>

    </div><!--/.navbar-collapse -->
  </div>
  <div id="fondo-submenu" class="fondo-submenu">
    <div class="contenedor-submenu-items">
          <div class="contenedor-submenu-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="item-vehiculo-nombre">Corolla</div>                
                  <img src="{{ asset('uploads/vehiculo/thumb/'   ~   'corolla.png' ) }}" alt="" class="img-responsive obj-centrar" />
                </div>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo izq">Explorar</button>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo der">Cotizar</button>
              </div>
            </div>
          </div><!-- contenedor-submenu-item -->

          <div class="contenedor-submenu-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="item-vehiculo-nombre">Corolla</div>                
                  <img src="{{ asset('uploads/vehiculo/thumb/'   ~   'corolla.png' ) }}" alt="" class="img-responsive obj-centrar" />
                </div>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo izq">Explorar</button>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo der">Cotizar</button>
              </div>
            </div>
          </div><!-- contenedor-submenu-item -->

          <div class="contenedor-submenu-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="item-vehiculo-nombre">Corolla</div>                
                  <img src="{{ asset('uploads/vehiculo/thumb/'   ~   'corolla.png' ) }}" alt="" class="img-responsive obj-centrar" />
                </div>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo izq">Explorar</button>
                <button class="col-md-6 col-sm-6 col-xs-6 btn btn-submenu-vehiculo der">Cotizar</button>
              </div>
            </div>
          </div><!-- contenedor-submenu-item -->
    </div><!-- contenedor-submenu-items -->
  </div>


  {% if app.request.get('_route') == "ver_vehiculo" %}
    <div class="container-fluid fondo-submenu-vehiculo">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-1 text-center centrado-vertical">
          <span class="submenu-vehiculo-nombre">Prius C Sport</span>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-8 text-left centrado-vertical">
          <div class="container-fluid">
            <div class="row submenu-vehiculo page-scroll">
              <div class="col-md-2 col-sm-2 text-center">
                <a href="#vehiculo-detalles" class="submenu-vehiculo-item active">Principal</a>
              </div>
              <div class="col-md-2 col-sm-2 text-center">
                <a href="#vehiculo-modelos" class="submenu-vehiculo-item ">Modelos</a>
              </div>
              <div class="col-md-2 col-sm-2 text-center">
                <a href="#vehiculo-galeria" class="submenu-vehiculo-item">Galerías</a>
              </div>
              <div class="col-md-2 col-sm-2 text-center">
                <a href="#vehiculo-cotizar" class="submenu-vehiculo-item">Cotizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  
  {# {% if app.request.get('_route') == "seminuevos_home" %} #}
  {% if estaLogueado == true %}
    <div class="container-fluid fondo-submenu-vehiculo">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-1 text-center centrado-vertical">
          {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/Logo-seminuevo-SubM.png' %}
            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
          {% endimage %}
        </div>
        <div class="col-md-9 col-sm-8 col-xs-8 text-left centrado-vertical">
          <div class="container-fluid">
            <div class="row submenu-vehiculo page-scroll">
              <div class="col-md-2 col-sm-2 text-center">
                <a href="{{ path('seminuevos_home') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "seminuevos_home" %}active{% endif %}">Principal</a>
              </div>
              <div class="col-md-3 col-sm-3 text-center">
                <a href="{{ path('seminuevos_venda_usado') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "seminuevos_venda_usado" %}active{% endif %}">Venda su usado</a>
              </div>
              <div class="col-md-3 col-sm-3 text-center">
                <a href="{{ path('seminuevos_estado_usado') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "seminuevos_estado_usado" %}active{% endif %}">Estado de mi carro</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
      
  {% endif %}



</div><!--/.navbar-toyocosta -->