<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta</title>

        {% stylesheets
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/bootstrap.min.css"
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/menu.toyocosta.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/resetvehiculos.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/footer.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/style.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/yc.css"
        %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body {% if app.request.get('_route') == "ver_vehiculo" %}data-target="#vehiculos-secciones"{% elseif app.request.get('_route') == "toyocosta_homepage" %}data-target="#scrollprincipal"{% endif %}>
        {% set estaLogueado = false %}
        {% set idLogueado = 1 %}
        {#
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Hi {{ app.user.username }}
        {% endif %}
        #}
        {% block contenidotoyocosta %}
            
        {% endblock %}

        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
             {% javascripts
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.selectbox/jquery.selectbox-0.2.js'
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery-ui-1.9.2.custom.js'
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery.scrollTo-1.4.2-min.js'
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery.bootstrap.wizard.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/bootstrap.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.validate.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/additional-methods.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/messages_es.js'
                '@CelmediaToyocostaContenidoBundle/Resources/public/js/jquery.ui.widget.js'
                '@CelmediaToyocostaContenidoBundle/Resources/public/js/jquery.iframe-transport.js'
                '@CelmediaToyocostaContenidoBundle/Resources/public/js/jquery.fileupload.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/script.pirelli.js'
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/script.toyocosta.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/script.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  


        {% block js %}

        {% endblock %}
                            
    </body>
</html>