<div class="container-fluid back-accesos">
	<div class="row">
		<div class="col-xs-12">
			<div class="media">
				<a class="pull-left" href="http://www.toyocosta.com/blog/">
					<div class="col-xs-10">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/icon/noticias.png' %}
						<img src="{{ asset_url }}" alt="" class="media-object img-responsive" style="" />
						{% endimage %}
					</div>

				</a>
				<div class="media-body">
					<a href="http://www.toyocosta.com/blog/">
						
						<h4 class="media-heading media-footer">Noticias</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="media">
				<a class="pull-left" href="{{path('m_cotizar')}}">
					<div class="col-xs-10">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/icon/cotizar.png' %}
						<img src="{{ asset_url }}" alt="" class="media-object img-responsive" style="" />
						{% endimage %}
					</div>

				</a>
				<div class="media-body">
					<a href="{{path('m_cotizar')}}">
						
						<h4 class="media-heading media-footer">Cotizar</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="media">
				<a class="pull-left" href="{{path('m_testdrive')}}">
					<div class="col-xs-10">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/icon/test.png' %}
						<img src="{{ asset_url }}" alt="" class="media-object img-responsive" style="" />
						{% endimage %}
					</div>

				</a>
				<div class="media-body">
					<a href="{{path('m_testdrive')}}">
						<h4 class="media-heading media-footer">Test Drive</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="media">
				<a class="pull-left" href="{{path('m_citamantenimiento')}}">
					<div class="col-xs-10">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/icon/citas.png' %}
						<img src="{{ asset_url }}" alt="" class="media-object img-responsive" style="" />
						{% endimage %}
					</div>

				</a>
				<div class="media-body">
					<a href="{{path('m_citamantenimiento')}}">
						<h4 class="media-heading media-footer">Cita de Mantenimiento</h4>
					</a>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="container-fluid">
	<div class="row back-footer">
		<div class="col-xs-12" style="padding-top:15px;">
			<div class="col-xs-8">
				<p class="text-footer text-center">COPYRIGHT 2013 TOYOCOSTA. ALL RIGHTS RESERVED.</p>
			</div>
			<div class="col-xs-4">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/icon/logotoyota.png' %}
				<img src="{{ asset_url }}" alt="" class="media-object img-responsive" style="" />
				{% endimage %}
			</div>
		</div>
	</div>
</div>