{% extends 'CelmediaToyocostaVehiculosBundle::layout.mobile.html.twig' %}


{% block contenidoMobil %}
	<div class="container-fluid" style="">
		<div class="row">
			{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/cita.jpg' %}
			<img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
			{% endimage %}
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb breadcrumb-mobil">
					<li>
						<a href="#" class="txt-gris">INICIO</a>
					</li>
					<li class="active">CITA DE MANTENIMIENTO</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="txt-vehiculo">Cita de Mantenimiento</h1>	
				<p class="txt-result">
					Por favor llene el siguiente formulario para que un representante
					de Toyocosta pueda comunicarse inmediatamente con usted.
				</p>			
			</div>

		</div>


		<div class="row">
			<div class="col-xs-12">
				
				<!-- Nav tabs -->
				<!-- <ul class="nav nav-tabs nav-cotizador" role="tablist">
				  <li class="active" style="border-right: 1px solid #d3d3d3;"><a href="#datos" role="tab" data-toggle="tab">TUS DATOS</a></li>
				  <li style="border-right: 1px solid #d3d3d3;"><a href="#resultados" role="tab" data-toggle="tab">TU VEHICULO</a></li>
				  <li><a href="#confirmacion" role="tab" data-toggle="tab">CONFIRMACI&Oacute;N</a></li>
				  
				</ul> -->

				<!-- Tab panes -->
				<form id="form-cita" role="form">
					<div id="citawizard">
						<input type="hidden"  id="selectedRegalo" name="selectedRegalo"   value="noselected"  />

						<div class="cita-banner">
							<div class="container">
								<div class="row">
									<ul class="nav nav-tabs nav-cotizador" role="tablist">
										<li style="border-right: 1px solid #d3d3d3;">
											<a href="#tab1"  role="tab" data-toggle="tab" class="pasos paso-1">TUS DATOS</a>
										</li>
										<li style="border-right: 1px solid #d3d3d3;">
											<a href="#tab2"  role="tab" data-toggle="tab" class="pasos paso-2">TU VEH&Iacute;CULO</a>
										</li>
										<li>
											<a href="#tab3"  role="tab" data-toggle="tab" class="pasos paso-3">CONFIRMACI&Oacute;N</a>
										</li>
									</ul>
									
								</div>
							</div>
						</div>


						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
							  	<h3 class="txt-datos-personales">DATOS PERSONALES</h3>

									<div class="form-group">
							  			<label>Nombre:</label>
							  			<input type="text" class="form-control" id="nombre" name="nombre" />
							  		</div>
							  		<div class="form-group">
							  			<label>Apellido:</label>
							  			<input type="text" class="form-control" id="apellido" name="apellido" />
							  		</div>
									<div class="form-group">
									    <label>Email:</label>
									    <input type="email" class="form-control" id="email" name="email"/>
									</div>						  	
							  		<div class="form-group">
							  			<label>Telefono:</label>
							  			<input type="text" class="form-control" id="telefono" name="telefono" />
							  		</div>
								  	<div class="form-group">
								    	<label>Celular:</label>
							  			<input type="text" class="form-control" id="celular" name="celular" />
								  	</div>
								  
								  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
									{#<a href="#resultados" role="tab" data-toggle="tab">
									  	<div class="col-xs-12 btn btn-rojo">
								    		Siguiente
								    	</div>
								    </a>#}
							</div>
						  	<div class="tab-pane" id="tab2">
						  		<h3 class="txt-datos-personales">DATOS DEL VEH&Iacute;CULO</h3>

						  								
							  	<div class="form-group">
							    	<label>Tipo de Reserva:</label>
						  			<select name="reserva" id="reserva" class="form-control" onchange="reservaSelected(this)">
										<option value="">Selecciona un tipo</option>
											{% for reserva in reservas %}
												<option value="{{ reserva.id }}" >{{ reserva.nombre }}</option>
					                    	{% endfor %}

						  			</select>
							  	</div>
							  	<div class="form-group">
							    	<label>Taller:</label>
							  		<div id="dir" style="display:none;">{{  asset('uploads/obsequios/')  }}</div>
						  			<select name="taller" id="taller" class="form-control" onchange="tallerSelected(this)">
						  				
										<option value="">Selecciona un taller</option>
						  			</select>
							  	</div>

							  	<div class="form-group">
							    	<label>Fecha Tentativa:</label>
						  			<input type="date" id="fecha" name="fecha" class="form-control" />
							  	</div>

							  	<div class="form-group">
							    	<label>Observaciones:</label>
						  			<textarea class="form-control" id="observaciones" name="observaciones"></textarea>
							  	</div>

							  	<div class="form-group">
							    	<label>Modelo:</label>
						  			<select name="modelo" id="modelo" class="form-control">
						  				<option value="">Selecciona un modelo</option>
										{% for vehiculo in vehiculos %}
											<option value="{{ vehiculo.id }}" >{{ vehiculo.nombre }}</option>
				                    	{% endfor %}
						  			</select>
							  	</div>
							  	<div class="form-group">
							    	<label>Kilometraje:</label>
						  			<select name="kilometraje" id="kilometraje" class="form-control">
						  				<option value="">Seleccione un Kilometraje</option>									
										<option value="1,000 kms">1,000 kms</option>
										<option value="5,000 kms">5,000 kms</option>
										<option value="10,000 kms">10,000 kms</option>
										<option value="15,000 kms">15,000 kms</option>
										<option value="20,000 kms">20,000 kms</option>
										<option value="25,000 kms">25,000 kms</option>
										<option value="30,000 kms">30,000 kms</option>
										<option value="35,000 kms">35,000 kms</option>
										<option value="40,000 kms">40,000 kms</option>
										<option value="45,000 kms">45,000 kms</option>
										<option value="50,000 kms">40,000 kms</option>
										<option value="55,000 kms">55,000 kms</option>
										<option value="60,000 kms">60,000 kms</option>
										<option value="65,000 kms">65,000 kms</option>
										<option value="70,000 kms">70,000 kms</option>
										<option value="75,000 kms">75,000 kms</option>
										<option value="80,000 kms">80,000 kms</option>
										<option value="85,000 kms">75,000 kms</option>
										<option value="90,000 kms">90,000 kms</option>
										<option value="95,000 kms">95,000 kms</option>
										<option value="100,000 kms">100,000 kms</option>
						  			</select>
							  	</div>

							  	<div class="form-group">
							    	<label>Comentario:</label>
						  			<textarea class="form-control" id="comentario" name="comentario"></textarea>
							  	</div>

							  	<div class="form-group" id="bloque-obsequio">

									<h3 style="text-align:center;color:#FF0000;font-size:15px;">Seleccione uno de los regalos que tenemos para usted</h3>
									<select name="regalo" id="regalo" class="regalo">
																			
										<option selected disabled="disabled"></option>
																													

									</select>

								</div>

							  	{#<input type="submit" value="Enviar" class="btn btn-rojo" style="width:100%;">#}

						  	</div>
						  	<div class="tab-pane" id="tab3">
								<h3 class="txt-datos-personales">CONFIRMACI&Oacute;N</h3>

								<p class="txt-result txt-gris">
									<!-- Su pedido de informacion se ha completado correctamente.<br />
									Un representante de Toyocosta se contactar&aacute; con usted 
									inmediatamente. -->
									Esta a punto de enviar su informaci&oacute;n.<br />
									Confirme si todos sus datos se han llenado correctamente.
								</p>



								{#<a href="#datos" role="tab" data-toggle="tab">
								  	<div class="col-xs-12 btn btn-rojo">
							    		Regresar al inicio
							    	</div>
							    </a>#}				  		
						  	</div>
						</div>


						<div class="container">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<ul class="pager wizard">
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-6">
													<li class="previous first" style="display:none;">
														<a href="#" class="btn btn-rojo btn-anterior espaciado-a">First</a>
													</li>
													<li class="previous">
														<a href="#" class="btn btn-rojo btn-anterior espaciado-a">Anterior</a>
													</li>
												</div>
												<div class="col-md-6">
													<li class="next">
														<a href="#" class="btn btn-rojo btn-siguiente espaciado-a">Siguiente</a>
													</li>
													<li class="finish" style="display:none;">
														<a href="javascript:;" class="btn btn-rojo btn-siguiente espaciado-a">Enviar</a>
													</li>
												</div>
											</div>
										</div>
									</ul>								
								</div>
							</div>
						</div>

					</div>
				</form>


				<p id="cita-mensaje" class="txt-rojo txt-negrita" style="display:none;">
					Enviando Información...
				</p>


			</div>
	    </div>

	    <div class="row" style="height:20px;">
	    	&nbsp;
	    </div>
	</div>

{% endblock %}