        <div class="container-fluid">
        	
        	<div class="row">
        		
        		<div class="panel-group" id="accordion">

                    {% set i = 0 %}

        			{% for item in categoriasVehiculo %}

        			<div class="panel">
        				<div class="panel-heading">
                            
                            <div class="col-xs-10">
                                <h4 class="panel-title">
                                    <a id="collap{{i}}" data-toggle="collapse" data-parent="#accordion" href="#Vehiculo{{ i }}" class="mayuscula">
                                        {{ item.nombre }}
                                    </a>
                                </h4>
                                
                            </div>

                            <div id="downVehiculo{{ i }}" class="col-xs-2">
                                
                                <a id="collap{{i}}" data-toggle="collapse" data-parent="#accordion" href="#Vehiculo{{ i }}" class="mayuscula">
                                
                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/down.png' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
                                    {% endimage %}
                                </a>

                            </div>

                            <div id="upVehiculo{{ i }}" class="col-xs-2" style="display:none;">

                                <a id="collap{{i}}" data-toggle="collapse" data-parent="#accordion" href="#Vehiculo{{ i }}" class="mayuscula">
                                
                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/up.png' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
                                    {% endimage %}
                                </a>

                                
                            </div>


        				</div>
        				<div id="Vehiculo{{ i }}" class="panel-collapse collapse">
        					<div class="panel-body">

        						<ul class="media-list">


    								{{ render(controller("CelmediaToyocostaVehiculosBundle:Mobile:obtenerVehiculosXCategoria" , { 'categoriaId':  item.id } ) ) }}

        						</ul>

        					</div>
        				</div>
        			</div>

                    {% set i = i + 1 %}

        			{% endfor %}

                    <div class="panel">
                        <div class="panel-heading">
                            
                            <div class="col-xs-10">
                                <h4 class="panel-title">
                                    <a id="collap300" data-toggle="collapse" data-parent="#accordion" href="#Moto300" class="mayuscula">
                                        Motos
                                    </a>
                                </h4>
                                
                            </div>

                            <div id="downMoto300" class="col-xs-2">
                                
                                <a id="collap300" data-toggle="collapse" data-parent="#accordion" href="#Moto300" class="mayuscula">
                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/down.png' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
                                    {% endimage %}    
                                </a>
                            </div>

                            <div id="upMoto300" class="col-xs-2" style="display:none;">
                                
                                <a id="collap300" data-toggle="collapse" data-parent="#accordion" href="#Moto300" class="mayuscula">                                    
                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/up.png' %}
                                    <img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
                                    {% endimage %}   
                                </a>


                            </div>


                        </div>
                        <div id="Moto300" class="panel-collapse collapse">
                            <div class="panel-body">

                                <ul class="media-list">


                                    {% for item  in categoriasMoto %}

                                    <a href="{{ path('m_moto_categoria', { 'categoria': item.nombre , 'id': item.id } )  }}" class="link">

                                        <li class="media media-autos">
                                            <div class="pull-right" style="margin-left:0px;">
                                                <img src="{{ asset('uploads/motos/thumb/' ~ item.logoHome ) }}" alt="" class="img-responsive" style="width:50%;" />
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ item.nombre }}</h4>
                                            </div>
                                        </li>
                                    </a>

                                    {% endfor %}


                                </ul>

                            </div>
                        </div>
                    </div>


        			<div class="panel">
        				<div class="panel-heading">
                            <div class="col-xs-10">
            					<h4 class="panel-title">
            						<a href=" {{ path('m_montacargas') }} ">
            							MONTACARGAS
            						</a>
            					</h4>
                            </div>
        				</div>
        			</div>




                    


        		</div>	
        	</div>

        </div>