{% extends 'CelmediaToyocostaVehiculosBundle::layout.mobile.html.twig' %}


{% block contenidoMobil %}
	<div class="container-fluid" style="">
		<div class="row">
			{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/movil/contactenos.jpg' %}
			<img src="{{ asset_url }}" alt="" class="img-responsive" style="" />
			{% endimage %}
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb breadcrumb-mobil">
					<li>
						<a href="#" class="txt-gris">INICIO</a>
					</li>
					<li class="active">TEST DRIVER</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="txt-vehiculo">Test Driver</h1>	
				<p>Vive la experiencia Toyota</p>
				<p class="txt-result">
					Que no te lo cuenten, ven y descubre la calidad de un Toyota. Ingresa tus datos y un operador se comunicar&aacute; contigo.
				</p>			
			</div>

		</div>


		<div class="row">
			<div class="col-xs-12">
				
				<!-- Nav tabs -->
				<!-- <ul class="nav nav-tabs nav-cotizador" role="tablist">
				  <li class="active" style="border-right: 1px solid #d3d3d3;"><a href="#datos" role="tab" data-toggle="tab">TUS DATOS</a></li>
				  <li style="border-right: 1px solid #d3d3d3;"><a href="#resultados" role="tab" data-toggle="tab">CITA</a></li>
				  <li><a href="#confirmacion" role="tab" data-toggle="tab">CONFIRMACI&Oacute;N</a></li>
				  
				</ul> -->

				<!-- Tab panes -->
				<form id="form-testdrive" role="form">
					<div id="rootwizard">

						<div class="cotizar-banner">
							<div class="container">
								<div class="row espacio-banner-cotizar">
									<ul class="nav nav-tabs nav-cotizador" role="tablist">
										<li style="border-right: 1px solid #d3d3d3;">
											<a href="#tab1"  role="tab" data-toggle="tab" class="pasos paso-1">TUS DATOS</a>
										</li>
										<li style="border-right: 1px solid #d3d3d3;">
											<a href="#tab2"  role="tab" data-toggle="tab" class="pasos paso-2">CITA</a>
										</li>
										<li>
											<a href="#tab3"  role="tab" data-toggle="tab" class="pasos paso-3">CONFIRMACI&Oacute;N</a>
										</li>
									</ul>
									
								</div>
							</div>
						</div>

						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
							  	<h3 class="txt-datos-personales">DATOS PERSONALES</h3>

								

						  		<div class="form-group">
						  			<label>Nombre:</label>
						  			<input type="text" class="form-control" id="nombre" name="nombre" />
						  		</div>
						  		<div class="form-group">
						  			<label>Apellido:</label>
						  			<input type="text" class="form-control" id="apellido" name="apellido" />
						  		</div>
								<div class="form-group">
								    <label>Email:</label>
								    <input type="email" class="form-control" id="email" name="email"/>
								</div>						  	
						  		<div class="form-group">
						  			<label>Telefono:</label>
						  			<input type="text" class="form-control" id="telefono" name="telefono" />
						  		</div>
							  	<div class="form-group">
							    	<label>Cedula:</label>
						  			<input type="text" class="form-control" id="cedula" name="cedula" />
							  	</div>
							  	<div class="form-group">
							    	<label>Fecha de Nacimiento:</label>
						  			<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" />
							  	</div>
							  
							  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
								<!-- <a href="#resultados" role="tab" data-toggle="tab">
								  	<div class="col-xs-12 btn btn-rojo">
							    		Siguiente
							    	</div>
							    </a> -->
							</div>
							<div class="tab-pane" id="tab2">
						  		<h3 class="txt-datos-personales">CITA</h3>

						  		<div class="form-group">
							    	<label>Ciudad:</label>
						  			<input type="text" class="form-control" id="ciudad" name="ciudad" />
							  	</div>						
							  	<div class="form-group">
							    	<label>Agencia:</label>
						  			<select name="agencia" id="agencia" class="form-control">
						  				<option value="">Seleccione la agencia</option>

										{% for row in agencias %}

											<option value="{{ row.nombre }}" >{{ row.nombre }}</option>
				                    	{% endfor %}

						  			</select>
							  	</div>
							  	<div class="form-group">
							    	<label>Vehiculo:</label>
						  			<select name="vehiculo" id="vehiculo" class="form-control">					  				
						  				<option value="">Seleccione un modelo</option>

										{% for vehiculo in vehiculos %}

											<option value="{{ vehiculo.nombre }}" >{{ vehiculo.nombre }}</option>
				                    	{% endfor %}

						  			</select>
							  	</div>

							  	<div class="form-group">
							    	<label>Fecha Tentativa:</label>
						  			<input type="date" id="fecha" name="fecha" class="form-control" />
							  	</div>

							  	<div class="form-group">
							    	<label>Hora Tentativa:</label>
						  			<input type="text" id="hora" name="hora" class="form-control" />
							  	</div>

							  	<div class="form-group">
							    	<label>Observaciones:</label>
						  			<textarea class="form-control" id="observaciones" name="observaciones"></textarea>
							  	</div>


							  	<!-- <input type="submit" value="Enviar" class="btn btn-rojo" style="width:100%;"> -->

						  	</div>
						  	<div class="tab-pane" id="tab3">
								<h3 class="txt-datos-personales">CONFIRMACI&Oacute;N</h3>

								<p class="txt-result txt-gris">
									Esta a punto de enviar su informaci&oacute;n.<br />
									Confirme si todos sus datos se han llenado correctamente.
									<!-- Un representante de Toyocosta se contactar&aacute; con usted 
									inmediatamente. -->
								</p>

								
								<!-- <a href="#datos" role="tab" data-toggle="tab">
								  	<div class="col-xs-12 btn btn-rojo">
							    		Regresar al inicio
							    	</div>
							    </a> -->				  		
						  	</div>
						</div>

						<div class="container">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<ul class="pager wizard">
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-6">
													<li class="previous first" style="display:none;">
														<a href="#" class="btn btn-rojo btn-anterior espaciado-a">First</a>
													</li>
													<li class="previous">
														<a href="#" class="btn btn-rojo btn-anterior espaciado-a">Anterior</a>
													</li>
												</div>
												<div class="col-md-6">
													<li class="next">
														<a href="#" class="btn btn-rojo btn-siguiente espaciado-a">Siguiente</a>
													</li>
													<li class="finish" style="display:none;">
														<a href="javascript:;" class="btn btn-rojo btn-siguiente espaciado-a">Enviar</a>
													</li>
												</div>
											</div>
										</div>
									</ul>								
								</div>
							</div>
						</div>

					</div>
				</form>

				<p id="mensaje-enviando" class="txt-rojo txt-negrita" style="display:none;">
					Enviando Información...
				</p>

			</div>
	    </div>

	    <div class="row" style="height:20px;">
	    	&nbsp;
	    </div>
	</div>

{% endblock %}