
{% extends 'CelmediaToyocostaPirelliBundle::layout.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | Llantas Pirelli {{ tipo_llanta }}</title>
    
    <meta name="description" content="Toyocosta ofrece a sus clientes una gran variedad de llantas Pirelli para {{ tipo_llanta }}."/>

    <meta name="keywords" content="llantas pirelli guayaquil, distribuidor llantas pirelli guayaquil, pirelli toyocosta, llantas pirelli {{ tipo_llanta }}" />

{% endblock %}

{% block content %}
    


    {% include 'CelmediaToyocostaPirelliBundle:Blocks:top.submenu.html.twig' %}

    <div class="row {% if tipo_llanta == 'suv' %} banner-pirelli-suv {% elseif tipo_llanta == 'camioneta' %} banner-pirelli-camionetas {% elseif tipo_llanta == 'industrial' %} banner-pirelli-industriales {% elseif tipo_llanta == 'camion' %} banner-pirelli-camiones {% else %} banner-pirelli-autos {% endif %}">
        <div class="container centrado-vertical">
            <h1 class="title-banner">LLANTAS {{ tipo_llanta|upper }}</h1>
        </div>
    </div>



    <div class="row buscador-pirelli">
        <div class="form-group">

            <div class="col-md-12" style="padding: 0px;">
                <div class="form">

                    <div class="row">
                        <div class="col-md-1 bloque-vacio">

                        </div>
                        
                        <form name="buscador" action="{{ path('pirelli_buscador') }}" method="post" >
                            <div class="col-md-8" style="padding: 0px;">                            
                                {% if llanta_modelo is not defined or llanta_modelo is null %}
                                    {% set llanta_modelo = "0" %}
                                {% endif %}
                                {% if llanta_medida is not defined or llanta_medida is null %}
                                    {% set llanta_medida = "0" %}
                                {% endif %}
                                {% if llanta_rin is not defined or llanta_rin is null %}
                                    {% set llanta_rin = "0" %}
                                {% endif %}
                                {% if llanta_precio is not defined or llanta_precio is null %}
                                    {% set llanta_precio = "0" %}
                                {% endif %}

                                {{ render(controller("CelmediaToyocostaPirelliBundle:Default:getFiltros" , { 'segmento': tipo_llanta , 'llanta_modelo': llanta_modelo, 'llanta_medida': llanta_medida, 'llanta_rin': llanta_rin, 'llanta_precio': llanta_precio }))   }}

                            </div>
                            <div class="col-md-2" style="padding-bottom:4px;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;">
                                <input type="hidden"  name="categoria" value="{{ tipo_llanta }}" />

                                <input type="submit" class="btn btn-buscar-filtro" value="Buscar" />

                            </div>
                        </form>
                        <div class="col-md-1 bloque-vacio">

                        </div>
    				</div>

    			</div>
    		</div>
    	</div>


    </div>

    <div class="row banner-promocional">

        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <ol class="breadcrumb" style="margin-bottom:5px;padding-left:30px;">
                  <li><a href="{{ path('toyocosta_homepage') }}">INICIO</a></li>
                  <li><a href="{{ path('pirelli_home') }}">PIRELLI</a></li>
                  <li class="active">{{ tipo_llanta|upper }}</li>
                </ol>
            </div>


            {#<div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner">
                                <a href="{{ path('landing_info_pirelli') }}" target="_blank">

                                    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-pirelli/banner-promocional.jpg' %}
                                        <img src="{{ asset_url }}" alt="llanta" class="img-responsive" />
                                    {% endimage %}
                                </a>
                            </div>

                        </div>  
                       
                    </div>
                </div>

            </div>#}

        </div>
    </div>


    {% set i = 0 %}
    {% for row  in llantas | batch(4) %}

        <div class="row bloque-llantas" style="padding:0px; {% if loop.index > 2 %} display:none; {% endif %} ">

            <div class="col-md-10 col-md-offset-1">
                <div class="row">

                    {% for llanta in row %}
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-10 fondo-ficha contenedor-centrar" style="padding:0px;">
                                <a id="llanta{{ llanta.modelo | replace({' ': '_'}) }}{{ llanta.id }}" data-toggle="modal" href="#Modal_llanta{{ llanta.modelo | replace({' ': '_'}) }}{{ llanta.id }}" onclick="trackOutboundLink('#Modal_llanta{{ llanta.modelo | replace({' ': '_'}) }}{{ llanta.id }}'); return false;">
                                <div class="row img-ficha">

                                    <img src="{{ asset('uploads/pirelli/'   ~   llanta.imagen ) }}" alt="{{ llanta.modelo }}" class="img-responsive"/>

                                </div>
                                </a>
                                <div class="row relleno">
                                    <div class="col-md-12">
                                        <h2 class="text-modelo">
                                        {{  llanta.modelo }}
                                        </h2>
                                    </div>
                                </div>
                                <div class="row relleno">
                                    <div class="col-md-12">
                                        <p class="text-precio">{{  llanta.segmento }}</p>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <p class="text-tipo">${{  llanta.precio}}</p>
                                    </div> -->
                                </div>
                                <div class="divisor"></div>
                                <div class="row margin-detalle">
                                    <div class="col-md-6">
                                        <p class="text-detalle">Tama&#241;o de Aro</p>
                                        <p class="text-detalle">Medida</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-detalle">{{  llanta.rin }}</p>
                                        <p class="text-detalle">{{  llanta.medida }}</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Modal -->
                            <div class="modal fade"  class="modal fade "  id="Modal_llanta{{ llanta.modelo | replace({' ': '_'}) }}{{ llanta.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header header-ficha">
                                            <button type="button" class="close close-ficha" data-dismiss="modal" aria-hidden="true"></button>
                                        </div>
                                        <div class="modal-body body-ficha" style="padding:0px;">

                                            <div class="col-md-6" style="padding:0px;">
                                                
                                                <div class="row">

                                                    <img src="{{ asset('uploads/pirelli/'   ~   llanta.imagen ) }}" alt="{{ llanta.modelo }}" class="img-responsive contenedor-centrar"/>

                                                </div>

                                            </div>
                                            <div class="col-md-6" style="padding:0px;">

                                                <div class="row fondo-ficha relleno espacio">

                                                    <div class="col-md-10 col-md-offset-1">
                                                        <div class="col-md-12">
                                                            <p class="modal-text-tipo">{{  llanta.modelo }}</p>
                                                        </div>
                                                        <!-- <div class="col-md-6 text-right">
                                                            <p class="modal-text-precio">${{  llanta.precio}}</p>
                                                        </div> -->
                                                    </div>

                                                    <div class="col-md-10 col-md-offset-1 modal-descripcion">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p class="modal-text">Medida:</p>
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <p class="modal-text-desc">{{  llanta.medida }}</p>
                                                            </div>

                                                        </div>
                                                        <div class="modal-divisor"></div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p class="modal-text">Tama&#241;o de Aro:</p>
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <p class="modal-text-desc">{{  llanta.rin }}</p>
                                                            </div>

                                                        </div>
                                                        <div class="modal-divisor"></div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p class="modal-text">Modelo:</p>
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <p class="modal-text-desc">{{  llanta.modelo }}</p>
                                                            </div>

                                                        </div>
                                                        <div class="modal-divisor"></div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p class="modal-text">Segmento:</p>
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <p class="modal-text-desc">{{  llanta.segmento }}</p>
                                                            </div>

                                                        </div>
                                                        
                                                    </div>


                                                    <div class="col-md-12 modal-botones">
                                                        {% if llanta.ficha == null %}
                                                            <div class="col-md-10 col-md-offset-1" style="height:34px;"></div>
                                                          
                                                        {% else %}
                                                            <a href="{{ asset('uploads/pirelli/fichas/'   ~   llanta.ficha ) }}" target="_blank">
                                                            <div class="col-md-10 col-md-offset-1 btn btn-descarga">Descargar Cat&aacute;logo</div>
                                                            </a>
                                                        {% endif %}
                                                    </div>


                                                    <div class="col-md-12">
                                                        <a href="{{  path('pirelli_informacion' , { 'modelo': llanta.modelo, 'id_llanta': llanta.id }) }}">
                                                            <div class="col-md-10 col-md-offset-1 btn btn-info">M&aacute;s informaci&oacute;n</div>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% set i = i + 1 %}
                    {% endfor %}

                </div>
            </div>


        </div>   

    {% endfor %}


    {% if llantas|length > 8 %} 
        
        <div class="row" style="margin-bottom:20px;">
            <div class="container">

                <div class="col-md-4 col-md-offset-4 btn btn-ver" onclick="mostrarLlantas();">
                    Ver m&aacute;s
                </div>
            </div>
        </div>

    {% else %}
        

        <div class="row" style="margin-bottom:20px;">
            <div class="container">

            </div>
        </div>

    {% endif %} 



{% endblock %}

