
{% extends 'CelmediaToyocostaSeminuevoBundle::layout.html.twig' %}


	
{% block contenidoseminuevos1 %}

{% endblock %}

{% block breadcrumb %}
    
    {% if app.user %}
        <div class="container ty-breadcrumb" {#style="display: none;"#}>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#">HOME</a></li>
                    <li><a href="{{ path('seminuevos_home') }}">Seminuevos</a></li>
                    <li class="active">
                        {% if app.request.get('_route') == "seminuevos_home" %}
                            Principal
                        {% elseif app.request.get('_route') == "seminuevos_venda_usado" %}
                            Venda su usado
                        {% elseif app.request.get('_route') == "seminuevos_estado_usado" %}
                            Estado de mi Carro
                        {% endif %}
                    </li>
                </ol>
            </div>
        </div>
    {% endif %}  


{% endblock %}
	
{% block contenidoseminuevos2 %}

    <div class="container-fluid" {#style="display: none;"#}>
        <div class="row">
            <div class="col-md-12 text-center">
            	<h2>VENDA SU SEMINUEVO</h2>
            	<span class="lbl-form-sm">Los campos con * son obligatorios</span>
            </div>
        </div>
    </div>
   	<form id="form-vehiculo" {{ form_enctype(form) }}  role="form" class="container form-vsm" enctype="multipart/form-data"{#style="display: none;"#}>
   		<input type="hidden" name="usuario" id="usuario" value="{{app.user.username}}"/>
   		<input type="hidden" name="nombre" id="nombre" value="{{app.user.firstname}}"/>
   		<input type="hidden" name="telefono" id="telefono" value="{{app.user.phone}}"/>
   		<input type="hidden" name="cedula" id="cedula" value="{{app.user.biography}}"/>
   		<input type="hidden" name="email" id="email" value="{{app.user.email}}"/>

        <div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_modelo">Modelo del vehículo*</label>
					<input type="text" class="form-control form-control-sm" id="sm_input_modelo" name="sm_input_modelo" placeholder="">
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_kilometraje">Kilometraje*</label>
					<input type="number" class="form-control form-control-sm" id="sm_input_kilometraje" name="sm_input_kilometraje" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm-input-marca">Marca*</label>
					<div class="col-md-12 unido" >
		                <div class="styled-select">
		                    <select name="selectmarca" id="selectmarca" class="form-control">
	                            <option class="style-option" value="" selected="selected" >Seleccione</option>
								<option class="style-option" value="Chevrolet">Chevrolet</option>
								<option class="style-option" value="Mazda">Mazda</option>
								<option class="style-option" value="Ford">Ford</option>
								<option class="style-option" value="Renault">Renault</option>
								<option class="style-option" value="Peugeot">Peugeot</option>
								<option class="style-option" value="Toyota">Toyota</option>
								<option class="style-option" value="Volkswagen">Volkswagen</option>
								<option class="style-option" value="Volvo">Volvo</option>
								<option class="style-option" value="Bmw">Bmw</option>
								<option class="style-option" value="Honda">Honda</option>
								<option class="style-option" value="Hyundai">Hyundai</option>
								<option class="style-option" value="Kia">Kia</option>
								<option class="style-option" value="Mitsubishi">Mitsubishi</option>
								<option class="style-option" value="Nissan">Nissan</option>
								<option class="style-option" value="Skoda">Skoda</option>
								<option class="style-option" value="Suzuki">Suzuki</option>
								<option class="style-option" value="Audi">Audi</option>
								<option class="style-option" value="Citroen">Citroen</option>
								<option class="style-option" value="Daihatsu">Daihatsu</option>
								<option class="style-option" value="Dodge">Dodge</option>
								<option class="style-option" value="Fiat">Fiat</option>
								<option class="style-option" value="Great wall">Great wall</option>
								<option class="style-option" value="Jeep">Jeep</option>
								<option class="style-option" value="Land Rover">Land Rover</option>
								<option class="style-option" value="Lexus">Lexus</option>
								<option class="style-option" value="Mercedes Benz">Mercedes Benz</option>
		                    </select>
		                </div>
		            </div>
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm-input-tipo">Tipo*</label>
					<div class="col-md-12 unido" >
		                <div class="styled-select">
		                    <select name="selecttipo" id="selecttipo" class="form-control">
	                            <option class="style-option" value="" selected="selected" >Seleccione</option>
								<option class="style-option" value="Sedan">Sedan</option>
								<option class="style-option" value="Camioneta 4x4">Camioneta 4x4</option>
								<option class="style-option" value="Camioneta 4x2">Camioneta 4x2</option>
								<option class="style-option" value="Furgoneta">Furgoneta</option>
								<option class="style-option" value="Hatchback">Hatchback</option>
								<option class="style-option" value="Suv 4x4">Suv 4x4</option>
								<option class="style-option" value="Suv 4x2">Suv 4x2</option>
								<option class="style-option" value="Stationwagon">Stationwagon</option>
								<option class="style-option" value="Van">Van</option>
								<option class="style-option" value="Deportivo">Deportivo</option>
		                    </select>
		                </div>
		            </div>
				</div>
			</div>
		</div>
		<div class="row seccion">
			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm">Añada 8 fotos de diferentes ángulos</label>
				</div>
			</div>
        </div>

        <div class="row">

        	{{ form_widget(form.imagenes ) }}

        	
        </div>

        <div class="row">
        	<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
        		<div class="container-fluid">
        			<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								
								<label class="lbl-form-sm" for="sm_file_1">Foto #1 Destacada*</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_1" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-1" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_1" name="sm_input_file_1" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_2">Foto #2 *</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_2" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-2" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_2" name="sm_input_file_2" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_3">Foto #3 *</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_3" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-3" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_3" name="sm_input_file_3" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_4">Foto #4 *</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_4" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-4" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_4" name="sm_input_file_4" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
					</div> <!-- row -->

					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_5">Foto #5</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_5" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-5" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_5" name="sm_input_file_5" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_6">Foto #6</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_6" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-6" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_6" name="sm_input_file_6" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_7">Foto #7</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_7" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-7" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_7" name="sm_input_file_7" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 text-center">
							<div class="form-group form-group-sm">
								<label class="lbl-form-sm" for="sm_file_8">Foto #8</label>
								<div class="custom-input-file">
									<input type="file" id="sm_file_8" class="input-file input-foto-seminuevo" name="sm_input_file" onchange="readURL(this);"/>									
									<img id="sm-img-foto-8" class="sm-img-foto" src="#" alt="" />
									<input type="hidden" id="sm_input_file_8" name="sm_input_file_8" class="foto-adjunta" value="" />
								</div>
							</div>
						</div>
					</div> <!-- row -->

        		</div><!-- container-fluid -->

        	</div>
		</div>

		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_precio">Precio esperado*</label>
					<input type="number" class="form-control form-control-sm" name="sm_input_precio" id="sm_input_precio" placeholder="">
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_anio">Año*</label>
					<input type="number" class="form-control form-control-sm" name="sm_input_anio" id="sm_input_anio" placeholder="">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm-input-color">Color*</label>
					<div class="col-md-12 unido" >
		                <div class="styled-select">
		                    <select name="selectcolor" id="selectcolor" class="form-control">
	                            <option class="style-option" value="" selected="selected" >Seleccione</option>
	                            {% for color in colores %}

								<option class="style-option" value="{{color.id}}">{{color.nombre}}</option>
								
								{% endfor %}
		                    </select>
		                </div>
		            </div>
				</div>
			</div>
			<div class="col-md-5 col-sm-5">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_ciudad">Ciudad*</label>
					<input type="text" class="form-control form-control-sm" name="sm_input_ciudad" id="sm_input_ciudad" placeholder="">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-1  col-sm-offset-1">
				<div class="form-group form-group-sm">
					<label class="lbl-form-sm" for="sm_input_placa">Placa*</label>
					<input type="text" class="form-control form-control-sm" name="sm_input_placa" id="sm_input_placa" maxlength="8" placeholder="">
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
        		<div class="">
        			<div class="row recuadroGris">
						<div class="col-md-3 col-sm-3 col-md-offset-1  col-sm-offset-1" style="height: 100px;">
							<div class="v-center-contenedor">
								<div class="v-center-contenido ">
									<input type="submit" class="btn btn-rojo" value="Enviar" />
								</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-7" style="height: 100px;">
							<div class="v-center-contenedor">
								<div class="v-center-contenido ">
									<p class="txt-gris">
										<input type="checkbox" name="autorizo" id="autorizo" />
										Autorizo a Toyocosta S.A. para que verifique y utilice toda la información proporcionada, así como tambien me pueda contactar a traves de los medios descritos.
									</p>
								</div>
							</div>
						</div>
					</div><!-- recuadroGris -->
        		</div>
        	</div>
        </div>

        <div class="row espacio-a">
			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
				<span class="txt-rojo">*</span><span class="txt-gris">Aplican restricciones. Toyocosta se reserva el derecho de recibir un vehiculo, según marca, modelo, año, kilometraje y estado mecánico.</span>
			</div>
		</div>

    </form>

    <div id="mensaje-venta" class="seccion-ty">
    	<div class="v-center-contenedor">
			<div class="v-center-contenido ">
    			<div class="container-fluid">
    				<div class="row">
    					<div class="col-md-12 text-center">
    						<h3 class="txt-rojo">Gracias por su publicación</h3>
    						<h4 class="txt-gris">Un asesor de toyocosta se comunicará contigo para informarte si tu vehículo está siendo aprobado.</h4>
    					</div>
    					<div class="col-md-12 text-center">
    						&nbsp;
    					</div>
    					<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 text-center">
    						<a href="{{ path('seminuevos_home') }}" class="btn btn-rojo">Regresar a la Pantalla principal</a>
    					</div>
    				</div>
    			</div>
			</div>
		</div>
    </div>
{% endblock %}