
{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

	{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

	{#<div class="row banner-mantenimiento">
		<div class="container">

		</div>
	</div>#}

    <div id="carousel-banners-mantenimiento" class="carousel slide" data-ride="carousel">

	    <div class="carousel-inner">

	        {% set i = 0 %}
	        {% for item in banners %}
	               
	        <div class="item {% if loop.first %} active {% endif %}">
	          
	            <img src="{{ asset('uploads/slide-principal/'   ~   item.imagenBanner ) }}" class="img-responsive obj-centrar" style="width:100%;">
	            <div class="carousel-caption" style="padding-bottom:0px;">
	                    

	                    <div class="row text-center">
	                        <div class="col-md-7 col-sm-8 col-md-offset-3 col-sm-offset-3">
	                            {% if item.descripcion %}
	                                <h4 class="txt-blanco" style=" margin-bottom: 0;text-transform: uppercase;">{{ item.descripcion }}</h4>

	                            {% endif %}
	                            {% if item.link and item.boton %}
	                            <a href="{{item.link}}" class="btn btn-lg btn-registrate">{{ item.boton }}</a>

	                            {% endif %}
	                        </div>
	                    </div>

	            </div>
	            {% set i = i + 1 %}
	        </div>

	        {% endfor %}

	    </div>

    </div>

	<div class="container">

		<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


			<div class="col-md-12 text-center">

				<div class="col-md-8 col-md-offset-2">
					<h3 style="font-size:20px;" >Por favor llene el siguiente formulario para que un representante de Toyocosta pueda comunicarse inmediatamente con usted.</h3>
				</div>

			</div>

			<div class="col-md-12" id="contenedorFormMantenimiento">

				<form id="form-mantenimiento" class="form-info contenedor-centrar" method="post"  action="{{   path('envio_mantenimiento')}}"    >
					
					<input type="hidden"  id="selectedRegalo" name="selectedRegalo"   value="noselected"  />
					
					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1">

								<div class="col-xs-4 col-xs-offset-1">
									<label>Nombre:</label>
									<input id="mnombre" name="mnombre" type="text" class="form-control" placeholder="" />
								</div>
								<div class="col-xs-4 col-xs-offset-1">
									<label>Apellido:</label>
									<input id="mapellido" name="mapellido" type="text" class="form-control" placeholder="" />
								</div>

						</div>

					</div>

					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1">

							<div class="row">
								<div class="col-xs-4 col-xs-offset-1">
									<label>Tel&eacute;fono:</label>
									<input id="mtelefono" name="mtelefono" type="text" class="form-control" placeholder="" />
								</div>
								<div class="col-xs-4 col-xs-offset-1">
									<label>Email:</label>
									<input id="memail" name="memail" type="text" class="form-control" placeholder="" />
								</div>

							</div>	
						</div>

					</div>


					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1">

							<div class="row">
								<div class="col-xs-4 col-xs-offset-1">
									<label>Celular:</label>
									<input id="mcelular" name="mcelular" type="text" class="form-control" placeholder="" />
								</div>
								<div class="col-xs-4 col-xs-offset-1">
									<label>Fecha Tentativa</label>
									<input id="mfecha" name="mfecha" type="date" class="form-control" placeholder="yyyy/mm/dd" />
								</div>

							</div>	
						</div>

					</div>

					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1">

							<div class="row">
								<div class="col-xs-4 col-xs-offset-1">
									<label>Reserva de:</label>
									<select name="mreserva" id="mreserva" class="form-control txt-select" onchange="reservaSelected(this)">
										<option value="">Selecciona un tipo</option>
										{% for reserva in reservas %}
											<option value="{{ reserva.id }}" >{{ reserva.nombre }}</option>
				                    	{% endfor %}

									</select>
								</div>
								<div class="col-xs-4 col-xs-offset-1">
									<label>Observaciones:</label>
									<textarea name="mobservaciones" id="mobservaciones" class="form-control" rows="3"></textarea>
								</div>

							</div>	
						</div>

					</div>

					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-4 col-xs-offset-1">
									<div id="dir" style="display:none;">{{  asset('uploads/obsequios/')  }}</div>
									<label>Taller:</label>
									<select name="mtaller" id="mtaller" class="form-control txt-select" onchange="tallerSelected(this)">
									
										<option value="">Selecciona un taller</option>
									</select>
								</div>
								<div class="col-xs-4 col-xs-offset-1" id="sm-comentario" style="display:none;">
									<label>Comentario:</label>
									<textarea id="mcomentario" name="mcomentario" class="form-control" rows="3"></textarea>
								</div>

							</div>	
						</div>

					</div>

					<div class="row space-input" id="bloque-obsequio">
						<div class="col-md-10 col-md-offset-2">

							<h3 style="text-align:left;color:#FF0000;font-size:18px;">Seleccione uno de los regalos que tenemos para usted</h3>
							<select name="regalo" id="regalo" class="regalo">
																	
								<option selected disabled="disabled"></option>
																											

							</select>
						</div>

					</div>


					<div class="row space-input" id="sm-modelo-km" style="display:none;">
						<div class="col-md-10 col-md-offset-1">

							<div class="row">
								<div class="col-xs-4 col-xs-offset-1">
									<label>Modelo:</label>
									<select name="mmodelo" id="mmodelo"  class="form-control txt-select">
										<option value="">Selecciona un modelo</option>
										{% for vehiculo in vehiculos %}
											<option value="{{ vehiculo.id }}" >{{ vehiculo.nombre }}</option>
				                    	{% endfor %}
									</select>
								</div>
								<div class="col-xs-4 col-xs-offset-1">
									<label>Kilometros:</label>
									<select name="mkilometraje" id="mkilometraje"  class="form-control txt-select">
										<option value="">Seleccione un Kilometraje</option>									
										<option value="1,000 kms">1,000 kms</option>
										<option value="5,000 kms">5,000 kms</option>
										<option value="10,000 kms">10,000 kms</option>
										<option value="15,000 kms">15,000 kms</option>
										<option value="20,000 kms">20,000 kms</option>
										<option value="25,000 kms">25,000 kms</option>
										<option value="30,000 kms">30,000 kms</option>
										<option value="35,000 kms">35,000 kms</option>
										<option value="40,000 kms">40,000 kms</option>
										<option value="45,000 kms">45,000 kms</option>
										<option value="50,000 kms">40,000 kms</option>
										<option value="55,000 kms">55,000 kms</option>
										<option value="60,000 kms">60,000 kms</option>
										<option value="65,000 kms">65,000 kms</option>
										<option value="70,000 kms">70,000 kms</option>
										<option value="75,000 kms">75,000 kms</option>
										<option value="80,000 kms">80,000 kms</option>
										<option value="85,000 kms">75,000 kms</option>
										<option value="90,000 kms">90,000 kms</option>
										<option value="95,000 kms">95,000 kms</option>
										<option value="100,000 kms">100,000 kms</option>
									</select>
								</div>

							</div>	
						</div>

					</div>


					<div class="row space-input">
						<div class="col-md-10 col-md-offset-1" style="padding-top:20px;">

							<div class="row">
								<div class="col-md-3 col-md-offset-4">
	                                <input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
								</div>
							</div>	
						</div>

					</div>

				</form>

			</div>


			{#<div class="container" id="contenedorEspereMantenimiento" style="display:none;height:250px;">
				<div class="row">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
						<h4 class="txt-rojo txt-negrita">Enviando información...</h4>
					</div>
				</div>
			</div>#}



		</div>

	</div>


{% endblock %}
