{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-test">
	<div class="container contenedor-centrar">
		<div class="text-left">
            <h1 class="title-banner">TEST DRIVE</h1>
        </div>
	</div>
</div>



<div class="container">

	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


		<div class="col-md-12 text-center">

			<h2>VIVE LA EXPERIENCIA TOYOTA</h2>
			<p class="txt-info">Que no te lo cuenten, ven y descubre la calidad de un Toyota. Ingresa sus datos y un operador se comunicar&aacute; contigo.</p>

		</div>

		<div class="col-md-12" id="contenedorFormTest">

			<form id="form-test" method="POST" class="form-info">
				
				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Nombre:</label>

								{#{{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}#}

								<input id="nombre_test" name="nombre_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Apellido:</label>

								{#{{ form_widget(form.apellido, {'attr': {'class': 'form-control'}}) }}#}
								<input id="apellido_test" name="apellido_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Tel&eacute;fono:</label>

								{#{{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}#}

								<input id="telefono_test" name="telefono_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Email:</label>

								{#{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}#}

								<input id="email_test" name="email_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>


				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>No. de C&eacute;dula / Pasaporte:</label>

								{#{{ form_widget(form.cedula, {'attr': {'class': 'form-control'}}) }}#}

								<input id="cedula_test" name="cedula_test" type="text" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Fecha de nacimiento</label>

								{#{{ form_widget(form.nacimiento, {'attr': {'class': 'form-control'}}) }}#}
								<input id="nacimiento_test" name="nacimiento_test" type="date" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Agencia:</label>

								{#{{ form_widget(form.agencia, {'attr': {'class': 'form-control txt-select'}}) }}#}


								<select name="agencia_test" id="agencia_test" class="form-control txt-select">
									<option value="">Seleccione la agencia</option>

									{% for row in agencias %}

										<option value="{{ row.nombre }}" >{{ row.nombre }}</option>
			                    	{% endfor %}

								</select>

							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Ciudad:</label>

								{#{{ form_widget(form.ciudad, {'attr': {'class': 'form-control'}}) }}#}
								<input id="ciudad_test" name="ciudad_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>


				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							
							<div class="col-xs-4 col-xs-offset-1">
								<label>Vehiculo:</label>

								{#{{ form_widget(form.vehiculo, {'attr': {'class': 'form-control txt-select'}}) }}#}
								<select  name="vehiculo_test" id="vehiculo_test"  class="form-control txt-select">
									<option value="">Seleccione un modelo</option>

									{% for vehiculo in vehiculos_test %}

										<option value="{{ vehiculo.nombre }}" >{{ vehiculo.nombre }}</option>
			                    	{% endfor %}

								</select>

							</div>

						</div>	
					</div>

				</div>

				<hr>



				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								<label>Fecha del test:</label>
								{#{{ form_widget(form.fecha_test, {'attr': {'class': 'form-control'}}) }}#}

								<input id="fecha_test" name="fecha_test" type="date" class="form-control" placeholder="" />
							</div>
							<div class="col-xs-4 col-xs-offset-1">
								<label>Hora del test:</label>
								{#{{ form_widget(form.hora_test, {'attr': {'class': 'form-control'}}) }}#}
								<input id="hora_test" name="hora_test" type="text" class="form-control" placeholder="" />
							</div>

						</div>	
					</div>

				</div>

				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-9 col-xs-offset-1">
								<label>Observaciones:</label>
								{#{{ form_widget(form.observacion, {'attr': {'class': 'form-control'}}) }}#}
								<textarea id="obs_test" name="obs_test" class="form-control" rows="3"></textarea>

							</div>
						</div>	
					</div>

				</div>


				{#<div class="row space-input">
					<div class="col-md-10 col-md-offset-1">

						<div class="row">
							<div class="col-xs-4 col-xs-offset-1">
								
								<label>Complete el campo:</label>
								{% if form_errors(form.captcha) %}
									 <br/><br/>{{ form_errors(form.captcha) }}
								{% endif %}
								<br/><br/>
								{{ form_widget(form.captcha, {'attr': {'class': 'form-control'}}) }}	

							</div>
						</div>	
					</div>

				</div>#}



				<div class="row space-input">
					<div class="col-md-10 col-md-offset-1" style="padding-top:20px;">

						<div class="row">
							<div class="col-md-3 col-md-offset-4">

                                <input type="submit" value="Enviar" class="btn btn-lg btn-info" style="width:100%;">
							</div>
						</div>	
					</div>

				</div>

			</form>

		</div>

		<div class="col-md-12 alto-completo" style="display:none;" id="contenedorEspereTest">
			<div class="container-fluid">
				<div class="row" style="margin-top: 40px; margin-bottom:40px;">
					<div class="col-md-12 text-center">
						<h4 class="txt-negro">Enviando información...</h4>
					</div>
				</div>
			</div>
		</div>


	</div>

</div>


{% endblock %}
