{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

<div class="row banner-certificados">
	<div class="container contenedor-centrar">
		<div class="text-left">
            <h1 class="title-banner">CERTIFICADOS SEMINUEVOS</h1>
        </div>
	</div>
</div>



<div class="container">

	<div class="row" style="padding-top: 20px;padding-bottom: 30px;">


		<div class="col-md-12 text-center">

			<h2>UNIDADES VERIFICADAS POR TOYOCOSTA</h2>
			<p class="txt-gris">TOYOCOSTA est&aacute; impulsando la DIVISI&Oacute;N USADOS con mucha fuerza ofreciendo versatilidad en este negocio. Nos diferenciamos de la competencia (patios de usados y divisiones de usados de otros concesionarios) en que vendemos unidades que han pasado por una revisi&oacute;n completa de TOYOCOSTA en aspectos t&eacute;cnicos y legales. Este año, seguimos creciendo y ofrecemos.</p>

		</div>

		<div class="col-md-12">

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/verificaciontoyocosta.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2 class="txt-left">VERIFICACI&Oacute;N TOYOCOSTA</h2>
					<p class="txt-left txt-gris">Es un informe que asegura que nuestro Seminuevo ha pasado por un aval&uacute;o t&eacute;cnico completo y no tiene gravamen/prohibici&oacute;n de enajenar.</p>
				</div>

			</div>

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/traspasodegarantiatoyota.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2>TRASPASO DE GARANT&Iacute;A TOYOTA</h2>
					<p class="txt-left txt-gris">Si el veh&iacute;culo es TOYOTA y ha realizado todos las visitas de mantenimiento con los talleres autorizados y est&aacute; dentro de los 5 años/100mil km, mantiene su garant&iacute;a, misma que se trapasa al nuevo dueño.</p>
				</div>

			</div>

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/garantiamecanica.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2>GARANT&Iacute;A MEC&Aacute;NICA</h2>
					<p class="txt-left txt-gris">Si el veh&iacute;culo es TOYOTA y ha realizado todos las visitas de mantenimiento con los talleres autorizados y est&aacute; dentro de los 5 años/100mil km, mantiene su garant&iacute;a, misma que se trapasa al nuevo dueño.</p>
				</div>

			</div>

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/avaluotecnico.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2>AVAL&Uacute;O T&Eacute;NICO</h2>
					<p class="txt-left txt-gris">Si el veh&iacute;culo es TOYOTA y ha realizado todos las visitas de mantenimiento con los talleres autorizados y est&aacute; dentro de los 5 años/100mil km, mantiene su garant&iacute;a, misma que se trapasa al nuevo dueño.</p>
				</div>

			</div>

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/docenreglas.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2>DOCUMENTOS EN REGLAS</h2>
					<p class="txt-left txt-gris">Si el veh&iacute;culo es TOYOTA y ha realizado todos las visitas de mantenimiento con los talleres autorizados y est&aacute; dentro de los 5 años/100mil km, mantiene su garant&iacute;a, misma que se trapasa al nuevo dueño.</p>
				</div>

			</div>

			<div class="row space-ld">
				<div class="col-md-3">
					{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/certificados/creditodirecto.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="margin: 0 auto;" />
					{% endimage %}
				</div>
				<div class="col-md-9 space-top-30">
					<h2>CR&Eacute;DITO DIRECTO</h2>
					<p class="txt-left txt-gris">Si el veh&iacute;culo es TOYOTA y ha realizado todos las visitas de mantenimiento con los talleres autorizados y est&aacute; dentro de los 5 años/100mil km, mantiene su garant&iacute;a, misma que se trapasa al nuevo dueño.</p>
				</div>

			</div>


		</div>


	</div>

</div>


{% endblock %}
