{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}
	
	{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}
	
	<div class="container-fluid espaciado-menu-3 {# visible-lg visible-md visible-sm hidden-xs #}">
		&nbsp;as
	</div>

	<div id="empresa-seccion" class="fondo-seccion-2 container-fluid">
		<div class="row espacio-a">
			<div class="col-md-4 col-md-offset-2">
				{% for row in proposito %}
					<h1 class="txt-rojo"> {{ row.titulo }} </h1>
					<p>{{ row.texto | raw }}</p>
				{% endfor %}
			</div>
			<div class="col-md-5">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/matriz.png' %}
					<img src="{{ asset_url }}" class="img-responsive img-absoluta" alt="" style="" />
				{% endimage %}
			</div>		
		</div>
    </div>
	<div class="container-fluid">
		<div class="row espacio-a">
			{% for row in vision %}
				<div class="col-md-2 col-sm-4 col-md-offset-2 col-sm-offset-2 borde-rojo-derecho">
					<h1 class="txt-mayusculas"> {{ row.titulo }} </h1>
				</div>
				<div class="col-md-2 col-sm-5">
					<p>{{ row.texto | raw }}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<div class="row espacio-a">
			<div class="col-md-12">
				<h2 class="text-center">COMPROMETIDOS</h2>
			</div>
		</div>
		<div class="row espacio-a">
			<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 text-center">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/comprometidos.png' %}
					<img src="{{ asset_url }}" class="img-responsive obj-centrar" alt="" />
				{% endimage %}
			</div>
		</div>
		<div class="row espacio-a">		
			<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
				<p class="text-center">
					TOYOCOSTA ingresa al mercado en el año 2000 con tan s&oacute;lo una oficina de la mitad del tamaño de lo que hoy es la matriz (Ave. Carlos Julio Arosemena Km 3.5), y cerrando una primera venta de 20 camionetas TOYOTA HILUX a Cervecer&iacute;a Nacional.<br /><br />
					Hoy estamos en Guayas, Manab&iacute;, Los R&iacute;os con divisiones que cubren no s&oacute;lo la venta y postventa, sino tambi&eacute;n negocios de accesorios especialmente para TOYOTA, venta de Montacargas y renta de flotas.<br /><br/>
				</p>	
			</div>
		</div>
	</div>


	<div id="region-seccion" class="fondo-seccion-2">
		<div class="container">
			<div class="row espacio-a">
				<br /><br /><br /><br /><br />
			</div>
			<div class="row espacio-a">
				<h1 class="text-center">LA REGI&Oacute;N COSTA</h1>			
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
					<p class="text-center">
						En el año Toyocosta contaba con apenas 3 personas enroladas en la compañ&iacute;a, actualmente somos m&aacute;s de 200 colaboradores, distribuidos en las siguientes oficinas.
					</p>
				</div>
			</div>
			<div class="row espacio-a">
				<div class="col-md-8 col-md-offset-2">
					<div class="container-fluid">
						{% for fAgencias in agencias|batch(3) %}
							<div class="row">
								{% for agencia in fAgencias %}
										<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 alto-agencia hidden-sm hidden-xs">
											<a href="{{ path('contactenos_agencia', { 'agenciaid': agencia.id } ) }}" class="link-accesos" alt="{{ agencia.nombre }}">
												<div class="ico-empresa-agencia">&nbsp;</div>
											</a>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 ">
											<span class="txt-negrita">{{ agencia.nombre }}</span>
											<p>
												{{ agencia.ubicacion }}
											</p>
										</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					
				</div>
			</div>

			<div class="row espacio-a">
				<br /><br />
			</div>

			<div class="row espacio-a">
				<div class="col-md-8 col-md-offset-2">
					<p class="text-center">
						El servicio t&eacute;cnico est&aacute; certificado* por la TOYOTA MOTOR CORPORATION y en la red somos reconocidos por la inversi&oacute;n en alta  tecnolog&iacute;a en equipos y en capacitaci&oacute;n del personal t&eacute;cnico -titulado por Jap&oacute;n- tanto para manejo de motores convencionales a gasolina, como los de tecnolog&iacute;a h&iacute;brida.
					</p>
					<p class="text-center">
						Despu&eacute;s de una d&eacute;cada seguimos teniendo la TOYOTA HILUX, insignia de trabajo fuerte y durabilidad y la legendaria familia LAND CRUISER: FJ, 4RUNNER,  LC200, pero tambi&eacute;n tenemos novedades como el FORTUNER 4X4 y por supuesto, los h&iacute;bridos como el PRIUS y el HIGHLANDER, tecnolog&iacute;a en la que indiscutiblemente somos l&iacute;deres en el pa&iacute;s.
					</p>
					<p class="text-center">
						Anualmente hacemos actividades familiares de turismo y de naturaleza. Empezamos con PURA TRACCI&Oacute;N evento dirigido para todos los TOYOTA 4X4 ; pero con el crecimiento en el segmento de los h&iacute;bridos, contamos ahora con el TOYOTA ECOLOGICAL CLUB orientado a los amantes de la naturaleza, la tecnolog&iacute;a  e  innovaci&oacute;n.
					</p>
					<p class="text-center">
						Los clientes pasan de ser compradores a fanáticos de la marca. Manejan no s&oacute;lo un TOYOTA: nuestros clientes manejan emociones!<br /><br />
					</p>	
				</div>
			</div>

			<div class="row espacio-a">
				<br /><br /><br /><br /><br />
			</div>
		</div>
		
		{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/palmera.png' %}
			<img src="{{ asset_url }}" class="img-palmera hidden-sm hidden-xs" alt="" />
		{% endimage %}
	
	</div>

	<div class="container">
		<div class="row espacio-a">
			&nbsp;
		</div>
		<div class="row">
			<div class="col-md-3 borde-gris text-center espacio-a">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/seminuevo.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="" />
				{% endimage %}
				<h4 class="text-left txt-negrita ttexto-emp-acc">SEMINUEVOS TOYOCOSTA</h4>
				<p class="text-left texto-emp-acc">
					Todas las unidades que comercializamos han pasado por un proceso
					de alistamiento, lo que nos permite ofrecer 6 meses de servicio de aver&iacute;a mec&aacute;nica (en partes nombradas), en caso de alguna eventualidad.<br />
				</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="{{ path('seminuevos_home') }}" class="btn btn-info">Conoce m&aacute;s</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 borde-gris text-center espacio-a">
			    {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/toyota.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="" />
				{% endimage %}
		      	<h4 class="text-left txt-negrita ttexto-emp-acc">TOYOTA EN EL ECUADOR</h4>
		      	<p class="text-left texto-emp-acc">
		      		En nuestro pa&iacute;s TOYOTA est&aacute; representada por TOYOTA 
			      	DEL ECUADOR S.A. y sus tres &uacute;nicos consesionarios autorizados:<br /><br />
			      	TOYOCOSTA<br /><br />
			      	IMPORTADORA TOMEBAMBA<br /><br />
			      	CASABACA<br /><br />
		      	</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="http://www.toyota.com.ec/" class="btn btn-info" target="_blank">Conoce m&aacute;s</a>
						</div>
					</div>
				</div>
	      	</div>

	      	<div class="col-md-3 borde-gris text-center espacio-a">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/industrial.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="" />
				{% endimage %}
					<h4 class="text-left txt-negrita ttexto-emp-acc">LINEA INDUSTRIAL TOYOCOSTA</h4>
				<p class="text-left texto-emp-acc">
					Toyocosta S.A. en calidad de representante exclusivo para el 
					Ecuador de Montacargas TOYOTA, se encuentra encaminada a satisfacer las diferentes necesidades de transporte y carga en el segmento industrial, ofertando productos   como la venta y alquiler de montacargas, así como la post venta para cada necesidad   desde el año 2010.<br />
				</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="#" class="btn btn-info">Conoce m&aacute;s</a>
						</div>
					</div>
				</div>
		     </div>

		    <div class="col-md-3 text-center espacio-a">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/empresa/pirelli.png' %}
					<img src="{{ asset_url }}" class="img-responsive" alt="" style="" />
				{% endimage %}
				<h4 class="text-left txt-negrita ttexto-emp-acc">DISTRIBUIDOR AUTORIZADO PIRELLI</h4>
				<p class="text-left texto-emp-acc">Toyocosta S.A. en calidad de representante exclusivo para el 
					Ecuador de Montacargas TOYOTA, se encuentra encaminada a satisfacer las diferentes necesidades de transporte y carga en el segmento industrial, ofertando productos   como la venta y alquiler de montacargas, así como la post venta para cada necesidad   desde el año 2010.<br />
				</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<a href="{{ path('pirelli_home') }}" class="btn btn-info">Conoce m&aacute;s</a>
						</div>
					</div>
				</div>
		    </div>
		</div>
		<div class="row espacio-a">
			&nbsp;
		</div>
	</div>
{% endblock %}