{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

{% block contenidotoyocosta %}

{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}

{% if vehiculo %}
	<div class="row" style="position:relative; top:70px; height: 275px;">
		<div class="container-fluid vehiculo-banner" style="background-image: url({{ asset('uploads/vehiculo/banner/'   ~   vehiculo.imagenBanner ) }});">
			&nbsp;
		</div>
	</div>

	<div class="container">
		 <div class="row">
	        <div class="col-md-12">
	            <ol class="breadcrumb breadcrumb-ty">
	              <li><a href="{{ path('toyocosta_homepage') }}">INICIO</a></li>
	              <li><a href="{{ path('ver_vehiculo', {'vehname': vehiculo.nombre ,'vehiculoid': vehiculo.id } )  }}">{{vehiculo.nombre}}</a></li>
	              <li class="active"><strong>ESPECIFICACIONES</strong></li>
	            </ol>
	        </div><br/><br/>          
	    </div>
	    <div class="row">
			<div class="col-md-12">
				<h3 style="text-align:center"><strong>ESPECIFICACIONES DEL VEH&Iacute;CULO</strong></h3>
			</div><br/>
	    </div>
		<div class="row">
			<div class="col-xs-4 col-md-10">
				<a href="{{ path('ver_vehiculo', {'vehname': vehiculo.nombre ,'vehiculoid': vehiculo.id } )  }}" style="color:black">
					<i class="icono-regresar"></i>
					<strong>Regresar</strong>
				</a>
			</div>
			<div class="col-xs-4 col-md-2">
				{% if vehiculo.ficha %}
					<a href="{{ asset('uploads/vehiculo/ficha/'   ~   vehiculo.ficha ) }}" class="btn btn-vehiculo" target="_blank">
						Ficha Técnica
						<i class="icono-descarga"></i> 
					</a>
				{% endif %}
			</div>
		</div>
		<br/><br/>
	</div>

	{% if  vehiculo.especificaciones|length > 0 %}

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<ul class="nav nav-tabs row tabs-especificaciones" role="tablist">
						{% for especificacion in vehiculo.especificaciones %}
							<li class="{% if loop.first %}active{% endif %} col-md-3">
								<a href="#{{especificacion.seccion}}" role="tab" data-toggle="tab"><strong>{{especificacion.seccion | upper }}</strong></a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">	
			<div class="row">
				<div class="col-md-12">
					<div class="tab-content">

						{% for especificacion in vehiculo.especificaciones %}

							<div class="tab-especificaciones tab-pane {% if loop.first %}active{% endif %} " id="{{especificacion.seccion}}">
								<br/><br/>
								{{especificacion.rawText | raw}}
								<br/><br/>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	{% else %}
	    
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					No se han definido especificaciones para este vehículo.
				</div>
			</div>
		</div>

	{% endif %}


{% else %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				No se encuentra vehículo.
			</div>
		</div>
	</div>
{% endif %}


{% endblock %}