<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Toyocosta</title>

	    {% stylesheets
	        "@CelmediaToyocostaPirelliBundle/Resources/public/css/bootstrap.min.css"
	        "@CelmediaToyocostaPirelliBundle/Resources/public/css/menu.toyocosta.css"
	        "@CelmediaToyocostaPirelliBundle/Resources/public/css/reset.css"    
	        "@CelmediaToyocostaVehiculosBundle/Resources/public/css/resetvehiculos.css"
	        "@CelmediaToyocostaVehiculosBundle/Resources/public/css/footer.css"
	        "@CelmediaToyocostaVehiculosBundle/Resources/public/css/style.css"
	    %}
	        <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
	    {% endstylesheets %}
    </head>
    <body>
		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu-secciones.html.twig' %}

		<div id="vehiculo-detalles" class="vehiculo-seccion">		
			<div class="container-fluid vehiculo-banner" style="background-image: url({{ asset('uploads/vehiculo/banner/'   ~   '7-Banner-corolla.jpg' ) }});">
				&nbsp;
			</div>

			<div class="vehiculo-descripcion">
				<div class="container alto-completo">
					<div class="row alto-completo">
						<div class="col-md-6 alto-completo">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<ol class="breadcrumb">
											<li>
												<a href="#">Home</a>
											</li>
											<li class="active">Prius</li>
										</ol>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 texto-detalle">
										<h4 class="">Precio</h4>
										<h2 class="txt-precio">$12,345.67</h2>
										<span class="">El precio incluye IVA</span>
										<h4 class="">Que no te lo cuenten, ven y descubre la experiencia Toyota</h4>
										<h3 class="">
											Mira el Test Drive de Andr&eacute;s con el Prius C
											<a href="#">
												{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/iconos/icono-flecha.png' %}
												<img src="{{ asset_url }}" class="" />
							            		{% endimage %}
											</a>
										</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<a href="" class="btn btn-vehiculo">Test Drive</a>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<a href="" class="btn btn-vehiculo">
											Ficha Técnica
											<span class="glyphicon icono-btn"> <i class="icono-descarga"></i> </span>
										</a>
									</div>
									<div class="col-md-2 col-md-offset-1">
										<a href="" class="btn btn-vehiculo-rojo">Cotizar</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 alto-completo">

							<div id="vehiculo-colores-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">

							    <ol class="carousel-indicators">
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="0"  class="vehic-miniaturas fondoVAzul active"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="1"  class="vehic-miniaturas fondoVMoonglow"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="2"  class="vehic-miniaturas fondoVBlanco"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="3"  class="vehic-miniaturas fondoVGris"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="4"  class="vehic-miniaturas fondoVAmarillo"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="5"  class="vehic-miniaturas fondoVVerde"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="6"  class="vehic-miniaturas fondoVGris2"></li>
							        <li data-target="#vehiculo-colores-carousel" data-slide-to="7"  class="vehic-miniaturas fondoVConchevino"></li>
							    </ol>

							    <div class="carousel-inner alto-completo">
								    <div class="item active alto-completo">
								    	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-Super-White.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color: Blanco
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->
							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->

							        <div class="item alto-completo">
							        	<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" class="img-responsive obj-centrar" />
							    		<div class="carousel-caption">
							    			<div class="container-fluid">
							    				<div class="row">
							    					<div class="col-md-4 col-md-offset-4">
							    						Color. Verde
							    					</div>
							    				</div>
							    			</div>
							    		</div>
							        </div><!-- item -->
							    </div>
								
							</div>							

						</div>
					</div>
				</div>
			</div>
		</div>  <!-- vehiculo-detalles -->

		<div id="vehiculo-modelos" class="vehiculo-seccion fondoGris">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="vehiculo-seccion-titular">Modelos</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center c-modelo">
						<img src="{{ asset('uploads/vehiculo/modelo/'   ~   'Version-Corolla-1.6.png' ) }}" class="img-responsive obj-centrar" />
						<div class="vehic-modelo">
							<div class="container-fluid">
								<div class="row">
									<h2 class="modelo-titular txt-negrita">PRIUS C</h2>
									<p class="modelo-titular">ACC + AROOS + MAQUETAS</p>
									<h4 class="txt-negro">SIN IVA: <span class="txt-rojo">$123456</span></h4>
									<h4 class="txt-negro">CON IVA: <span class="txt-rojo">$123456</span></h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center c-modelo">
						<img src="{{ asset('uploads/vehiculo/modelo/'   ~   'Versiones-PRIUS-C-SPORT-XRS.png' ) }}" class="img-responsive obj-centrar" />
						<div class="vehic-modelo">
							<div class="container-fluid">
								<div class="row">
									<h2 class="modelo-titular txt-negrita">PRIUS C</h2>
									<p class="modelo-titular">ACC + AROOS + MAQUETAS</p>
									<h4 class="txt-negro">SIN IVA: <span class="txt-rojo">$123456</span></h4>
									<h4 class="txt-negro">CON IVA: <span class="txt-rojo">$123456</span></h4>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center c-modelo">
						<img src="{{ asset('uploads/vehiculo/modelo/'   ~   'Version-Corolla-1.6.png' ) }}" class="img-responsive obj-centrar" />
						<div class="vehic-modelo">
							<div class="container-fluid">
								<div class="row">
									<h2 class="modelo-titular txt-negrita">PRIUS C</h2>
									<p class="modelo-titular">ACC + AROOS + MAQUETAS</p>
									<h4 class="txt-negro">SIN IVA: <span class="txt-rojo">$123456</span></h4>
									<h4 class="txt-negro">CON IVA: <span class="txt-rojo">$123456</span></h4>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> <!-- vehiculo-modelos -->

		<div id="vehiculo-galeria" class="vehiculo-seccion fondoGris">
			<div id="vehiculo-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">
				<ol class="carousel-indicators">
					<li data-target="#vehiculo-carousel" data-slide-to="0"  class="active"></li>
					<li data-target="#vehiculo-carousel" data-slide-to="1"  class=""></li>
				</ol>


				<div class="carousel-inner alto-completo">
					<div class="item active alto-completo">
						<iframe src="//player.vimeo.com/video/32966864" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-completo"></iframe>
					</div><!-- item -->

					<div class="item alto-completo">
						<iframe width="560" height="315" src="//www.youtube.com/embed/LfIAdYGxi6Y" frameborder="0" allowfullscreen class="video-completo"></iframe>
					</div><!-- item -->
				</div>


				<!-- Controls -->
				<a class="left carousel-control galeria-v-control" href="#vehiculo-carousel" data-slide="prev">
					<div class="slider-galeria left"></div>
				</a>
				<a class="right carousel-control galeria-v-control" href="#vehiculo-carousel" data-slide="next">
					<div class="slider-galeria right"></div>
				</a>

			</div>

			
		</div> <!-- vehiculo-galeria -->

		<div id="vehiculo-cotizar" class="vehiculo-seccion">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
						<h1 class="txt-rojo txt-negrita">COTIZAR</h1>
					</div>
				</div>
			</div>

			<div class="container cotizar-banner">
				<div class="row espacio-a">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
						<ul class="nav nav-tabs nav-cotizar">
							<li class="active">
								<a href="#paso-1" class="pasos paso-1" data-toggle="tab">&nbsp;</a>
							</li>
							<li class="">
								<a href="#paso-2" class="pasos paso-2" data-toggle="tab">&nbsp;</a>
							</li>
							<li class="">
								<a href="#paso-3" class="pasos paso-3" data-toggle="tab">&nbsp;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>


			{#
			<div class="row espaciado-vehiculo visible-md visible-lg hidden-sm hidden-xs">
				&nbsp;
            </div>
			#}

			<div class="contenedor-tab">
						<!-- Tab panes -->
						<div class="tab-content alto-completo">
							<div class="tab-pane fade in active alto-completo" id="paso-1">
								<div class="container alto-completo">
									<div class="v-center-contenedor">
										<div class="v-center-contenido">
											<div class="row espaciado-a">
												<div class="col-md-4">
													<div class="container-fluid">
														<div class="row espaciado-a">
															<h1 class="tab-titular">PRIUS C SPORT</h1>
														</div>
														<div class="row espaciado-a">
															<h4 class="tab-subtitular">Modelo</h4>
														</div>
														<div class="row espaciado-a">
															<select id="selectmodelo" name="selectmodelo" class="selectmodelo select-custom">
																<option value="-1">Selecciona una opción</option>
																<option value="1">Option 1</option>
																<option value="2">Option 2</option>
																<option value="3">Option 3</option>
																<option value="4">Option 4</option>
																<option value="5">Option 5</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-8 alto-completo">
													<img src="{{ asset('uploads/vehiculo/color/'   ~   'Colores-Corolla-verde.png' ) }}" alt="" class="img-responsive obj-centrar">
												</div>
											</div>
											<div class="row espaciado-a">
												<div class="col-md-4 col-md-offset-4">
													<a href="#" class="btn-lg btn-rojo link-accesos text-center">
														Ver m&aacute;s
													</a>
												</div>
											</div>
										</div><!-- v-center-contenido -->
									</div><!-- v-center-contenedor -->

								</div>
							</div>

							<div class="tab-pane fade alto-completo" id="paso-2">
								<div class="container alto-completo">
									<div class="v-center-contenedor">
										<div class="v-center-contenido">
											<div class="row">
												<div class="col-md-3 text-left alto-completo">
													<h3 class="modelo-titular txt-negrita">Precio Total</h3>
													<p class="txt-negro">Precio sin IVA: <span class="txt-rojo">$123456</span></p>
													<p class="txt-negro">Precio con IVA: <span class="txt-rojo">$123456</span></p>
													<p class="txt-negro">Entrada mínima: <span class="txt-rojo">$123456</span></p>
													<p class="cotizar-descripcion">
														<span class="txt-rojo">*</span>Los precios no incluyen seguro ni dispositivos.
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae metus ut neque commodo elementum in ac felis. Proin pharetra lorem nec scelerisque vehicula. Nunc feugiat quis velit dignissim dapibus. 
													</p>
												</div>
												
												<div class="col-md-1 alto-completo visible-md visible-lg hidden-sm hidden-xs">
													&nbsp;
												</div>

												<div class="col-md-3 text-left alto-completo">
													<h3 class="modelo-titular txt-negrita">Cotizar</h3>
													<p class="txt-negro">Entrada</p>
													<input type="number" class="form-control" id="inputEntrada" placeholder="">
													<p class="txt-negro">Plazo</p>
													<select id="selectplazo" name="selectplazo" class="selectplazo select-custom">
														<option value="-1">Selecciona un plazo</option>
														<option value="1">Option 1</option>
														<option value="2">Option 2</option>
														<option value="3">Option 3</option>
														<option value="4">Option 4</option>
														<option value="5">Option 5</option>
													</select>
												</div>

												<div class="col-md-1 alto-completo visible-md visible-lg hidden-sm hidden-xs">
													&nbsp;
												</div>

												<div class="col-md-3 text-left alto-completo">
													<h3 class="modelo-titular txt-negrita">Resultados</h3>
													<p class="txt-negro">Total a financiar: <span class="txt-rojo">$123456</span></p>
													<p class="txt-negro">Cuotas Mensuales: <span class="txt-rojo">$123456</span></p>
													<p class="txt-negro">Precio final con financiamiento: <span class="txt-rojo">$123456</span></p>
													<p class="cotizar-descripcion">
														<span class="txt-rojo">*</span>Los precios no incluyen seguro ni dispositivos.
														Suspendisse eu erat sed felis convallis dictum ac eu ipsum. Suspendisse dictum, tellus at tincidunt luctus, dui neque elementum mi, eget scelerisque arcu leo id sem.
													</p>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4 col-md-offset-1 alto-completo">
													<a href="#" class="btn btn-blanco">Anterior</a>
												</div>
												<div class="col-md-4 col-md-offset-2 alto-completo">
													<a href="#" class="btn btn-rojo">Siguiente</a>
												</div>
											</div>
										</div><!-- v-center-contenido -->
									</div><!-- v-center-contenedor -->
								</div>
							</div>

							<div class="tab-pane fade alto-completo" id="paso-3">
								<form role="form" class="container alto-completo">								
									<div class="v-center-contenedor">
										<div class="v-center-contenido">
											<div class="row">
												<div class="col-md-4 col-md-offset-1 alto-completo">
													<div class="form-group">
														<label for="nombreInput">Nombre:</label>
														<input type="text" class="form-control" id="nombreInput" maxlength="50" placeholder="">
													</div>
													<div class="form-group">
														<label for="apellidoInput">Apellido:</label>
														<input type="text" class="form-control" id="apellidoInput" maxlength="50" placeholder="">
													</div>
													<div class="form-group">
														<label for="cedulaInput">Cédula:</label>
														<input type="number" class="form-control" id="cedulaInput" maxlength="10" placeholder="">
													</div>
													<div class="form-group">
														<label for="telefonoInput">Teléfono:</label>
														<input type="number" class="form-control" id="telefonoInput" maxlength="15" placeholder="">
													</div>
												</div>
												<div class="col-md-4 col-md-offset-2 alto-completo">
													<div class="form-group">
														<label for="emailInput">Email:</label>
														<input type="email" class="form-control" id="emailInput" maxlength="50" placeholder="">
													</div>
													<div class="form-group">
														<label for="ciudadInput">Ciudad:</label>
														<input type="text" class="form-control" id="ciudadInput" maxlength="50" placeholder="">
													</div>
													<div class="form-group">
														<label for="mensajeInput">Mensaje:</label>
														<textarea class="form-control" id="mensajeInput" rows="5" maxlength="200"></textarea>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8 col-md-offset-1 alto-completo">
													<div class="form-group">
														<label for="mensajeInput">Complete los campos:</label>
														************ captcha
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4 col-md-offset-1 alto-completo">
													<a href="#" class="btn btn-blanco">Anterior</a>
												</div>
												<div class="col-md-4 col-md-offset-2 alto-completo">
													<input type="submit" class="btn btn-rojo" value="Enviar" />
												</div>
											</div>
										</div><!-- v-center-contenido -->
									</div><!-- v-center-contenedor -->
								</form>
							</div>

						</div>
						
					
				
			</div>
			
		</div> <!-- vehiculo-cotizar -->

		{% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
		{% javascripts
			'@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.js'       
			'@CelmediaToyocostaPirelliBundle/Resources/public/js/bootstrap.min.js' 
			'@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery.scrollTo-1.4.2-min.js' 
			'@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery-ui-1.9.2.custom.js' 
			'@CelmediaToyocostaPirelliBundle/Resources/public/js/script.js' 
			'@CelmediaToyocostaVehiculosBundle/Resources/public/js/script.toyocosta.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
    </body>
</html>