{% extends 'CelmediaToyocostaVehiculosBundle::layout.html.twig' %}

	{% block contenidotoyocosta %}

		{% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' with { 'vehiculoId': vehiculo.id, 'vehiculoNombre': vehiculo.nombre, 'categoriaNombre': vehiculo.categoria.nombre} %}



		<div id="vehiculo-detalles" class="vehiculo-seccion-2">	
			<div class="espaciado-vehiculo visible-md visible-lg hidden-sm hidden-xs">
				&nbsp;
            </div>

			<div class="container-fluid vehiculo-banner" style="background-image: url({{ asset('uploads/vehiculo/banner/'   ~   vehiculo.imagenBanner ) }});">
				&nbsp;
			</div>

			<div class="vehiculo-descripcion">
				<div class="container">
					<div class="row espacio-a">
						<div class="col-md-6">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12" style="padding-left: 0px;">
										<ol class="breadcrumb breadcrumb-ty">
											<li>
												<a href="{{ path('toyocosta_homepage') }}" class="txt-rojo">Inicio</a>
											</li>
											<li class="active">{{vehiculo.nombre}}</li>
										</ol>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 texto-detalle">
										<h4 class="">Precio</h4>
										<h2 class="txt-precio">${{vehiculo.precioNeto}}</h2>
										<span class="espacio-a">{{vehiculo.descripcion}}</span>
										<br />
										<span class="espacio-a">{{vehiculo.informacion}}</span>
										{#
										<h4 class="">
											Mira el Test Drive de Andr&eacute;s con el Prius C
											<a href="#">
												{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/iconos/icono-flecha.png' %}
												<img src="{{ asset_url }}" class="" />
							            		{% endimage %}
											</a>
										</h4>
										#}
									</div>
								</div>
								<div class="row">
									<div class="col-md-7 espacio-a">
										<a href="{{ path('test_drive') }}" class="btn btn-vehiculo">Test Drive</a>
										<a href="{{ path('especificacion', {'vehiculoid': vehiculo.id } )  }}" class="btn btn-vehiculo">
											Especificaciones
										</a>
									</div>
									<div class="col-md-5 espacio-a">
										<a href="#vehiculo-cotizar" class="btn btn-vehiculo-rojo">Cotizar</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div id="vehiculo-colores-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">

							    <div class="container-fluid">
							    	<div class="row">
										<div class="carousel-inner carousel-inner-vh alto-completo">
											{% for vehiculoColor in vehiculoColores %}
										    <div class="item {% if loop.first %}active{% endif %} alto-completo">
												
													<div class="container-fluid">
														<div class="row  espacio-a">
										    				<img src="{{ asset('uploads/vehiculo/color/'   ~   vehiculoColor.imagenColor ) }}" class="img-responsive obj-centrar" />
														</div>
														<div class="row">
															<div class="col-md-12 text-center espacio-a">
																<span class="txt-negro">COLOR: {{ vehiculoColor.coloresvehiculo.nombre }}</span>
															</div>
														</div>
													</div>
												
										    </div><!-- item -->
											{% endfor %}
										</div>							    		
							    	</div>
							    	<div class="row">
									    <ol class="carousel-indicators carousel-indicators-vh">
									    	{% for vehiculoColor in vehiculoColores %}
									    		<li data-target="#vehiculo-colores-carousel" data-slide-to="{{loop.index -1 }}"  class="vehic-miniaturas {% if loop.first %}active{% endif %}" style="background-color: {{vehiculoColor.coloresvehiculo.valor}} ;"></li>
									    	{% endfor %}
									    </ol>
							    	</div>
							    </div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>  <!-- vehiculo-detalles -->


		<!-- vehiculo-modelos -->		
		{% if vehiculoModelos|length > 0 %}

		<div id="vehiculo-modelos" class="container-fluid fondoGris">
			<div class="row">
				<div class="col-md-12 text-center">
					<br /><br /><br /><br /><br /><br />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="vehiculo-seccion-titular">Modelos</h1>
				</div>
			</div>
			<div class="row">
				<div id="vehiculo-modelo-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">

					<div class="carousel-inner alto-completo">
						{% for row  in vehiculoModelos | batch(3) %}
						<div class="item {% if loop.first %}active{% endif %}">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-9 centrado-horizontal">
									{% for vehiculoModelo in row %}
									<div class="col-md-4 text-center c-modelo">
										<div class="vehic-modelo">
											<div class="container-fluid">
												<div class="row" style="min-height:190px;">
													<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
														<h3 class="modelo-titular txt-negrita espacio-a">{{ vehiculoModelo.nombre }}</h3>
														<p class="modelo-titular espacio-a">{{ vehiculoModelo.descripcion }}</p>
														<h4 class="txt-negro espacio-a">SIN IVA: <span class="txt-rojo">${{ vehiculoModelo.precio }}</span></h4>
														<h4 class="txt-negro espacio-a">CON IVA: <span class="txt-rojo">${{ vehiculoModelo.precioNeto }}</span></h4>
													</div>
												</div>
												<div class="row">
													<br />
												</div>
												<div class="row">
													<img src="{{ asset('uploads/vehiculo/modelo/' ~ vehiculoModelo.imagenModelo ) }}" class="img-responsive obj-centrar" />
												</div>
											</div>
										</div>
									</div>
									{% endfor %}

									</div>
								</div>
							</div>
						</div>

						{% endfor %}

					</div>

					{% if vehiculoModelos|length > 3 %}
						<!-- Controls -->
						<a class="left carousel-control galeria-v-control" href="#vehiculo-modelo-carousel" data-slide="prev">
							<div class="slider-galeria left"></div>
						</a>
						<a class="right carousel-control galeria-v-control" href="#vehiculo-modelo-carousel" data-slide="next">
							<div class="slider-galeria right"></div>
						</a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<br /><br /><br />
				</div>
			</div>
		</div>
		{% endif %}


		
		{% if vehiculo.imagenes|length > 0 %}
		<div id="vehiculo-galeria" class="vehiculo-seccion fondoGris">
			<br /><br /><br />
			<div id="vehiculo-carousel" class="carousel slide alto-completo" data-ride="carousel" data-interval="false">
				{#<ol class="carousel-indicators">
					{% for vGaleria in vehiculo.imagenes %}
						<li data-target="#vehiculo-carousel" data-slide-to="{{loop.index -1 }}"  class="{% if loop.first %}active{% endif %}"></li>
					{% endfor %}
				</ol>#}

				<div class="carousel-inner alto-completo">
					{% for vGaleria  in vehiculo.imagenes  %}
						<div class="item alto-completo {% if loop.first %}active{% endif %}">


					 	
						 {% media vGaleria.media , 'slider'  %}
						 
						</div><!-- item -->
					{% endfor %}
				</div>

				{% if vehiculo.imagenes|length > 1 %}
				<a class="left carousel-control galeria-v-control" href="#vehiculo-carousel" data-slide="prev">
					<div class="slider-galeria left"></div>
				</a>
				<a class="right carousel-control galeria-v-control" href="#vehiculo-carousel" data-slide="next">
					<div class="slider-galeria right"></div>
				</a>
				{% endif %}

			</div>
		</div> <!-- vehiculo-galeria -->
		{% endif %}


		<div id="vehiculo-cotizar" class="vehiculo-seccion-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<br /><br /><br /><br /><br /><br />
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
						<h1 class="txt-rojo txt-negrita">COTIZAR</h1>
					</div>
				</div>
			</div>	

			<form id="cotizarForm" method="get" action="" class="form-horizontal">
				<div id="rootwizard">
					<div class="cotizar-banner">
						<div class="container">
							<div class="row espacio-banner-cotizar">
								<ul class="nav-cotizar">
									<li>
										<a href="#tab1" data-toggle="tab" class="pasos paso-1">&nbsp;</a>
									</li>
									<li>
										<a href="#tab2" data-toggle="tab" class="pasos paso-2">&nbsp;</a>
									</li>
									<li>
										<a href="#tab3" data-toggle="tab" class="pasos paso-3">&nbsp;</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane" id="tab1">
							<div class="container espaciado-tabs">
								<div class="row espaciado-a">
									<div class="col-md-4">
										<div class="container-fluid">
											<div class="row espaciado-a">
												<h1 class="tab-titular">{{vehiculo.nombre}}</h1>
											</div>
											<div class="row espaciado-a">
												<div class="form-group">
													<label class="txt-negro" for="vselectmodelo">Modelo:</label>
													<select id="vselectmodelo" name="vselectmodelo" class="vselectmodelo select-custom required" onchange="modeloSelected(this);">
														{% for vehiculoModelo  in vehiculoModelos %}
															<option value="{{ vehiculoModelo.id }}">{{ vehiculoModelo.nombre }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-8 alto-completo">
										<img src="" alt="" id="imgModelo" class="img-responsive obj-centrar">
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="tab2">
							<div class="container espaciado-tabs">				
								<div class="row">
									<div class="col-md-3 text-left alto-completo">
										<h3 class="modelo-titular txt-negrita">Precio Total</h3>
										<p class="txt-negro">Precio sin IVA: <span class="txt-rojo" id="vpreciosi">$ 0</span></p>
										<p class="txt-negro">Precio con IVA: <span class="txt-rojo" id="vprecioci">$ 0</span></p>
										<p class="txt-negro">Entrada mínima: <span class="txt-rojo" id="ventradam">$ 0</span></p>
										<p class="cotizar-descripcion">
											<span class="txt-rojo">*</span>Los precios no incluyen seguro ni dispositivos. <br />
											La entrada mínima es de 30% del valor del vehículo. La calculadora de cuotas no incluye el seguro, ni dispositivos antirobos. Para obtener cuotas más exactas con estos datos, favor consultar directamente con el concesionario.   <br />
											El plazo, la tasa de interés, el seguro y los gastos administrativos varían según las instituciones financieras. 
										</p>
									</div>
									
									<div class="col-md-1 alto-completo visible-md visible-lg hidden-sm hidden-xs">
										&nbsp;
									</div>

									<div class="col-md-3 text-left alto-completo">
										<h3 class="modelo-titular txt-negrita">Cotizar</h3>
										<div class="form-group">
											<label class="txt-negro" for="vinputEntrada">Entrada:</label>
											<input type="number" class="form-control" name="vinputEntrada" id="vinputEntrada" placeholder="">
										</div>
										<div class="form-group">
											<label class="txt-negro" for="vselectplazo">Plazo:</label>
											<select name="vselectplazo" id="vselectplazo" class="selectplazo select-custom" onchange="plazoSelected(this);">
												<option value="">Selecciona un plazo</option>
											</select>
										</div>
									</div>

									<div class="col-md-1 alto-completo visible-md visible-lg hidden-sm hidden-xs">
										&nbsp;
									</div>

									<div class="col-md-3 text-left alto-completo">
										<h3 class="modelo-titular txt-negrita">Resultados</h3>
										<p class="txt-negro">Total a financiar: <span class="txt-rojo" id="vpreciofinanciar" >$ 0</span></p>
										<p class="txt-negro">Cuotas Mensuales: <span class="txt-rojo" id="vcuotas" >$ 0</span></p>
										<p class="txt-negro">Precio final con financiamiento: <span class="txt-rojo txt-negrita" id="vpreciofinal" >$ 0</span></p>
										<p class="cotizar-descripcion">
											<span class="txt-rojo">*</span>Esta información es únicamente referencial y no representa ningún compromiso con Toyocosta. Para recibir información exacta contactarse con cualquiera de los concesionario del país. 
											Esta información está sujeta a cambios sin previo aviso.
										</p>
									</div>
								</div>
							</div>


						</div>
						<div class="tab-pane" id="tab3">
							<div class="container espaciado-tabs">
								<div class="row">
									<div class="col-md-4 col-md-offset-1 alto-completo">
										<div class="form-group">
											<label for="vnombreInput">Nombre:</label>
											<input type="text" class="form-control" name="vnombreInput" id="vnombreInput" maxlength="50" placeholder="">
										</div>
										<div class="form-group">
											<label for="vapellidoInput">Apellido:</label>
											<input type="text" class="form-control" name="vapellidoInput" id="vapellidoInput" maxlength="50" placeholder="">
										</div>
										<div class="form-group">
											<label for="vcedulaInput">Cédula:</label>
											<input type="number" class="form-control" name="vcedulaInput" id="vcedulaInput" maxlength="10" placeholder="">
										</div>
										<div class="form-group">
											<label for="vtelefonoInput">Teléfono:</label>
											<input type="number" class="form-control" name="vtelefonoInput" id="vtelefonoInput" maxlength="15" placeholder="">
										</div>
									</div>
									<div class="col-md-4 col-md-offset-2 alto-completo">
										<div class="form-group">
											<label for="vemailInput">Email:</label>
											<input type="email" class="form-control" name="vemailInput" id="vemailInput" maxlength="50" placeholder="">
										</div>
										<div class="form-group">
											<label for="vciudadInput">Ciudad:</label>
											<input type="text" class="form-control" name="vciudadInput" id="vciudadInput" maxlength="50" placeholder="">
										</div>
										<div class="form-group">
											<label for="vmensajeInput">Mensaje:</label>
											<textarea class="form-control" name="vmensajeInput" id="vmensajeInput" rows="5" maxlength="200"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<ul class="pager wizard">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-6">
												<li class="previous first" style="display:none;">
													<a href="#" class="btn btn-anterior espaciado-a">First</a>
												</li>
												<li class="previous">
													<a href="#" class="btn btn-anterior espaciado-a">Anterior</a>
												</li>
											</div>
											<div class="col-md-6">
												<li class="next">
													<a href="#" class="btn btn-siguiente espaciado-a">Siguiente</a>
												</li>
												<li class="finish" style="display:none;">
													<a href="javascript:;" class="btn btn-siguiente espaciado-a">Enviar</a>
												</li>
											</div>
										</div>
									</div>
								</ul>								
							</div>
						</div>
					</div>
				</div>
			</form>


			<div class="container" id="contenedorEspereCotizar" style="display: none;">
				<div class="row">
					<div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 text-center">
						<h4 class="txt-rojo txt-negrita">Enviando información...</h4>
					</div>
				</div>
			</div>	









		</div>
	{% endblock %}