{% extends 'CelmediaToyocostaMontacargasBundle::layout.html.twig' %}

{% block seo %}
    
    <title>TOYOCOSTA | {{montacarga.montacargaSubcategoria.montacargaCategoria.nombre}} {{ montacarga.modelo }} | Cotización</title>
    
    <meta name="description" content="Solicita más información sobre el {{montacarga.montacargaSubcategoria.montacargaCategoria.nombre}} {{ montacarga.modelo }} llenando el siguiente formulario y un asesor de Toyocosta se comunicará contigo."/>

    <meta name="keywords" content="montacargas {{montacarga.montacargaSubcategoria.montacargaCategoria.nombre}} guayaquil, repuestos montacargas {{montacarga.montacargaSubcategoria.montacargaCategoria.nombre}} guayaquil, {{montacarga.montacargaSubcategoria.montacargaCategoria.nombre}} montacargas {{ montacarga.modelo }} cotización" />

{% endblock %}

{% block contenido %}

    {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerMenuPrincipal" ))   }}
    
    <div class="banner-montacargas">
        <h1 class="titulo-interno">COTIZACI&Oacute;N</h1>
    </div>

    <div class="container">  
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb fondo-blanco">
                  <li><a href="{{ path('toyocosta_homepage')}}">INICIO</a></li>
                  <li><a href="{{ path('montacargas_home')}}">MONTACARGAS</a></li>
                  <li><strong style="text-transform:uppercase;">COTIZACION</strong></li>
                  {% if app.request.get('_route') == "montacargas_cotizacion" %}
                  {#<li class="active"><strong style="text-transform:uppercase;">{{ montacarga.montacargaSubcategoria.nombre }}</strong></li>#}
                  <li class="active"><strong style="text-transform:uppercase;"> {{ montacarga.modelo }} </strong></li>
                  {% else %}
                  <li class="active"><strong style="text-transform:uppercase;"> {{ usado.modelo }} </strong></li>
                  {% endif %}
                </ol>
            </div>          
        </div>       
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 style="text-align:center">SOLICITAR COTIZACI&Oacute;N</h3>

                <form action="" {{ form_enctype(form) }} method="POST" role="form" id="form-register" class="form-horizontal">

                    {#{% if app.request.get('_route') == "montacargas_cotizacion" %}
                   
                    {% else %}
                   

                        {{ form_widget(form.usado, {'attr': {'class': 'form-control'}, 'value': usado.id }) }}

                    {% endif %}#}


                    {% if error %}
                        <div class="row space-input">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-xs-6" style="color: #e66; ">{{ error }}</div>
                               </div>  
                            </div>
                        </div>
                    {% endif %}

                    {{ form_widget(form._token) }}
                    <div class="row space-input">
                        <div class="col-md-6">
                           
                            {{ form_label(form.nombre, 'Nombre:', {'label_attr': {'class': 'col-sm-4'}}) }}
                           
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                                  

                        </div>

                        <div class="col-md-6">

                            {{ form_label(form.apellido, 'Apellido:', {'label_attr': {'class': 'col-sm-4'}}) }}

                            {{ form_widget(form.apellido, {'attr': {'class': 'form-control'}}) }}
                
                        </div>
                    </div>
                    <div class="row space-input">
                        <div class="col-md-6">
                           
                            {{ form_label(form.cedula, 'Cédula:', {'label_attr': {'class': 'col-sm-4'}}) }}
                           
                            {{ form_widget(form.cedula, {'attr': {'class': 'form-control'}}) }}
                                  

                        </div>

                        <div class="col-md-6">

                            {{ form_label(form.email, 'E-mail:', {'label_attr': {'class': 'col-sm-4'}}) }}

                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                
                        </div>
                    </div>

                     <div class="row space-input">
                        <div class="col-md-6">
                           
                            {{ form_label(form.telefono, 'Teléfono:', {'label_attr': {'class': 'col-sm-4'}}) }}
                           
                            {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                                  

                        </div>

                        <div class="col-md-6">

                            {{ form_label(form.ciudad, 'Ciudad:', {'label_attr': {'class': 'col-sm-4'}}) }}

                            {{ form_widget(form.ciudad, {'attr': {'class': 'form-control'}}) }}
                
                        </div>
                    </div>


                    <div class="row space-input">
                        <div class="col-md-12">

                            {{ form_label(form.mensaje, 'Mensaje:', {'label_attr': {'class': 'col-sm-4'}}) }}

                            {{ form_widget(form.mensaje, {'attr': {'class': 'form-control'}}) }}

                        </div>

                    </div>


                    <div class="row space-input">
                        <div class="col-md-12">
                            {{ form_label(form.captcha, 'Complete el campo:', {'label_attr': {'class': 'col-sm-4'}}) }}
                            
                            {{ form_widget(form.captcha, {'attr': {'class': 'form-control'}}) }}

                        </div>
                        
                    </div>

                    

                    <div class="row space-input">
                        <div style="padding-top:20px;" class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                {% if app.request.get('_route') == "montacargas_cotizacion" %}

                                    <a href="{{ path('ver_montacarga', {'categoria':montacarga.montacargaSubcategoria.montacargaCategoria.nombre, 'modelo':montacarga.modelo, 'montacargaid': montacarga.id } )  }}">
                                
                                {% else %}
                                    
                                    <a href="{{ path('montacargas_usados') }}">
                                {% endif %}
                                    
                                    <div class="btn btn-anterior" style="width:100%;">REGRESAR</div>
                                </a>
                                </div>
                                <div class="col-md-5">
                                    <input type="submit" style="width:100%;" class="btn btn-info" value="ENVIAR">
                                </div>
                            </div>  
                        </div>

                    </div>

                    
                </form>
                <br/><br/><br/>
            </div>
        </div>

    </div>



{% endblock %}

