{% extends 'CelmediaToyocostaMontacargasBundle::layout.html.twig' %}


{% block contenido %}

    {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerMenuPrincipal" ))   }}
	<div class="banner-montacargas">
		<h1 class="titulo-interno">SERVICIOS</h1>
	</div>


	<div class="container">			
		
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb fondo-blanco">
				  <li><a href="{{ path('toyocosta_homepage')}}">INICIO</a></li>
                  <li><a href="{{ path('montacargas_home')}}">MONTACARGAS</a></li>
				  <li class="active"><strong> POST VENTA</strong></li>
				</ol>
			
			</div>			
		</div>
		
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3 style="text-align:center"><strong>STOCK DE RESPUESTOS Y SERVICIO T&Eacute;CNICO</strong></h3>
				<div class="row">
					<div class="col-md-2 col-md-offset-3">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/img-circulo1.png' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}
			    	</div>
			    	<div class="col-md-2">	
			    		{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/img-circulo2.png' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}
			    	</div>	
			    	<div class="col-md-2">	
			    		{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/img-circulo3.png' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}
					</div>
					
				</div>
				
				<p class="descripcion-montacargas"><br/><br/>Contamos con un amplio stock de repuestos originales en nuestras bodegas manteniendo un inventario de partes que se ajusta a la operación de nuestros clientes. Nuestras operaciones están basado en el sistema TPS (Toyota Production System) y en la filosofía de Justo a tiempo.<br/><br/>

				Toyocosta S.A. ofrece a sus clientes Contratos de Servicio Industrial lo cual permite mantener una tarifa fija mensual de acuerdo a nuestras plantillas de mantenimiento y evitar paras innecesarias / no programadas de los equipos, además del soporte de nuestro equipo técnico en caso de presentarse situaciones de tipo correctivo. Podemos configurar diferentes tipos de planes de servicio en base a la operación y requerimientos de su empresa.<br/><br/>

				Contamos con vehículos taller equipados con elementos y herramientas de la más alta tecnología para atender a nuestros clientes en sus instalaciones, manteniendo nuestros estándares de calidad y servicio oportuno.<br/><br/>

				</p>	

				<h3 style="text-align:center"><strong>BENEFICIOS DEL SERVICIO POST VENTA TOYOTA</strong></h3>

				<p class="descripcion-montacargas"><br/>Al utilizar nuestro servicio de post venta que incluye repuestos originales, técnicos certificados y personal de atención para sus requerimientos,  se reducen las paralizaciones del equipo y se maximiza la vida útil del mismo, garantizando una alta eficiencia del montacargas, así como el rendimiento productivo del negocio.
				</p>

				<h3 style="text-align:center"><strong>OBJETIVOS</strong></h3>
				<div class="row">
					<div class="col-md-3 col-md-offset-2">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/img-objetivo1.jpg' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}
			    		<br/>
			    		{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/img-objetivo2.jpg' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}

			    		{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/servicios/qualified.jpg' %}
							<img src="{{ asset_url }}" class="img-responsive" />
			    		{% endimage %}

			    		
			    	</div>
			    	<div class="col-md-6"><br/><br/>	
			    		<ul class="lista-montacargas" style="margin-top: 40px;line-height: 22px;">
			    			<li>Técnicos constantemente capacitados en el país y en el exterior conforme los estándares de fábrica.</li><br/>
			    			<li>Talleres móviles para realizar los servicios de mantenimiento y reparación en su empresa (Mantenimiento Preventivo y Correctivo).</li><br/>
			    			<li>Instalación de bases técnicas (talleres) en su empresa.</li><br/>
			    			<li>Reparaciones integrales en nuestro taller.</li><br/>
			    			<li>Repuestos genuinos para asegurar la calidad total del servicio y maximizar la vida útil de su equipo.</li><br/>
			    			<li>Stock permanente de repuestos.</li><br/>
			    			<li>Servicio con cobertura a nivel nacional.</li>
			    		</ul>
			    	</div>	
			    	
				</div>
				<div class="row">
					<div class="col-md-12 text-center" style="padding-top:20px;">
						<a href="{{path('montacargas_contacto')}}" target="_blank">Solicite la atención de un representante de Posventa Industrial aquí.</a>
			    	</div>
			    	
				</div>

			</div>			
		</div>
			
		<br/><br/><br/>
	</div>										
	

{% endblock %}