{% extends 'CelmediaToyocostaMontacargasBundle::layout.html.twig' %}


{% block contenido %}

    {% include 'CelmediaToyocostaMontacargasBundle:Blocks:top.submenu.html.twig' %}

    
	<div class="banner-montacargas img-responsive"><h1 class="titulo-interno">MONTACARGAS</h1></div>


	<div class="container">			
		
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb fondo-blanco">
				  <li><a href="{{ path('montacargas_home')}}">INICIO</a></li>
				  <li class="active"><strong> MONTACARGAS</strong></li>
				</ol>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
				{% image '@CelmediaToyocostaMontacargasBundle/Resources/public/images/banner.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			<h3 style="text-align:center"><strong>TOYOTA EQUIPOS INDUSTRIALES</strong></h3>
			<p style="text-align:center; font-size:14px"><strong>EL Liderazgo no es una coincidencia</strong></p>
			<p class="descripcion-montacargas"><br/>Es un logro que solo es posible gracias al trabajo en equipo de las 3 marcas lideres en Log&iacute;stica Industrial. Toyota, BT, Raymond ponen a tu alcance 
			la mas completa oferta de equipos para el movimiento de materiales, con convenientes planes de financiamiento y la mayor calidad en servicios.</p><br/><br/>	
			</div>			
		</div>
		<div class="row">
			<div class="col-md-3" id="montacargas-1" >
				{% image '@CelmediaToyocostaMontacargasBundle/Resources/public/images/accesos/acceso-m-toyota.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div class="row categorias" id="contenido-interno-1">
        			<span class="logo-producto toyota"></span><br/>
	        		<div class="lista-categoria" >							
						<a style="text-decoration:none;" href="#"><span class="ver">Combusti&oacute;n Interna</span><br /><br /></a>
						<a style="text-decoration:none;"><span class="ver">El&eacute;ctricos Contrabalanceado</span><br /><br /></a>						
					</div>	
				</div>
			</div>

			
			<div class="col-md-3" id="montacargas-2">				
				{% image '@CelmediaToyocostaMontacargasBundle/Resources/public/images/accesos/acceso-raymond.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div class="row categorias" id="contenido-interno-2" >
					<span class="logo-producto raymond"></span><br/>
					<div class="lista-categoria">
						<a style="text-decoration:none;" href="#"><span class="ver">Combusti&oacute;n Interna</span><br /><br /></a>
						<a style="text-decoration:none;"><span class="ver">El&eacute;ctricos Contrabalanceado</span><br /><br /></a>
					</div>
				</div>				
			</div>

			<div class="col-md-3" id="montacargas-3">				
				{% image '@CelmediaToyocostaMontacargasBundle/Resources/public/images/accesos/acceso_bt.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div id="contenido-interno-3" class="row categorias">
					<span class="logo-producto bt"></span><br />
					<div class="lista-categoria">
						<a style="text-decoration:none;"><span class="ver">Combusti&oacute;n Interna</span><br /><br /></a>
						<a style="text-decoration:none;"><span class="ver">El&eacute;ctricos Contrabalanceado</span><br /><br /></a>
					</div>
				</div>
			</div>	

			<div class="col-md-3" id="montacargas-4">				
				{% image '@CelmediaToyocostaMontacargasBundle/Resources/public/images/accesos/acceso-cascade.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div id="contenido-interno-4" class="row categorias">
					<span class="logo-producto cascade"></span><br />
					<div class="lista-categoria">
						<a style="text-decoration:none;"><span class="ver">Combusti&oacute;n Interna</span><br /><br /></a>
						<a style="text-decoration:none;"><span class="ver">El&eacute;ctricos Contrabalanceado</span><br /><br /></a>
					</div>
				</div>				
			</div>
			
		</div>	
		<br/><br/><br/>
	</div>										
	

{% endblock %}
