{% extends 'CelmediaToyocostaMontacargasBundle::layout.html.twig' %}


{% block contenido %}

    {% include 'CelmediaToyocostaMontacargasBundle:Blocks:top.submenu.html.twig' %}

    
	<div class="banner-montacargas"><h1 class="titulo-interno">MONTACARGAS</h1></div>

	{#<div class="row banner-montacargas img-responsive">
		<div class="container contenedor-centrar">
			<div class="text-left">
	            <h1 class="title-banner">MONTACARGAS</h1>
	        </div>
		</div>
	</div>#}

	<div class="container">			
		
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb fondo-blanco">
				  <li><a href="{{ path('montacargas_home')}}">INICIO</a></li>
				  <li class="active"><strong> MONTACARGAS</strong></li>
				</ol>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/montacargas.gif' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			<h3 style="text-align:center"><strong>TOYOTA EQUIPOS INDUSTRIALES</strong></h3>
			<p style="text-align:center; font-size:14px"><strong>EL Liderazgo no es una coincidencia</strong></p>
			<p class="descripcion-montacargas"><br/>Es un logro que solo es posible gracias al trabajo en equipo de las 3 marcas lideres en Log&iacute;stica Industrial. Toyota, BT, Raymond ponen a tu alcance 
			la mas completa oferta de equipos para el movimiento de materiales, con convenientes planes de financiamiento y la mayor calidad en servicios.</p><br/><br/>	
			</div>			
		</div>
		<div class="row">
			<div class="col-md-3" id="montacargas-1" >
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/accesos/acceso-m-toyota.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div class="row categorias" id="contenido-interno-1">
        			<span class="logo-producto toyota"></span><br/>
	        		<div class="lista-categoria" >					
						<span class="ver">Modelos a gas, gasolina y diesel</span>
						<br />
						<span class="ver">Capacidad de carga hasta 8000 Kg.</span>
						<br />
						<span class="ver">Altura de elevación desde 3000 - 7000 mm.</span>
						<br />
						<br />
					</div>	
				</div>
			</div>

			
			<div class="col-md-3" id="montacargas-2">				
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/accesos/acceso-raymond.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div class="row categorias" id="contenido-interno-2" >
					<span class="logo-producto raymond"></span><br/>
					<div class="lista-categoria">
						<span class="ver">Equipos eléctricos</span><br/>
						<span class="ver">Modelos para distintas funciones:</span><br/>
						<span class="ver" style="padding-left:20px;">Walkies</span><br/>
						<span class="ver" style="padding-left:20px;">Transpaletas</span><br/>
						<span class="ver" style="padding-left:20px;">Order Pickers</span><br/>
						<span class="ver" style="padding-left:20px;">Deep Reach</span><br/>
					</div>
				</div>				
			</div>

			<div class="col-md-3" id="montacargas-3">				
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/accesos/acceso_bt.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div id="contenido-interno-3" class="row categorias">
					<span class="logo-producto bt"></span><br />
					<div class="lista-categoria">						
						<span class="ver">Equipos hidráulicos y eléctricos</span><br/>
						<span class="ver">Modelos para distintas funciones:</span><br/>
						<span class="ver" style="padding-left:20px;">Transpaletas</span><br/>
						<span class="ver" style="padding-left:20px;">Apiladoras</span><br/>
						<span class="ver" style="padding-left:20px;">Order Pickers</span><br/>
						<span class="ver" style="padding-left:20px;">Capacidad de carga hasta 2500 Kg.</span><br/>
						<span class="ver" style="padding-left:20px;">Altura de elevación máxima de 12500mm</span><br/>
					</div>
				</div>
			</div>	

			<div class="col-md-3" id="">				
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/accesos/acceso-cascade.jpg' %}
					<img src="{{ asset_url }}" class="img-responsive" />
        		{% endimage %}
        		<div id="" class="row categorias">
					<span class="logo-producto cascade"></span><br />
					<div class="lista-categoria">
						
					</div>
				</div>				
			</div>
			
		</div>	
		<br/><br/><br/>
	</div>										
	

{% endblock %}
