

        <div class="row">        
            <div class="col-md-2" >
                <div class="styled-select">
                    <select name="selectmodelo" id="selectmodelo" class="form-control select-filtro selectcmb">
                        <option class="style-option" value="">Marca</option>
                        {% for sm_marca in marcas %}
                            <option class="style-option" value="{{ sm_marca.marca }}" {% if seminuevo_marca == sm_marca.marca %} selected="selected" {% endif %} >{{ sm_marca.marca }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="styled-select">
                    <select name="selectmodelo" id="selectmodelo" class="form-control select-filtro selectcmb">
                        <option class="style-option" value="">Modelo</option>
                        {% for sm_modelo in modelos %}
                            <option class="style-option" value="{{ sm_modelo.modelo }}" {% if seminuevo_modelo == sm_modelo.modelo %} selected="selected" {% endif %} >{{ sm_modelo.modelo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-1" >
                <div class="styled-select">
                    <select name="selectanio" id="selectanio" class="form-control select-filtro selectcmb">
                        <option class="style-option" value="">Año</option>
                        {% for sm_anio in anios %}
                        <option class="style-option" value="{{ sm_anio.anio }}" {% if seminuevo_anio == sm_anio.anio %} selected {% endif %} >{{ sm_anio.anio }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2" >
                <div class="styled-select">
                    <select name="selectprecio" id="selectprecio" class="form-control select-filtro selectcmb">
                        <option class="style-option" value="">Precio</option>
                        
                        {#<option value="0-1000" {% if seminuevo_precio == '0-1000' %} selected {% endif %}>$0-$1000</option>
                        <option value="1001-5000" {% if seminuevo_precio == '1001-5000' %} selected {% endif %}>$1001-$5000</option>#}
                        <option value="5001-10000" {% if seminuevo_precio == '5001-10000' %} selected {% endif %}>$5001-$10000</option>
                        <option value="10001-20000" {% if seminuevo_precio == '10001-20000' %} selected {% endif %}>$10001-$20000</option>
                        <option value="20001-40000" {% if seminuevo_precio == '20001-40000' %} selected {% endif %}>$20001-$40000</option>
                        <option value="40001-1000000000" {% if seminuevo_precio == '40001-1000000000' %} selected {% endif %}>+ $40001</option>

                        {#{% for sm_precio in precios %}
                            <option class="style-option" value="{{ sm_precio.precio }}" {% if seminuevo_precio == sm_precio.precio %} selected {% endif %} >{{ sm_precio.precio }}</option>
                        {% endfor %}#}

                    </select>
                </div>
            </div>

            <div class="col-md-2" >
                <div class="styled-select">
                    <select name="selectprovincia" id="selectprovincia" class="form-control select-filtro selectcmb">
                        <option class="style-option" value="">Ciudad</option>
                        {% for sm_provincia in provincias %}
                        <option class="style-option" value="{{ sm_provincia.ubicacion }}" {% if seminuevo_provincia == sm_provincia.ubicacion %} selected {% endif %} >{{ sm_provincia.ubicacion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-2" >
                <div class="styled-select">
                    <select name="selectestado" id="selectestado" class="form-control select-filtro selectcmb" style=" border-right: 1px solid #ccc;">
                        <option class="style-option" value="">Estado</option>
                        {% for sm_estado in estados %}
                        <option class="style-option" value="{{ sm_estado.estado }}" {% if seminuevo_estado == sm_estado.estado %} selected {% endif %} >
                        
                        {% if sm_estado.estado == 1 %}
                        
                            Destacado
                        {% elseif sm_estado.estado == 2 %}
                        
                            Disponible
                        {% elseif sm_estado.estado == 3 %}
                        
                            Próximamente
                        {% elseif sm_estado.estado == 4 %}
                        
                            Reservado
                        {% elseif sm_estado.estado == 5 %}
                        
                            Vendido
                        {% endif %}

                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
           
            <div class="col-md-1">
                <input type="submit" class="btn btn-rojo" value="Buscar" style="font-size:13px;min-width: 100px;" />
            </div>

        </div>
