{% extends 'CelmediaToyocostaVehiculosBundle::template.html.twig' %}

{% block seo %}
            
    <title>TOYOCOSTA | Seminuevos</title>
    
    <meta name="description" content="¿Necesitas vender tu auto? En Toyocosta te ofrecemos una amplia variedad de autos seminuevos con la mejor garantía."/>

    <meta name="keywords" content="autos seminuevos Toyota guayaquil, carros seminuevos toyota guayaquil, autos seminuevos toyocosta." />

{% endblock %}


{% block bannercabecera %}

        <header>
            
            <img src="{{ asset('uploads/custom/seminuevos.jpg' ) }}" alt="" class="img-responsive" style="width:100%;" />
            <div class="container header-usado">
                <div class="row">
                    <h1 class="titular-banner">SEMINUEVOS</h1>
                </div>
            </div>
        </header>
    
{% endblock %}


{% block contenidotoyocosta %}

	<div class="container-fluid buscador-seminuevo bg-black">
        <div class="row">

            <form class="col-md-8 col-md-offset-2" name="buscador" action="{{ path('usados_buscador') }}" method="post" style="padding:0px;" >
                
                {% if seminuevo_marca is not defined or seminuevo_marca is null %}
                    {% set seminuevo_marca = "0" %}
                {% endif %}
                {% if seminuevo_modelo is not defined or seminuevo_modelo is null %}
                    {% set seminuevo_modelo = "0" %}
                {% endif %}
                {% if seminuevo_anio is not defined or seminuevo_anio is null %}
                    {% set seminuevo_anio = "0" %}
                {% endif %}
                {% if seminuevo_precio is not defined or seminuevo_precio is null %}
                    {% set seminuevo_precio = "0" %}
                {% endif %}
                {% if seminuevo_provincia is not defined or seminuevo_provincia is null %}
                    {% set seminuevo_provincia = "0" %}
                {% endif %}
                {% if seminuevo_estado is not defined or seminuevo_estado is null %}
                    {% set seminuevo_estado = "0" %}
                {% endif %}

                {{ render(controller("CelmediaToyocostaSeminuevoBundle:Default:getFiltrosUsados" , { 'seminuevo_marca': seminuevo_marca, 'seminuevo_modelo': seminuevo_modelo, 'seminuevo_anio': seminuevo_anio, 'seminuevo_precio': seminuevo_precio, 'seminuevo_provincia': seminuevo_provincia, 'seminuevo_estado': seminuevo_estado } ) ) }}
            </form>

        </div>
    </div>

    <div class="usados">
        
        <div class="container ty-breadcrumb">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{{ path('toyocosta_homepage') }}">Inicio</a></li>
                    <li class="active">Seminuevos</li>
                    
                </ol>
            </div>
        </div>



        <div class="container">
            {% if seminuevos|length > 0 %} 

                {% set i = 0 %}
                {% for row  in seminuevos | batch(4) %}
                    <div class="row bloque-seminuevos" style="{% if loop.index > 2 %} display:none; {% endif %} margin-top:10px; ">
                        {% for seminuevo in row %}
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 bg-white contenedorProducto">
                                        <div class="ficha" style="margin-bottom: 33px;">
                                            <a id="seminuevo{{ seminuevo.modelo | replace({' ': '_'})  }}{{ seminuevo.id }}" href="#">
                                                <div class="row img-ficha-sm cimg-smpreview">
                                                    {% if seminuevo.estado == 1 %}
                                                    {#Destacado#}
                                                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/custom/img/icon/tags.png' %}
                                                        <img src="{{ asset_url }}" alt="" class="img-responsive destacado" />
                                                        {% endimage %}
                                                    {% endif %}
                                                    <img src="{{ asset('uploads/seminuevos/'   ~   seminuevo.galeria[0].imagen ) }}" alt="{{ seminuevo.modelo }}" class="img-responsive obj-centrar"/>

                                                </div>
                                            </a>
                                            <div class="row relleno">
                                                <div class="col-md-12">
                                                    <h5 class="text-marca">
                                                        {{seminuevo.marca}}
                                                    </h5>
                                                </div>
                                            </div>
                                            
                                            <div class="row relleno">
                                                <div class="col-md-12" style="min-height: 50px;">
                                                    <h5 class="text-modelo">
                                                        {{ seminuevo.modelo }}
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="divisor"></div>
                                            <div class="row relleno">
                                                <div class="col-md-5 col-xs-5">
                                                    <div class="semi-title">
                                                        <div class="ico-calendar"></div>Año
                                                    </div>
                                                    <div class="semi-title">
                                                        <div class="ico-kms"></div>Kms
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-xs-7 text-right">
                                                    <div class="semi-content">{{ seminuevo.anio }}</div>
                                                    <div class="semi-content">{{ seminuevo.kilometraje }} kms.</div>
                                                </div>
                                            </div>

                                            <div class="row relleno">
                                                <div class="col-md-7 col-xs-7" style="padding-top: 7px;">
                                                        {% if seminuevo.estado == 2 %}
                                                            <span class="circle-disp"></span>
                                                            <p class="txt-disponibilidad">
                                                            
                                                                Disponible
                                                            </p>
                                                        {% elseif seminuevo.estado == 1 %}
                                                            <span class="circle-disp"></span>
                                                            <p class="txt-disponibilidad">
                                                            
                                                                Disponible
                                                            </p>
                                                        {% elseif seminuevo.estado == 3 %}
                                                            <span class="circle-prox"></span>
                                                            <p class="txt-prox">
                                                            
                                                                Próximamente
                                                            </p>
                                                        {% elseif seminuevo.estado == 4 %}
                                                            
                                                            Reservado
                                                        {% elseif seminuevo.estado == 5 %}
                                                            
                                                            Vendido
                                                        {% endif %}
                                                </div>
                                                <div class="col-md-5 col-xs-5">
                                                    <p class="txt-smprecio">${{ seminuevo.precio|number_format(0, ',', '.') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row btn-toggle" style="display: none;">
                                            <a href="{{path('usados_descripcion', {"nomsemi": seminuevo.marca, "idsemi": seminuevo.id } )}}">
                                                <div class="col-md-12 col-xs-12 btn btn-black">
                                                    Ver más
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    
                                    
                                </div>
                                
                            </div>
                        </div>

                        {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if seminuevos|length > 8 %} 
                <div class="row" style="margin-top: 20px; margin-bottom:20px;">
                    <div class="col-md-4 col-md-offset-4 btn btn-black col-xs-8 col-xs-offset-2" onclick="mostrarSeminuevos();">
                        CARGAR M&Aacute;S
                    </div>
                </div>

            {% else %}
                <div class="row" style="margin-bottom:20px;">
                    &nbsp;
                </div>
            {% endif %}

        </div>

    </div>




{% endblock %}


{% block extrajs %}
    <script type="text/javascript">
        $(".select-filtro").selectbox({
            effect: "fade"
        });
    </script>
{% endblock %}