<div class="row menu-montacargas-top">
  <div class="submenu">
    
      <nav class="navbar navbar-default nav-pirelli nav-montacargas" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('montacargas_home') }}" style="padding-top:1px;">
              {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/logos/toyotaindustrial.png' %}
                <img src="{{ asset_url }}"  />
              {% endimage %}
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-nav-montacarga" id="nav-list-pirelli">
              <li  {% if app.request.get('_route') == 'montacargas_home' %} class="active" {% endif %}   >           
                <a href="{{ path('montacargas_home') }}">PRINCIPAL</a>
              </li>
              <li  {% if app.request.get('_route') == 'ver_montacarga' %}  class="active"  {% endif %}   >
                <a href="#" onclick='mostrarSubmenu("sample1");' >MODELOS</a>
              </li>


              <li  {% if app.request.get('_route') == 'montacargas_postventa' %}  class="active"  {% endif %}  >
                <a href="{{ path('montacargas_postventa') }}">POST VENTA</a>
              </li>
              <li  {% if app.request.get('_route') == 'montacargas_renta' %}  class="active"  {% endif %} >
                <a href="{{ path('montacargas_renta') }}">RENTAS</a>
              </li>
              {#<li  {% if app.request.get('_route') == 'montacargas_usados' %}  class="active"  {% endif %} >
                <a href="{{ path('montacargas_usados') }}">USADOS</a>
              </li>#}
              <li {% if app.request.get('_route') == 'montacargas_sas' %}  class="active"  {% endif %} >
                <a href="{{path('montacargas_sas')}}">SAS</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  </div>
</div>

 <div id="sample1"  class="sub-menu-montacargas-productos">
    


  <ul id="sample-menu-1" class="sf-menu">
    <li id="sub-menu-productos-1">
      <a class="img_producto" >
        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/sub-menu/subm-montacargas.jpg' %}
          <img src="{{ asset_url }}" class="img-responsive imagen-submenu" />
        {% endimage %}
      </a>
      {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerSubcategoriaXCategoria" , { 'categoriaId': 1 } ) ) }}

    </li>

    <li id="sub-menu-productos-2" >
      <a class="img_producto" >
        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/sub-menu/subm-raymond.jpg' %}
          <img src="{{ asset_url }}" class="img-responsive imagen-submenu"  />
        {% endimage %}
      </a>
      {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerSubcategoriaXCategoria" , { 'categoriaId': 2 } ) ) }}


    </li>

    <li id="sub-menu-productos-3" >
      <a class="img_producto" >
        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/sub-menu/subm-bt.jpg' %}
          <img src="{{ asset_url }}" class="img-responsive imagen-submenu"  />
        {% endimage %}
      </a>
      {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerSubcategoriaXCategoria" , { 'categoriaId': 3 } ) ) }}


    </li>

    <li id="sub-menu-productos-4">
      <a class="img_producto" >
        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/montacargas/sub-menu/subm-cascade.jpg' %}
          <img src="{{ asset_url }}" class="img-responsive imagen-submenu" />
        {% endimage %}
      </a>
       {{ render(controller("CelmediaToyocostaMontacargasBundle:Default:obtenerSubcategoriaXCategoria" , { 'categoriaId': 4 } ) ) }}
    </li>

  </ul>


</div>


