	{#
        <form name="filtro_buscador" action="{{ path('pirelli_filtro') }}" method="post">
    #}


        <input type="hidden" name="categoriallanta" value="{{ tipo_llanta }}" />
        <div class="row">        
            <div class="col-md-4 unido" >
            <!-- <div class="col-md-3 unido" > -->
                <div class="styled-select" style="height: 50px;">
                    <select name="selectmodelo" id="selectmodelo" class="form-control select-pirelli">
                        <option class="style-option" value="0">Modelo</option>
                        {% for llantamodelo in modelos %}
                            <option class="style-option" value="{{ llantamodelo.modelo }}" {% if llanta_modelo == llantamodelo.modelo %} selected="selected" {% endif %} >{{ llantamodelo.modelo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4 unido" >
            <!-- <div class="col-md-3 unido" > -->
                <div class="styled-select" style="height: 50px;">
                    <select name="selectmedida" id="selectmedida" class="form-control select-pirelli">
                        <option class="style-option" value="0">Medida</option>
                        {% for llantamedida in medidas %}
                        <option class="style-option" value="{{ llantamedida.medida }}" {% if llanta_medida == llantamedida.medida %} selected {% endif %} >{{ llantamedida.medida }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4 unido" >
            <!-- <div class="col-md-3 unido" > -->
                <div class="styled-select" style="height: 50px;">
                    <select name="selectrin" id="selectrin" class="form-control select-pirelli">
                        <option class="style-option" value="0">Tama&#241;o de Aro</option>
                        {% for llantarin in rines %}
                        <option class="style-option" value="{{ llantarin.rin }}" {% if llanta_rin == llantarin.rin %} selected {% endif %} >{{ llantarin.rin }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {#
            <div class="col-md-3 unido" >
                <div class="styled-select" style="height: 50px;">
                    <select name="selectprecio" id="selectprecio" class="form-control select-pirelli">
                        <option class="style-option" value="0">Precio</option>
                        {% for llantaprecio in precios %}
                        <option class="style-option" value="{{ llantaprecio.precio }}" {% if llanta_precio == llantaprecio.precio %} selected {% endif %}  >{{ llantaprecio.precio }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            #}
        </div>

        

{#
    </form>}
#}
