<div id="footer">
	<div class="container" style="padding-top:20px;">
		<div class="row" style="padding-top: 10px;padding-bottom: 10px;">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Empresa</p>
				<p class="links-footer">
					<a href="{{ path('empresa') }}">Quienes Somos</a><br />
					<a href="{{ path('recursos_humanos') }}">Trabaje con Nosotros</a><br />
					<a href="{{ path('certificados') }}">Certificado Toyocosta</a><br />
					<a href="{{ path('pirelli_home') }}">Pirelli</a><br />
					<a href="{{ path('seminuevos_home') }}">Seminuevos</a>
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Veh&iacute;culos</p>
				<p class="links-footer">
					<a href="{{ path('autos') }}">Autos</a><br />
					<a href="{{ path('camionetas') }}">Camionetas</a><br />
					<a href="{{ path('suv') }}">Todo Terreno</a><br />
					{#<a href="{{ path('hibridos') }}">H&iacute;bridos</a><br />#}
					<a href="{{ path('montacargas_home') }}">Montacargas</a><br />
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Servicios</p>
				<p class="links-footer">
					<a href="{{ path('mantenimiento') }}">Cita de Mantenimiento</a><br />
					<a href="{{ path('mantenimiento') }}">Revisi&oacute;n Vehicular</a><br />
					<a href="{{ path('mantenimiento') }}">Enderezada y Pintura</a><br />
					<a href="{{ path('mantenimiento') }}">Mantenimiento express</a><br />
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Redes Sociales</p>
				<div class="face-icon">
					<p class="links-footer" style="padding-left: 32px; padding-top: 5px;">
						<a href="https://www.facebook.com/toyocosta">Hazte Fan</a>
					</p>
				</div>
				<div class="tweet-icon">
					<p class="links-footer" style="padding-left: 32px; padding-top: 5px;">
						<a href="https://twitter.com/toyocostanews">Siguenos</a>
					</p>
				</div>
				<div class="blog-icon">
					<p class="links-footer" style="padding-left: 32px; padding-top: 5px;">
						<a href="http://www.toyocosta.com/blog/">Blog</a>
					</p>
				</div>
				<div class="whatsapp-icon">
					<p class="links-footer" style="padding-left: 32px; padding-top: 5px;">
						0991214480
					</p>
				</div>
				
			</div>
		</div>

		<div class="row" style="border-top: 1px solid #656565;padding-top: 30px;padding-bottom: 15px;">

			<div class="col-md-3">
				<div class="ico-agencia" style="width: 32px;height: 32px; margin-right:8px;background-position:center; position:relative;float:left;background-image:url('{{asset('bundles/celmediatoyocostavehiculos/images/icon/agencia.png')}}')">&nbsp;</div>
				<span class="txt-negrita">Oficina Matriz / Orellana</span>
				<p>	PBX. 3704700</p>
			</div>
			

			<div class="col-md-3">
				<div class="ico-agencia" style="width: 32px;height: 32px; margin-right:8px;background-position:center; position:relative;float:left;background-image:url('{{asset('bundles/celmediatoyocostavehiculos/images/icon/agencia.png')}}')">&nbsp;</div>
				<span class="txt-negrita">Agencia Daule / Rent</span>
				<p>
					PBX. 3704780
				</p>
			</div>

			
			<div class="col-md-3">
				<div class="ico-agencia" style="width: 32px;height: 32px; margin-right:8px;background-position:center; position:relative;float:left;background-image:url('{{asset('bundles/celmediatoyocostavehiculos/images/icon/agencia.png')}}')">&nbsp;</div>
				<span class="txt-negrita">Agencia Manta</span>
				<p>
					PBX. 3700320
				</p>
			</div>

			<div class="col-md-3">
				<div class="ico-agencia" style="width: 32px;height: 32px; margin-right:8px;background-position:center; position:relative;float:left;background-image:url('{{asset('bundles/celmediatoyocostavehiculos/images/icon/agencia.png')}}')">&nbsp;</div>
				<span class="txt-negrita">Agencia Quevedo</span>
				<p>
					PBX. 3700310
				</p>
			</div>


		</div>

		<div class="row" style="padding-bottom:15px;">
			<h1 class="copy-footer" style="margin-top:0px;margin-bottom:50px;">COPYRIGHT @2014 TOYOCOSTA ALL RIGHTS RESERVED</h1>
		</div>
	</div>
</div>

<div id="footer-banners" class="banners-foot navbar-fixed-bottom">
	<div id="footer-boton" class="container-fluid">
		<div style="cursor:pointer;" class="col-md-2" onclick="mostrarBanners();">
			<div id="mas">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/iconos/mas.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
				{% endimage %}
			</div>
			<div id="cerrar" style="display:none;">
				{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/iconos/cerrar.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
				{% endimage %}
			</div>
		</div>
	</div>

	<div id="banners" class="row footer-banners border-rojo">
		<div id="footer-logos" class="container">
			<div class="row logo-toyota">

				<div class="col-md-2 col-sm-2 col-xs-4 obj-centrar">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/toyota.png' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive"/>
						{% endimage %}
					
				</div>
				
				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/seminuevos.png' %}
						<img src="{{ asset_url }}" alt="seminuevos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/pirelli.png' %}
						<img src="{{ asset_url }}" alt="pirelli" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/toyotaindustrial.png' %}
						<img src="{{ asset_url }}" alt="toyota equipos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/bt.png' %}
						<img src="{{ asset_url }}" alt="pirelli" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/raymond.png' %}
						<img src="{{ asset_url }}" alt="toyota equipos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				
				
			</div>
		</div>

		<div id="list-banners" class="container" style="">
			<div class="row accesos text-center">
				<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1 col-xs-4">
					<a class="link-none link-accesos" href="http://www.toyota.com.ec/exonerados/">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-footer/promo-movilidad.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>

				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="{{ path('mantenimiento')}}">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-footer/cita.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="{{ path('pirelli_home')}}">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-footer/pirellibanner.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="{{ path('montacargas_home')}}">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-footer/montacargas.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>

				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="{{ path('seminuevos_home')}}">
						{% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/banners-footer/seminuevos.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<!-- <div class="exonerados-footer"></div> -->
					<!-- <div class="col-md-2">
						<a class="link-none" href="#"><div class="cita-footer"></div></a>
					</div>
					<div class="col-md-2">
						<a class="link-none" href="#"><div class="pirelli-footer"></div></a>
					</div>
					<div class="col-md-2">
					<a class="link-none" href="#"><div class="montacargas-footer"></div></a>
					</div>
					<div class="col-md-2">
					<a class="link-none" href="#"><div class="seminuevos-footer"></div></a>
				</div> -->
				
			</div>
		</div>
	</div>

</div>


