<div id="footer">
	<div class="container" style="padding-top:20px;">
		<div class="row" style="padding-top: 10px;padding-bottom: 10px;">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Empresa</p>
				<p class="links-footer">
					<a href="{{ path('empresa') }}">Quienes Somos</a><br />
					<a href="{{ path('recursos_humanos') }}">Trabaje con Nosotros</a><br />
					<a href="{{ path('certificados') }}">Certificado Toyocosta</a><br />
					<a href="{{ path('pirelli_home') }}">Pirelli</a><br />
					<a href="{{ path('seminuevos_home') }}">Seminuevos</a>
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Veh&iacute;culos</p>
				<p class="links-footer">
					<a href="{{ path('autos') }}">Autos</a><br />
					<a href="{{ path('camionetas') }}">Camionetas</a><br />
					<a href="{{ path('suv') }}">Todo Terreno</a><br />
					<a href="{{ path('hibridos') }}">H&iacute;bridos</a><br />
					<a href="{{ path('montacargas_home') }}">Montacargas</a><br />
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Servicios</p>
				<p class="links-footer">
					<a href="{{ path('mantenimiento') }}">Cita de Mantenimiento</a><br />
					<a href="{{ path('mantenimiento') }}">Revisi&oacute;n Vehicular</a><br />
					<a href="{{ path('mantenimiento') }}">Enderezada y Pintura</a><br />
					<a href="{{ path('mantenimiento') }}">Mantenimiento express</a><br />
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<p class="text-footer">Redes Sociales</p>
				<div class="face-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://www.facebook.com/toyocosta">Hazte Fan</a>
					</p>
				</div>
				<div class="tweet-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://twitter.com/toyocosta">Siguenos</a>
					</p>
				</div>
				<div class="blog-icon">
					<p class="links-footer" style="padding-left: 32px;">
						<a href="http://www.toyocosta.com/blog/">Blog</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row" style="padding-bottom:15px;">
			<h1 class="copy-footer" style="margin-top:0px;margin-bottom:35px;">COPYRIGHT @2014 TOYOCOSTA ALL RIGHTS RESERVED</h1>
		</div>
	</div>
</div>

<div id="footer-banners" class="banners-foot navbar-fixed-bottom">
	<div id="footer-boton" class="container-fluid">
		<div style="cursor:pointer;" class="col-md-2" onclick="mostrarBanners();">
			<div id="mas">
				{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Iconos/mas.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
				{% endimage %}
			</div>
			<div id="cerrar" style="display:none;">
				{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Iconos/cerrar.png' %}
				<img src="{{ asset_url }}" alt="" class=""/>
				{% endimage %}
			</div>
		</div>
	</div>

	<div id="banners" class="row footer-banners border-rojo">
		<div id="footer-logos" class="container">
			<div class="row logo-toyota">

				<div class="col-md-2 col-sm-2 col-xs-4 obj-centrar">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/toyota.png' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive"/>
						{% endimage %}
					
				</div>
				
				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/seminuevos.png' %}
						<img src="{{ asset_url }}" alt="seminuevos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/pirelli.png' %}
						<img src="{{ asset_url }}" alt="pirelli" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/toyotaindustrial.png' %}
						<img src="{{ asset_url }}" alt="toyota equipos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/bt.png' %}
						<img src="{{ asset_url }}" alt="pirelli" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4">
					
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/raymond.png' %}
						<img src="{{ asset_url }}" alt="toyota equipos" class="img-responsive obj-centrar"/>
						{% endimage %}
					
				</div>

				
				
			</div>
		</div>

		<div id="list-banners" class="container" style="">
			<div class="row accesos text-center">
				<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1 col-xs-4">
					<a class="link-none link-accesos" href="#">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/banners-footer/exonerados.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>

				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="#">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/banners-footer/cita.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="#">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/banners-footer/pirellibanner.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="#">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/banners-footer/montacargas.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>

				<div class="col-md-2 col-sm-2 text-center col-xs-4">
					<a class="link-none link-accesos" href="#">
						{% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/banners-footer/seminuevos.jpg' %}
						<img src="{{ asset_url }}" alt="" class="img-responsive obj-centrar"/>
						{% endimage %}
					</a>
				</div>
				
				<!-- <div class="exonerados-footer"></div> -->
					<!-- <div class="col-md-2">
						<a class="link-none" href="#"><div class="cita-footer"></div></a>
					</div>
					<div class="col-md-2">
						<a class="link-none" href="#"><div class="pirelli-footer"></div></a>
					</div>
					<div class="col-md-2">
					<a class="link-none" href="#"><div class="montacargas-footer"></div></a>
					</div>
					<div class="col-md-2">
					<a class="link-none" href="#"><div class="seminuevos-footer"></div></a>
				</div> -->
				
			</div>
		</div>
	</div>

</div>


