<div class="alto-pirelli">
  
</div>
<!-- <div class="row"> -->

  <div class="submenu">
    
      <nav class="navbar navbar-default nav-pirelli" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('pirelli_home') }}" style="padding-top:0px;">
              {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/pirelli/logos/pirelli.jpg' %}
                <img src="{{ asset_url }}" alt="llanta" class="img-responsive" />
              {% endimage %}
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="nav-list-pirelli">
              <li  {% if app.request.get('_route') == 'pirelli_home' %} class="active" {% endif %}   >           
                <a href="{{ path('pirelli_home') }}">LLANTAS AUTO</a>
              </li>
              <li  {% if app.request.get('_route') == 'pirelli_camioneta' %}  class="active"  {% endif %}   >
                <a href="{{ path('pirelli_camioneta') }}">LLANTAS CAMIONETA</a>
              </li>
              <li  {% if app.request.get('_route') == 'pirelli_suv' %}  class="active"  {% endif %}  >
                <a href="{{ path('pirelli_suv') }}">LLANTAS SUV</a>
              </li>
              <li  {% if app.request.get('_route') == 'pirelli_industrial' %}  class="active"  {% endif %} >
                <a href="{{ path('pirelli_industrial') }}">LLANTAS INDUSTRIAL</a>
              </li>
              <li  {% if app.request.get('_route') == 'pirelli_camion' %}  class="active"  {% endif %} >
                <a href="{{ path('pirelli_camion') }}">LLANTAS CAMION</a>
              </li>
              <li {% if app.request.get('_route') == 'pirelli_distribuidores' %}  class="active"  {% endif %} ><a href="{{path('pirelli_distribuidores')}}">DISTRIBUIDORES</a></li>
            </ul>
          </div>
        </div>
      </nav>


  </div>
<!-- </div> -->

{#<div class="container-fluid fondo-submenu-vehiculo">
          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-4 col-md-offset-1 text-center">

            
              {% image '@CelmediaToyocostaPirelliBundle/Resources/public/images/Logos/pirelli.jpg' %}
                <img src="{{ asset_url }}" alt="pirelli" class="img-responsive obj-centrar" />
              {% endimage %}
            
            </div>
            <div class="col-md-9 col-sm-8 col-xs-8 text-left centrado-vertical">
              <div class="container-fluid">
                <div class="row submenu-vehiculo page-scroll">
                  <div class="col-md-2 col-sm-2 text-center">
          
                    <a href="{{ path('pirelli_home') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_home" %}active{% endif %}" >LLANTAS AUTO</a>

                  </div>
                  <div class="col-md-2 col-sm-2 text-center">

                    <a href="{{ path('pirelli_camioneta') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_camioneta" %}active{% endif %}" >LLANTAS CAMIONETA</a>

                  </div>
                  <div class="col-md-2 col-sm-2 text-center">

                    <a href="{{ path('pirelli_suv') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_suv" %}active{% endif %}" >LLANTAS SUV</a>

                  </div>

                  <div class="col-md-2 col-sm-2 text-center">
                    <a href="{{ path('pirelli_industrial') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_industrial" %}active{% endif %}" >LLANTAS INDUSTRIAL</a>
                  </div>
                  
                  <div class="col-md-2 col-sm-2 text-center">
                    <a href="{{ path('pirelli_camion') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_camion" %}active{% endif %}" >LLANTAS CAMION</a>
                  </div>

                  <div class="col-md-2 col-sm-2 text-center">
                    <a href="{{ path('pirelli_distribuidores') }}" class="submenu-vehiculo-item {% if app.request.get('_route') == "pirelli_distribuidores" %}active{% endif %}" >DISTRIBUIDORES</a>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>#}