<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->
        <title>Toyocosta :: Seminuevos</title>

        {% stylesheets
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/bootstrap.min.css"
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/jquery.selectbox/jquery.selectbox.css"
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/menu.toyocosta.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/footer.css"
            "@CelmediaToyocostaPirelliBundle/Resources/public/css/estilo.pirelli.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/style.css"
            "@CelmediaToyocostaVehiculosBundle/Resources/public/css/yc.css"
         %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body data-spy="scroll" data-target="#seminuevos-scroll" id="top-ty">


        {% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}


        {% block registro %}

            {% if app.user %}
                
                <div class="container-fluid espaciado-menu-2">
                    &nbsp;as
                </div>

            {% else %}

                {#<div class="container-fluid espaciado-menu visible-md visible-lg hidden-sm hidden-xs">
                    &nbsp;as
                </div>
                {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/banner-seminuevo.jpg' %}
                <div class="container-fluid seminuevo-banner" style="background-image: url({{ asset_url }});height:277px;">
                    <div class="v-center-contenedor">
                        <div class="v-bottom-contenido">
                            <div class="container-fluid">
                                <div class="row text-center">
                                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                        <h4 class="txt-blanco">¿Quieres comprar o vender tu auto?</h4>
                                        <a href="{{ path('seminuevos_register') }}" class="btn btn-lg btn-registrate">Regístrate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endimage %}#}

                <div class="row banner-seminuevos">
                    <div class="v-center-contenedor">
                        <div class="v-bottom-contenido">
                            <div class="container-fluid">
                                <div class="row text-center">
                                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                        <h4 class="txt-blanco" style=" margin-bottom: 0;text-transform: uppercase;">¿Quieres comprar o vender tu auto?</h4>
                                        <a href="{{ path('seminuevos_register') }}" class="btn btn-lg btn-registrate">Regístrate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    
                {#{% include "SonataUserBundle:Security:base_login.html.twig" %}#}

                {{ render(controller('CelmediaToyocostaSeminuevoBundle:Security:login')) }}
                
                    
            {% endif %}


        {% endblock %}

        {% block contenidoseminuevos1 %}

        {% endblock %}

        
        {% block breadcrumb %}

            
            
        {% endblock %}


        {% block contenidoseminuevos2 %}

        {% endblock %}


        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
             {% javascripts
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.js'       
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery.scrollTo-1.4.2-min.js' 
                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/jquery-ui-1.9.2.custom.js' 
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/bootstrap.min.js' 

                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.selectbox/jquery.selectbox-0.2.js'        
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/jquery.validate.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/additional-methods.min.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/messages_es.js' 

                '@CelmediaToyocostaVehiculosBundle/Resources/public/js/script.toyocosta.js'
                '@CelmediaToyocostaPirelliBundle/Resources/public/js/script.js' 
                
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block js %}
            
        {% endblock %}
    </body>
</html>