<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->
        <title>Toyocosta :: Seminuevos</title>
        <meta name="description" content="Contamos con los mejores vehículos “seminuevos” del país. Tenemos los mejores precios y planes de financiamiento." />
        <meta name="keywords" content="Toyota seminuevos, Toyota Autos seminuevos, Toyota Suv seminuevos, Toyota Híbridos seminuevos, Toyota Montacargas seminuevos, Precios de Carros Toyota seminuevos, Carros Toyota Ecuador seminuevos, Carros Toyota seminuevos, Seminuevos Autos Ecuador, camionetas toyota seminuevos, autos toyota seminuevos, suv toyota seminuevos, hibrídos toyota seminuevos, montacargas toyota seminuevos" />
        
        
        {% include 'CelmediaToyocostaVehiculosBundle:Default:includes.html.twig' %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script>
        /**
        * Function that tracks a click on an outbound link in Google Analytics.
        * This function takes a valid URL string as an argument, and uses that URL string
        * as the event label.
        */
        var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
             function () {
             document.location = url;
             }
           });
        }
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-22594492-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body data-spy="scroll" data-target="#seminuevos-scroll" id="top-ty">


        {% include 'CelmediaToyocostaVehiculosBundle:Blocks:top.menu.secciones.html.twig' %}


        {% block registro %}

            {% if app.user %}
                
                <div class="container-fluid espaciado-menu-2">
                    &nbsp;as
                </div>

            {% else %}

                {#<div class="container-fluid espaciado-menu visible-md visible-lg hidden-sm hidden-xs">
                    &nbsp;as
                </div>
                {% image '@CelmediaToyocostaSeminuevoBundle/Resources/public/images/banner-seminuevo.jpg' %}
                <div class="container-fluid seminuevo-banner" style="background-image: url({{ asset_url }});height:277px;">
                    <div class="v-center-contenedor">
                        <div class="v-bottom-contenido">
                            <div class="container-fluid">
                                <div class="row text-center">
                                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                        <h4 class="txt-blanco">¿Quieres comprar o vender tu auto?</h4>
                                        <a href="{{ path('seminuevos_register') }}" class="btn btn-lg btn-registrate">Regístrate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endimage %}#}

                <div id="carousel-banners-seminuevo" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">

                    {% set i = 0 %}
                    {% for item in banners %}
                           
                    <div class="item {% if loop.first %} active {% endif %}">
                      
                        <img src="{{ asset('uploads/slide-principal/'   ~   item.imagenBanner ) }}" class="img-responsive obj-centrar" style="width:100%;">
                        <div class="carousel-caption" style="padding-bottom:0px;">
                                

                                <div class="row text-center">
                                    <div class="col-md-7 col-sm-8 col-md-offset-3 col-sm-offset-3">
                                        {% if item.descripcion %}
                                            <h4 class="txt-blanco" style=" margin-bottom: 0;text-transform: uppercase;">{{ item.descripcion }}</h4>

                                        {% endif %}
                                        {% if item.link and item.boton %}
                                        <a href="{{item.link}}" class="btn btn-lg btn-registrate">{{ item.boton }}</a>

                                        {% endif %}
                                    </div>
                                </div>

                        </div>
                        {% set i = i + 1 %}
                    </div>

                    {% endfor %}
                    {#<div class="item">
                        
                        {% image '@CelmediaToyocostaVehiculosBundle/Resources/public/images/banner/seminuevo.jpg' %}
                            <img src="{{ asset_url }}" class="img-responsive obj-centrar">
                        {% endimage %}
                        <div class="carousel-caption" style="padding-bottom:0px;">
                                
                                <div class="row text-center">
                                    
                                </div>
                        </div>
                    </div>#}

                  </div>

                  <!-- Controls -->
                  {#<a class="left carousel-control" href="#carousel-banners-seminuevo" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-banners-seminuevo" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>#}
                </div>


                {#<div class="row banner-seminuevos">
                    <div class="v-center-contenedor">
                        <div class="v-bottom-contenido">
                            <div class="container-fluid">
                                <div class="row text-center">
                                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                                        <h4 class="txt-blanco" style=" margin-bottom: 0;text-transform: uppercase;">¿Quieres comprar o vender tu auto?</h4>
                                        <a href="{{ path('seminuevos_register') }}" class="btn btn-lg btn-registrate">Regístrate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}

                    
                {#{% include "SonataUserBundle:Security:base_login.html.twig" %}#}

                {{ render(controller('CelmediaToyocostaSeminuevoBundle:Security:login')) }}
                
                    
            {% endif %}


        {% endblock %}

        {% block contenidoseminuevos1 %}

        {% endblock %}

        
        {% block breadcrumb %}

            
            
        {% endblock %}


        {% block contenidoseminuevos2 %}

        {% endblock %}


        {% include 'CelmediaToyocostaPirelliBundle:Blocks:footer.html.twig' %}
        

        {% include 'CelmediaToyocostaVehiculosBundle:Default:libs.html.twig' %}


        {% block js %}
            
        {% endblock %}


    </body>
</html>